workflows/[COACHING] - CRM GERAL: Agendamento SE - Parte 1.json
{
  "active": false,
  "connections": {
    "Evento Criado": {
      "main": [
        [
          {
            "node": "É Reagendamento1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Reagendamento": {
      "main": [
        [
          {
            "node": "reagendamento1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Evento Criado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Reagendamento1": {
      "main": [
        [
          {
            "node": "Não faça nada1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "formata_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cancelamento": {
      "main": [
        [
          {
            "node": "formata_dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "numeros_de_teste": {
      "main": [
        [],
        [
          {
            "node": "nao_faça_nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_dados": {
      "main": [
        [
          {
            "node": "dados_do_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_dados1": {
      "main": [
        [
          {
            "node": "dados_do_cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evento": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Campos Personalizados de Deals da Conta3": {
      "main": [
        [
          {
            "node": "Listar Pipelines e Status da Conta3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Pipelines e Status da Conta3": {
      "main": [
        [
          {
            "node": "Consulta Users da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Listar Campos Personalizados de Deals da Conta3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Campos Personalizados de Contatos da Conta": {
      "main": [
        [
          {
            "node": "Listar Tags da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Users da Conta": {
      "main": [
        [
          {
            "node": "Listar Campos Personalizados de Contatos da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sessao_estrategica": {
      "main": [
        [
          {
            "node": "É Reagendamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "aplicacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Tags da Conta": {
      "main": [
        [
          {
            "node": "Listar Tipos de Task da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aplicacao": {
      "main": [
        [
          {
            "node": "É Reagendamento2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evento Criado1": {
      "main": [
        [
          {
            "node": "É Reagendamento3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Reagendamento2": {
      "main": [
        [
          {
            "node": "reagendamento1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Evento Criado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_dados3": {
      "main": [
        [
          {
            "node": "dados_do_agendamento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Reagendamento3": {
      "main": [
        [
          {
            "node": "Não faça nada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "formata_dados3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reagendamento1": {
      "main": [
        [
          {
            "node": "formata_dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados_do_agendamento1": {
      "main": [
        [
          {
            "node": "entra_na_fila3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados_do_cancelamento": {
      "main": [
        [
          {
            "node": "entra_na_fila2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados_do_agendamento": {
      "main": [
        [
          {
            "node": "entra_na_fila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados_pipefy": {
      "main": [
        [
          {
            "node": "get_cards_via_email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_dados4": {
      "main": [
        [
          {
            "node": "dados_pipefy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evento Criado2": {
      "main": [
        [
          {
            "node": "É Reagendamento5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cancelamento2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Reagendamento4": {
      "main": [
        [
          {
            "node": "reagendamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Evento Criado2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Reagendamento5": {
      "main": [
        [
          {
            "node": "Não faça nada2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "formata_dados2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cancelamento2": {
      "main": [
        [
          {
            "node": "formata_dados5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_dados2": {
      "main": [
        [
          {
            "node": "dados_do_agendamento3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_dados5": {
      "main": [
        [
          {
            "node": "dados_do_cancelamento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sessao_estrategica1": {
      "main": [
        [
          {
            "node": "É Reagendamento4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "aplicacao1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aplicacao1": {
      "main": [
        [
          {
            "node": "É Reagendamento6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "nada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evento Criado3": {
      "main": [
        [
          {
            "node": "É Reagendamento7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cancelamento2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Reagendamento6": {
      "main": [
        [
          {
            "node": "reagendamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Evento Criado3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Reagendamento7": {
      "main": [
        [
          {
            "node": "Não faça nada3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "formata_dados6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_dados6": {
      "main": [
        [
          {
            "node": "dados_do_agendamento2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reagendamento": {
      "main": [
        [
          {
            "node": "formata_dados5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados_do_agendamento2": {
      "main": [
        [
          {
            "node": "entra_na_fila5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados_do_cancelamento1": {
      "main": [
        [
          {
            "node": "entra_na_fila4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados_do_agendamento3": {
      "main": [
        [
          {
            "node": "entra_na_fila1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "sessao_estrategica",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "sessao_estrategica1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-23T00:27:28.533Z",
  "id": "cRNDPiTviSHbjNcl",
  "meta": null,
  "name": "[COACHING] - CRM GERAL: Agendamento SE - Parte 1",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"event\"] }}",
              "value2": "invitee.created"
            }
          ]
        }
      },
      "id": "109f1c4f-21a9-46b7-83e5-44098c864aef",
      "name": "Evento Criado",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        880,
        680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"invitee\"][\"is_reschedule\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "d11772fd-5e2f-4fc2-924b-fadcf819814b",
      "name": "É Reagendamento",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        560,
        640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"old_invitee\"][\"is_reschedule\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "0f412671-437d-46ed-a1cb-76e93c65768f",
      "name": "É Reagendamento1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1180,
        560
      ]
    },
    {
      "parameters": {},
      "id": "ec45152a-a491-45b2-8009-1f3cd3dbbe2e",
      "name": "Não faça nada1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1480,
        400
      ]
    },
    {
      "parameters": {},
      "id": "671747aa-ba80-4cf4-b3bf-aa732b9e0048",
      "name": "cancelamento",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1500,
        1100
      ]
    },
    {
      "parameters": {},
      "id": "c5603715-b04c-47c8-bfea-583a27d9a62f",
      "name": "nao_faça_nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -220,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"payload\"][\"questions_and_responses\"][\"1_response\"] }}",
              "value2": "+55 31 98493-9743"
            },
            {
              "value1": "={{ $json[\"payload\"][\"questions_and_responses\"][\"1_response\"] }}",
              "value2": "+55 31 98571-1260"
            },
            {
              "value1": "={{ $json[\"payload\"][\"questions_and_responses\"][\"1_response\"] }}",
              "value2": "+55 71 98160-6543"
            },
            {
              "value1": "={{ $json[\"payload\"][\"questions_and_responses\"][\"1_response\"] }}",
              "value2": "+55 14 99158-8346"
            },
            {
              "value1": "={{ $json[\"payload\"][\"questions_and_responses\"][\"1_response\"] }}",
              "value2": "+55 31 99958-0682"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "668806ea-487c-4cdf-8abb-dac192f77d4f",
      "name": "numeros_de_teste",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -440,
        -140
      ]
    },
    {
      "parameters": {
        "queue": "[COACHING] - Calendly - Agendamento Jéssica",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "d0248583-14db-4016-831d-fda8d2e0eeb6",
      "name": "entra_na_fila",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        1940,
        700
      ],
      "credentials": {
        "rabbitmq": {
          "id": "6klSivWaJBCNmE5C",
          "name": "[RABBITMQ] - Karine Waldrich"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const payload = items[0].json.payload;\n\n// Pegar o parâmetro \"created_at\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst createdAt = new Date($node[\"Evento\"].json.created_at);\nconst dataAgendamento = createdAt.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Pegar o parâmetro \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst startTime = new Date($node[\"Evento\"].json.payload.scheduled_event.start_time);\nconst dataInicio = startTime.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Subtrair 24 horas do \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst lembrete24h = new Date(startTime.getTime() - 24 * 60 * 60 * 1000);\nconst dataLembrete24h = lembrete24h.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Subtrair 2 horas do \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst lembrete2h = new Date(startTime.getTime() - 2 * 60 * 60 * 1000);\nconst dataLembrete2h = lembrete2h.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Pegar o parâmetro \"end_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst endTime = new Date($node[\"Evento\"].json.payload.scheduled_event.end_time);\nconst dataTermino = endTime.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n\nconst telefone = $node[\"Evento\"].json.payload.questions_and_answers[0].answer;\n\nfunction formatarTelefone(telefone) {\n  const telefoneLimpo = telefone.replace(/[^\\d]/g, '');\n\n  let ddi;\n  let ddd;\n  let telefoneFormatado;\n\n  // Verificar se o telefone começa com \"55\" antes de formatá-lo\n  if (telefoneLimpo.startsWith('55')) {\n    ddi = telefoneLimpo.slice(0, 2);\n    ddd = telefoneLimpo.slice(2, 4);\n    if (parseInt(ddd, 10) > 28) {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-8);\n    } else {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-9);\n    }\n  } else {\n    ddi = '55';\n    ddd = telefoneLimpo.slice(0, 2);\n    if (parseInt(ddd, 10) > 28) {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-8);\n    } else {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-9);\n    }\n  }\n\n  return telefoneFormatado;\n}\n\nfunction obterDiaSemana(dataISO) {\n  const diasDaSemana = ['Domingo', 'Segunda-feira', 'Terça-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'Sábado'];\n  \n  const dataObj = new Date(dataISO);\n  const indiceDia = dataObj.getUTCDay();\n\n  return diasDaSemana[indiceDia];\n}\n\n\nconst dia = obterDiaSemana($node[\"Evento\"].json.payload.scheduled_event.start_time);\n// Função para formatar a primeira letra de cada palavra em maiúsculo\nfunction formatarPrimeiraLetraMaiuscula(str) {\n  const palavras = str.toLowerCase().split(\" \");\n\n  for (let i = 0; i < palavras.length; i++) {\n    palavras[i] = palavras[i].charAt(0).toUpperCase() + palavras[i].slice(1);\n  }\n\n  return palavras.join(\" \");\n}\n\n// ...\n\n\n// Formatar o parâmetro \"name\" do objeto \"invitee\" com a primeira letra de cada palavra em maiúsculo\nconst name = formatarPrimeiraLetraMaiuscula($node[\"Evento\"].json.payload.name);\n\n// Validar se o parâmetro \"email\" é um email válido e colocar todas as letras em minúsculo\nconst email = $node[\"Evento\"].json.payload.email.toLowerCase();\nconst isEmailValid = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email);\n\n// Retornar os resultados\nreturn {\n  'Data em que foi feito o Agendamento': dataAgendamento.replaceAll(',',''),\n  'Data de Início': dataInicio.replaceAll(',',''),\n  'Lembrete 24h': dataLembrete24h.replaceAll(',',''),\n  'Lembrete 2h': dataLembrete2h.replaceAll(',',''),\n  'Data de Término': dataTermino.replaceAll(',',''),\n  'Telefone': formatarTelefone(telefone),\n  'Nome': name,\n  'Email válido': isEmailValid,\n  'Email': email,\n  'Dia': dia\n};\n"
      },
      "id": "aa6ad2ed-cdf9-4bb2-9d56-9ccedf0bf4d6",
      "name": "formata_dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1480,
        700
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = items[0].json.payload;\n\n// Acesse a data do JSON\nconst canceledAt = $node[\"Evento\"].json[\"created_at\"] || '';\n\n// Crie um objeto de data a partir da string\nconst data = new Date(canceledAt);\n\n// Extraia o ano, mês e dia\nconst ano = data.getFullYear();\nconst mes = String(data.getMonth() + 1).padStart(2, '0'); // Adiciona zero à esquerda, se necessário\nconst dia = String(data.getDate()).padStart(2, '0');\n\n// Crie a string formatada no formato YYYY-MM-DD\nconst dataCancelamento = `${ano}-${mes}-${dia}`;\n\n// Verificar o campo \"slug\" e definir o campo \"chave\" conforme as condições\nfunction definirChave(eventType) {\n  const slug = eventType.toLowerCase();\n\n  if (slug.includes(\"aplicacao\")) {\n    return \"aplicacao_direta\";\n  } else if (slug.includes(\"sessao\")) {\n    return \"sessao_estrategica\";\n  } else {\n    return \"\"; // Nenhuma correspondência, campo \"chave\" vazio\n  }\n}\nfunction obterDiaSemana(dataISO) {\n  const diasDaSemana = ['Domingo', 'Segunda-feira', 'Terça-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'Sábado'];\n  \n  const dataObj = new Date(dataISO);\n  const indiceDia = dataObj.getUTCDay();\n\n  return diasDaSemana[indiceDia];\n}\n\nconst diaExtenso = obterDiaSemana($node[\"Evento\"].json.payload.scheduled_event.start_time);\n\nconst eventTypeSlug = $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"name\"] || '';\nconst chave = definirChave(eventTypeSlug)\n\n// Buscar o telefone nos campos do array \"questions_and_answers\" no objeto \"invitee\" e formatá-lo\nlet telefone = '';\nconst questionsAndAnswers = payload.questions_and_answers;\nfor (let i = 0; i < questionsAndAnswers.length; i++) {\n  const answer = questionsAndAnswers[i].answer;\n  if (/^[\\+\\s\\d-]+$/.test(answer)) {\n    telefone = answer.replace(/[\\+\\s-]/g, '');\n    break;\n  }\n}\n\n// Extrair o DDI a partir do telefone limpo\nconst ddi = telefone.slice(0, 2);\n\n// Verificar se o DDI é igual a 55\nif (ddi === '55') {\n  const ddd = telefone.slice(2, 4);\n  if (Number(ddd) > 28) {\n    telefone = '55' + telefone.slice(2, 4) + telefone.slice(-8).replace(/\\s/g, '');\n  } else {\n    telefone = '55' + telefone.slice(2, 4) + telefone.slice(-9).replace(/\\s/g, '');\n  }\n} else {\n  telefone = telefone.replace(/[\\+\\s-]/g, ''); // Tratar como número internacional\n}\n\n// Função para formatar a primeira letra de cada palavra em maiúsculo\nfunction formatarPrimeiraLetraMaiuscula(str) {\n  const palavras = str.toLowerCase().split(\" \");\n\n  for (let i = 0; i < palavras.length; i++) {\n    palavras[i] = palavras[i].charAt(0).toUpperCase() + palavras[i].slice(1);\n  }\n\n  return palavras.join(\" \");\n}\n\n// Formatar o parâmetro \"name\" do objeto \"invitee\" com a primeira letra de cada palavra em maiúsculo\nconst name = formatarPrimeiraLetraMaiuscula($node[\"Evento\"].json[\"payload\"][\"name\"]);\n\n// Retornar os resultados\nreturn {\n  'Telefone': telefone,\n  'Nome': name,\n  'Data do Cancelamento': dataCancelamento,\n  'Chave': chave,\n  'Dia': diaExtenso\n};\n"
      },
      "id": "f8fd2e9b-b4e9-4205-9fc5-75113ec129f2",
      "name": "formata_dados1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1800,
        1100
      ]
    },
    {
      "parameters": {
        "scope": "organization",
        "events": [
          "invitee.created",
          "invitee.canceled"
        ]
      },
      "id": "4e094b7f-33da-47c6-a421-5a3c605fbb08",
      "name": "Evento",
      "type": "n8n-nodes-base.calendlyTrigger",
      "typeVersion": 1,
      "position": [
        -520,
        1880
      ],
      "webhookId": "2bc8e2b7-c122-40db-8fde-4b65b98f9647",
      "credentials": {
        "calendlyApi": {
          "id": "QYvxHaIcgn5rYKAJ",
          "name": "[CALENDLY] - Karine Waldrich"
        }
      }
    },
    {
      "parameters": {
        "content": "## Para consulta\n\nUtilize estes Nodes para Consultar o ID dos Campos do Deal e o ID das Pipelines e Stages no ActiveCampaign",
        "height": 494.4652796495957,
        "width": 1558.7543199104232
      },
      "id": "0a2342b1-927e-4380-8b8a-a49541a64273",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        -320
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/dealCustomFieldMeta",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Campos Personalizados de Deals da Conta3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        360,
        -140
      ],
      "id": "6415afa7-34b7-46a5-afb0-0efb68b0f9a0"
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/dealGroups",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Pipelines e Status da Conta3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        580,
        -140
      ],
      "id": "524fbc1a-4bac-4da0-8814-ba4757a25470"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Api-Token"
            },
            {
              "name": "url_api_activecampaign"
            }
          ]
        },
        "options": {}
      },
      "id": "2f845545-8a07-40b0-aa99-7c30d0a36095",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        160,
        -140
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/users",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "a541109f-7671-4f6b-98b7-1bfffe0e8a58",
      "name": "Consulta Users da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        800,
        -140
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/tags",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Tags da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1220,
        -140
      ],
      "id": "abd54435-a54b-445f-9f89-433d890d7a61"
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/fields?limit=1000",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Campos Personalizados de Contatos da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1020,
        -140
      ],
      "id": "bd36d3de-6ffd-4b09-aed2-f57542ccebff"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"event_type\"][\"slug\"] }}",
              "value2": "xyz"
            },
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"event_type\"][\"slug\"] }}",
              "value2": "abc"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "5edd7287-37f9-4376-bd97-935a0a4be119",
      "name": "eventos_permitidos",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -980,
        -180
      ]
    },
    {
      "parameters": {
        "content": "## Observação\n\n- Use esse node se o cliente tiver apenas alguns eventos do Calendly que devem entrar na automação",
        "height": 318.2284579191374,
        "width": 468.74007115902964
      },
      "id": "e2877bd3-1fe2-43f3-8ae3-8b5ce2440f1b",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1040,
        -340
      ]
    },
    {
      "parameters": {
        "content": "## Observação\n\n- Use esse node para permitir que apenas alguns números entrem na automação para testar",
        "height": 403.09990492758146,
        "width": 468.74007115902964
      },
      "id": "3bdd5ead-fbda-4f90-a4ba-ff357138ba2f",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -520,
        -300
      ]
    },
    {
      "parameters": {
        "content": "## Observação\n\n- Use os Nodes abaixo para armazenar JSON de execuções de cancelamento e reagendamento para testes",
        "height": 629.1216336235811,
        "width": 468.74007115902964
      },
      "id": "b0c9fb0e-84d1-4379-80df-6ffcd2a7496c",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1100,
        1600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"name\"] }}",
              "operation": "contains",
              "value2": "DAI - DIAGNÓSTICO DE APROVAÇÃO INDIVIDUAL"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "2c09b7a0-555a-443c-af41-7b60b0ee7862",
      "name": "sessao_estrategica",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        60,
        1140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"name\"] }}",
              "operation": "contains",
              "value2": "Aplicação"
            },
            {
              "value1": "={{ $json[\"payload\"][\"questions_and_answers\"][\"1\"][\"answer\"] }}",
              "operation": "contains",
              "value2": "Webnar"
            },
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"questions_and_answers\"][\"1\"][\"answer\"] }}",
              "operation": "contains",
              "value2": "Aplicação"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "9422b3b9-cf87-47b0-a5a8-b9818337a16b",
      "name": "aplicacao",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        360,
        1200
      ]
    },
    {
      "parameters": {
        "queue": "[COACHING] - Calendly - Cancelamento Jéssica",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "5de607e7-a774-437d-acee-d72f1fb05b6e",
      "name": "entra_na_fila2",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        2220,
        1100
      ],
      "credentials": {
        "rabbitmq": {
          "id": "6klSivWaJBCNmE5C",
          "name": "[RABBITMQ] - Karine Waldrich"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/dealTasktypes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "5186d8ae-2f9d-44aa-9fb6-a12d20b3af8f",
      "name": "Listar Tipos de Task da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1420,
        -140
      ]
    },
    {
      "parameters": {},
      "id": "af8ab9cf-04a3-4a95-9421-81056556241f",
      "name": "nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        600,
        1340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"event\"] }}",
              "value2": "invitee.created"
            }
          ]
        }
      },
      "id": "01c4db53-f8f9-4162-804c-8fe6fef97250",
      "name": "Evento Criado1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        880,
        1340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"rescheduled\"] }}",
              "value2": true
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "1e0893dd-3781-4473-a5c9-bde1cb91a6b3",
      "name": "É Reagendamento2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        980
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"old_invitee\"][\"is_reschedule\"] }}",
              "value2": true
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "74cb2e10-1b18-43af-b332-8b85b5f0acca",
      "name": "É Reagendamento3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1180,
        1520
      ]
    },
    {
      "parameters": {},
      "id": "beed894b-51ab-4928-9d65-33e9bd99f671",
      "name": "Não faça nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1500,
        1420
      ]
    },
    {
      "parameters": {
        "queue": "[COACHING] - Calendly - Agendamento Jéssica",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "54b20e1f-d384-4cbe-9fd7-41edd1dac9f1",
      "name": "entra_na_fila3",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        1980,
        1600
      ],
      "credentials": {
        "rabbitmq": {
          "id": "6klSivWaJBCNmE5C",
          "name": "[RABBITMQ] - Karine Waldrich"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const payload = items[0].json.payload;\n\n// Pegar o parâmetro \"created_at\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst createdAt = new Date($node[\"Evento\"].json.created_at);\nconst dataAgendamento = createdAt.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Pegar o parâmetro \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst startTime = new Date(payload.scheduled_event.start_time);\nconst dataInicio = startTime.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Subtrair 24 horas do \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst lembrete24h = new Date(startTime.getTime() - 24 * 60 * 60 * 1000);\nconst dataLembrete24h = lembrete24h.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Subtrair 2 horas do \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst lembrete2h = new Date(startTime.getTime() - 2 * 60 * 60 * 1000);\nconst dataLembrete2h = lembrete2h.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Pegar o parâmetro \"end_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst endTime = new Date($node[\"Evento\"].json.payload.scheduled_event.end_time);\nconst dataTermino = endTime.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n\nconst telefone = $node[\"Evento\"].json.payload.questions_and_answers[0].answer;\n\nfunction formatarTelefone(telefone) {\n  const telefoneLimpo = telefone.replace(/[^\\d]/g, '');\n\n  let ddi;\n  let ddd;\n  let telefoneFormatado;\n\n  // Verificar se o telefone começa com \"55\" antes de formatá-lo\n  if (telefoneLimpo.startsWith('55')) {\n    ddi = telefoneLimpo.slice(0, 2);\n    ddd = telefoneLimpo.slice(2, 4);\n    if (parseInt(ddd, 10) > 28) {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-8);\n    } else {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-9);\n    }\n  } else {\n    ddi = '55';\n    ddd = telefoneLimpo.slice(0, 2);\n    if (parseInt(ddd, 10) > 28) {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-8);\n    } else {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-9);\n    }\n  }\n\n  return telefoneFormatado;\n}\n\nfunction obterDiaSemana(dataISO) {\n  const diasDaSemana = ['Domingo', 'Segunda-feira', 'Terça-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'Sábado'];\n  \n  const dataObj = new Date(dataISO);\n  const indiceDia = dataObj.getUTCDay();\n\n  return diasDaSemana[indiceDia];\n}\n\n\nconst dia = obterDiaSemana($node[\"Evento\"].json.payload.scheduled_event.start_time);\n// Função para formatar a primeira letra de cada palavra em maiúsculo\nfunction formatarPrimeiraLetraMaiuscula(str) {\n  const palavras = str.toLowerCase().split(\" \");\n\n  for (let i = 0; i < palavras.length; i++) {\n    palavras[i] = palavras[i].charAt(0).toUpperCase() + palavras[i].slice(1);\n  }\n\n  return palavras.join(\" \");\n}\n\n// ...\n\n\n// Formatar o parâmetro \"name\" do objeto \"invitee\" com a primeira letra de cada palavra em maiúsculo\nconst name = formatarPrimeiraLetraMaiuscula($node[\"Evento\"].json.payload.name);\n\n// Validar se o parâmetro \"email\" é um email válido e colocar todas as letras em minúsculo\nconst email = $node[\"Evento\"].json.payload.email.toLowerCase();\nconst isEmailValid = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email);\n\n// Retornar os resultados\nreturn {\n  'Data em que foi feito o Agendamento': dataAgendamento.replaceAll(',',''),\n  'Data de Início': dataInicio.replaceAll(',',''),\n  'Lembrete 24h': dataLembrete24h.replaceAll(',',''),\n  'Lembrete 2h': dataLembrete2h.replaceAll(',',''),\n  'Data de Término': dataTermino.replaceAll(',',''),\n  'Telefone': formatarTelefone(telefone),\n  'Nome': name,\n  'Email válido': isEmailValid,\n  'Email': email,\n  'Dia': dia\n};\n"
      },
      "id": "d87516bd-9cd2-478e-aaab-c74b9bf62394",
      "name": "formata_dados3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1500,
        1600
      ]
    },
    {
      "parameters": {},
      "id": "42c338f0-bab3-4341-91e2-ca2dcea65477",
      "name": "reagendamento1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        980
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"email\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "=+{{ $node[\"formata_dados3\"].json[\"Telefone\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"formata_dados3\"].json[\"Telefone\"] }}"
            },
            {
              "name": "Tipo de Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"event_memberships\"][\"0\"][\"user_name\"] }}"
            },
            {
              "name": "ID do Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"].split('/')[4] }}"
            },
            {
              "name": "Responsável pelo Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"event_memberships\"][\"0\"][\"user_name\"] }}"
            },
            {
              "name": "E-mail do Responsável",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"event_memberships\"][\"0\"][\"user_email\"] }}"
            },
            {
              "name": "Data de Início",
              "value": "={{ $node[\"formata_dados3\"].json[\"Data de Início\"] }}"
            },
            {
              "name": "Data em que foi feito o Agendamento",
              "value": "={{ $node[\"formata_dados3\"].json[\"Data em que foi feito o Agendamento\"] }}"
            },
            {
              "name": "Data de Término",
              "value": "={{ $node[\"formata_dados3\"].json[\"Data de Término\"] }}"
            },
            {
              "name": "Dia da Semana de Início do Evento",
              "value": "={{ $node[\"formata_dados3\"].json[\"Dia\"] }}"
            },
            {
              "name": "Link da Reunião",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"location\"][\"join_url\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_content\"] }}"
            },
            {
              "name": "ID do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"uri\"].split('/')[6] }}"
            },
            {
              "name": "id_do_campo_id_do_agendamento_bot_conversa",
              "value": "1776702"
            },
            {
              "name": "fluxo_de_confirmacao_de_agendamento",
              "value": "3162427"
            },
            {
              "name": "API-KEY",
              "value": "46dacadf-10d0-47db-a81d-69263aca1959"
            },
            {
              "name": "id_do_campo_link_da_reuniao_bot_conversa",
              "value": "1721239"
            },
            {
              "name": "id_do_campo_dia_da_semana_do_agendamento_bot_conversa",
              "value": "1776712"
            },
            {
              "name": "id_do_campo_data_do_agendamento_bot_conversa",
              "value": "1772557"
            },
            {
              "name": "id_do_campo_horario_agendado_bot_conversa",
              "value": "1779832"
            },
            {
              "name": "id_do_campo_id_banco_de_dados_bot_conversa",
              "value": "1776703"
            },
            {
              "name": "id_do_campo_idleadac_bot_conversa",
              "value": "1776713"
            },
            {
              "name": "id_do_campo_iddealac_bot_conversa",
              "value": "1776714"
            },
            {
              "name": "id_campo_id_banco_de_dados_ac"
            },
            {
              "name": "valor_produto_principal_em_centavos"
            },
            {
              "name": "id_stage_agendou_reuniao_ac"
            },
            {
              "name": "funil",
              "value": "sessao_estrategica"
            },
            {
              "name": "variacao_do_funil",
              "value": "v1"
            },
            {
              "name": "id_pipeline_se_ac"
            },
            {
              "name": "id_sdr",
              "value": "="
            },
            {
              "name": "url_api_activecampaign",
              "value": "="
            },
            {
              "name": "id_campo_link_de_cancelamento_ac"
            },
            {
              "name": "id_campo_link_de_reagendamento_ac"
            },
            {
              "name": "id_campo_id_do_cliente_ac"
            },
            {
              "name": "id_campo_dia_semana_agendamento_ac"
            },
            {
              "name": "id_campo_data_de_inicio_ac"
            },
            {
              "name": "id_campo_data_e_hora_de_inicio_ac"
            },
            {
              "name": "id_campo_data_e_hora_de_termino_ac"
            },
            {
              "name": "id_campo_data_de_termino_ac"
            },
            {
              "name": "id_campo_email_do_responsavel_ac"
            },
            {
              "name": "id_campo_data_do_agendamento_ac"
            },
            {
              "name": "id_campo_link_da_reuniao_ac"
            },
            {
              "name": "id_campo_tipo_de_evento_ac"
            },
            {
              "name": "id_campo_id_do_evento_ac"
            },
            {
              "name": "id_campo_utm_source_ac"
            },
            {
              "name": "id_campo_utm_campaign_ac"
            },
            {
              "name": "id_campo_utm_term_ac"
            },
            {
              "name": "id_campo_utm_medium_ac"
            },
            {
              "name": "id_campo_utm_content_ac"
            },
            {
              "name": "id_campo_utm_fun_ac"
            },
            {
              "name": "id_campo_utm_var_ac"
            },
            {
              "name": "id_do_campo_id_do_cliente_bot_conversa",
              "value": "1776706"
            },
            {
              "name": "id_task_reuniao_ac"
            },
            {
              "name": "id_campo_tipo_de_evento_bot_conversa",
              "value": "1776718"
            },
            {
              "name": "id_campo_closer_responsavel_bot_conversa",
              "value": "1776720"
            },
            {
              "name": "id_status_preencheu_aplicacao_crm"
            },
            {
              "name": "id_campo_email_crm",
              "value": "43a14a28-119a-4e43-a0a1-58bc64e739a2"
            },
            {
              "name": "id_campo_telefone_crm",
              "value": "4f5b17cc-999f-4779-8a66-155632cf59b4"
            },
            {
              "name": "id_campo_utm_source_crm",
              "value": "94fb2c13-bbd0-48a1-89f5-85ef2f537c11"
            },
            {
              "name": "id_campo_utm_campaign_crm",
              "value": "e545d10b-616e-450d-aef6-d8e65b0944a3"
            },
            {
              "name": "id_campo_utm_term_crm",
              "value": "21c541c6-2224-4d82-91da-825808a1edea"
            },
            {
              "name": "id_campo_utm_medium_crm",
              "value": "d65c4dd8-d243-4416-8349-2d7f341b3bcf"
            },
            {
              "name": "id_campo_utm_content_crm",
              "value": "1198c9d0-f4ee-4b1d-a24c-b6df7303ebf2"
            },
            {
              "name": "id_campo_utm_fun_crm",
              "value": "2e435a89-b633-4100-a0b5-6810746db2c4"
            },
            {
              "name": "id_campo_utm_var_crm",
              "value": "58dc2672-4c26-4b0b-ad81-8dcc82de45e0"
            },
            {
              "name": "id_campo_data_inicio_milesegundos_crm",
              "value": "2375d3f7-5a46-4f88-ba30-572e129b0a3f"
            },
            {
              "name": "id_campo_id_evento_calendly_crm",
              "value": "50a20169-76c5-43fc-9f3c-9a5bd5affd73"
            },
            {
              "name": "id_campo_id_cliente_calendly_crm",
              "value": "58364ec1-0104-4bf7-a9e5-9e529a345d29"
            },
            {
              "name": "id_campo_nome_completo_crm",
              "value": "1c438058-b654-4a19-9ea3-438bc2f5a078"
            },
            {
              "name": "id_campo_modelo_da_call_sessao_estrategica_crm",
              "value": "36a55391-29e3-4168-9caf-67ac756b79f8"
            },
            {
              "name": "id_campo_modelo_da_call_aplicacao_direta_crm",
              "value": "5883faf4-ebef-4b10-976a-0f88f4c25331"
            },
            {
              "name": "id_campo_funil_sessao_estrategica_crm",
              "value": "5661918f-e847-4e0e-b9fc-ca7f62ed0a67"
            },
            {
              "name": "id_campo_funil_aplicacao_direta_crm",
              "value": "1be63c76-92ea-4be1-a028-5301b1c9fa4e"
            },
            {
              "name": "id_campo_modelo_da_call_crm",
              "value": "1ecc802b-e2b3-4769-bc7a-9e1517c2278f"
            },
            {
              "name": "id_campo_status_do_lead_crm",
              "value": "20bc36eb-9d21-4aaa-b6f1-3c85bafa63ec"
            },
            {
              "name": "id_campo_id_botconversa_crm",
              "value": "f19516e0-1a4a-4b3d-b68e-68c2ae4acc59"
            },
            {
              "name": "id_campo_id_banco_de_dados_crm",
              "value": "d23569b0-b471-45e0-a1e9-840a6711d052"
            },
            {
              "name": "id_campo_status_sessao_ou_aplicacao_crm",
              "value": "947abb00-968d-4e1b-a6b9-c0887cbfd4b9"
            },
            {
              "name": "id_campo_status_agendamento_realizado_crm",
              "value": "f1f22e0a-1e16-4b49-bbba-5331c7187906"
            },
            {
              "name": "id_campo_link_reuniao_crm",
              "value": "e6f4eccc-7ee5-4caa-b444-648db658faca"
            }
          ]
        },
        "options": {}
      },
      "id": "b3b7e748-effa-4104-953e-d3f93ebd9024",
      "name": "dados_do_agendamento1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1740,
        1600
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"email\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "=+{{ $node.formata_dados1.json.Telefone }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node.formata_dados1.json.Telefone }}"
            },
            {
              "name": "ID do Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"].split('/')[4] }}"
            },
            {
              "name": "Data do Cancelamento",
              "value": "={{ $node[\"formata_dados1\"].json[\"Data do Cancelamento\"] }}"
            },
            {
              "name": "ID do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"reschedule_url\"].split('/')[4] }}"
            },
            {
              "name": "API-KEY",
              "value": "46dacadf-10d0-47db-a81d-69263aca1959"
            },
            {
              "name": "id_do_campo_id_do_agendamento_bot_conversa",
              "value": "1776702"
            },
            {
              "name": "id_do_campo_inviteeid_bot_conversa",
              "value": "1776706"
            },
            {
              "name": "id_do_campo_horario_agendado_bot_conversa",
              "value": "1779832"
            },
            {
              "name": "id_do_campo_data_do_reagendamento_bot_conversa",
              "value": "1827268"
            },
            {
              "name": "id_do_campo_dia_da_semana_do_agendamento_bot_conversa",
              "value": "1776712"
            },
            {
              "name": "fluxo_de_confirmacao_de_cancelamento",
              "value": "3163473"
            },
            {
              "name": "id_do_campo_motivo_do_cancelamento_bot_conversa",
              "value": "1798749"
            },
            {
              "name": "Motivo do Cancelamento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"cancellation\"][\"reason\"] }}"
            },
            {
              "name": "Data de Início",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"start_time\"].split('T')[0] }}"
            },
            {
              "name": "Hora de Início",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"start_time\"].split('T')[1].slice(0,5) }}"
            },
            {
              "name": "Link da Reunião",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"location\"][\"join_url\"] }}"
            },
            {
              "name": "Tipo de Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"name\"] }}"
            },
            {
              "name": "Dia da Semana do Evento",
              "value": "={{ $node[\"formata_dados1\"].json[\"Dia\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_content\"] }}"
            },
            {
              "name": "data_agendamento",
              "value": "={{ $node[\"Evento\"].json[\"created_at\"].split('T')[0] }} {{ $node[\"Evento\"].json[\"created_at\"].split('T')[1].slice(0,5) }}"
            },
            {
              "name": "id_campo_id_banco_de_dados_bot_conversa",
              "value": "1776703"
            },
            {
              "name": "data_termino_ac",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"end_time\"].split('T')[0] }}"
            },
            {
              "name": "data_e_hora_de_termino",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"end_time\"].split('T')[0].split('-')[2] }}/{{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"end_time\"].split('T')[0].split('-')[1] }}/{{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"end_time\"].split('T')[0].split('-')[0] }} {{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"end_time\"].split('T')[1].split('-')[0].split(':')[0] }}:{{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"end_time\"] .split('T')[1].split('-')[0].split(':')[1] }}"
            },
            {
              "name": "data_e_hora_de_inicio",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"start_time\"].split('T')[0].split('-')[2] }}/{{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"start_time\"].split('T')[0].split('-')[1] }}/{{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"start_time\"].split('T')[0].split('-')[0] }} {{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"start_time\"].split('T')[1].split('-')[0].split(':')[0] }}:{{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"start_time\"].split('T')[1].split('-')[0].split(':')[1] }}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"formata_dados1\"].json[\"Chave\"] }}"
            },
            {
              "name": "variacao_do_funil",
              "value": "v1"
            },
            {
              "name": "id_sdr",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"event_memberships\"][\"0\"][\"user_email\"] }}"
            },
            {
              "name": "id_stage_agendou_reuniao_se_ac"
            },
            {
              "name": "id_pipeline_se_ac"
            },
            {
              "name": "valor_produto_principal_em_centavos"
            },
            {
              "name": "id_campo_tipo_de_evento_se_ac"
            },
            {
              "name": "id_campo_id_do_evento_se_ac"
            },
            {
              "name": "id_campo_dia_semana_agendamento_se_ac"
            },
            {
              "name": "id_campo_data_e_hora_de_inicio_se_ac"
            },
            {
              "name": "id_campo_data_de_inicio_se_ac"
            },
            {
              "name": "id_campo_data_do_agendamento_se_ac"
            },
            {
              "name": "id_campo_email_do_responsavel_se_ac"
            },
            {
              "name": "id_campo_data_de_termino_se_ac"
            },
            {
              "name": "id_campo_link_da_reuniao_se_ac"
            },
            {
              "name": "id_campo_link_de_reagendamento_se_ac"
            },
            {
              "name": "id_campo_link_de_cancelamento_se_ac"
            },
            {
              "name": "id_campo_id_do_cliente_se_ac"
            },
            {
              "name": "id_campo_data_e_hora_de_termino_se_ac"
            },
            {
              "name": "id_campo_utm_source_se_ac"
            },
            {
              "name": "id_campo_utm_campaign_se_ac"
            },
            {
              "name": "id_campo_utm_term_se_ac"
            },
            {
              "name": "id_campo_utm_medium_se_ac"
            },
            {
              "name": "id_campo_utm_content_se_ac"
            },
            {
              "name": "id_campo_utm_fun_se_ac"
            },
            {
              "name": "id_campo_utm_var_se_ac"
            },
            {
              "name": "id_campo_id_banco_de_dados_ac"
            },
            {
              "name": "id_campo_idleadac_bot_conversa",
              "value": "1375550"
            },
            {
              "name": "id_campo_iddealac_bot_conversa"
            },
            {
              "name": "E-mail do Responsável",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"event_memberships\"][\"0\"][\"user_email\"] }}"
            },
            {
              "name": "Nome do Responsável",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"event_memberships\"][\"0\"][\"user_name\"] }}"
            },
            {
              "name": "url_api_activecampaign"
            },
            {
              "name": "id_campo_tipo_de_evento_app_ac"
            },
            {
              "name": "id_campo_id_do_evento_app_ac"
            },
            {
              "name": "id_campo_dia_semana_agendamento_app_ac"
            },
            {
              "name": "id_campo_data_e_hora_de_inicio_app_ac"
            },
            {
              "name": "id_campo_data_de_inicio_app_ac"
            },
            {
              "name": "id_campo_data_do_agendamento_app_ac"
            },
            {
              "name": "id_campo_email_do_responsavel_app_ac"
            },
            {
              "name": "id_campo_data_de_termino_app_ac"
            },
            {
              "name": "id_campo_link_da_reuniao_app_ac"
            },
            {
              "name": "id_campo_link_de_reagendamento_app_ac"
            },
            {
              "name": "id_campo_link_de_cancelamento_app_ac"
            },
            {
              "name": "id_campo_id_do_cliente_app_ac"
            },
            {
              "name": "id_campo_data_e_hora_de_termino_app_ac"
            },
            {
              "name": "id_campo_utm_source_app_ac"
            },
            {
              "name": "id_campo_utm_campaign_app_ac"
            },
            {
              "name": "id_campo_utm_term_app_ac"
            },
            {
              "name": "id_campo_utm_medium_app_ac"
            },
            {
              "name": "id_campo_utm_content_app_ac"
            },
            {
              "name": "id_campo_utm_fun_app_ac"
            },
            {
              "name": "id_campo_utm_var_app_ac"
            },
            {
              "name": "id_stage_agendou_reuniao_app_ac"
            },
            {
              "name": "id_pipeline_app_ac"
            },
            {
              "name": "id_do_campo_motivo_do_reagendamento_bot_conversa",
              "value": "1798750"
            },
            {
              "name": "Motivo do Reagendamento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"cancellation\"][\"reason\"] }}"
            },
            {
              "name": "Evento",
              "value": "={{ $node[\"reagendamento1\"].runIndex >= 0 ? 'Reagendamento' : \n($node[\"cancelamento\"].runIndex >= 0 ? 'Cancelamento' :\n'' )}}"
            },
            {
              "name": "id_do_campo_data_do_cancelamento_bot_conversa",
              "value": "1825625"
            },
            {
              "name": "fluxo_de_confirmacao_de_reagendamento",
              "value": "3163474"
            },
            {
              "name": "id_status_preencheu_aplicacao_crm"
            },
            {
              "name": "id_campo_email_crm",
              "value": "43a14a28-119a-4e43-a0a1-58bc64e739a2"
            },
            {
              "name": "id_campo_telefone_crm",
              "value": "4f5b17cc-999f-4779-8a66-155632cf59b4"
            },
            {
              "name": "id_campo_utm_source_crm",
              "value": "94fb2c13-bbd0-48a1-89f5-85ef2f537c11"
            },
            {
              "name": "id_campo_utm_campaign_crm",
              "value": "e545d10b-616e-450d-aef6-d8e65b0944a3"
            },
            {
              "name": "id_campo_utm_term_crm",
              "value": "21c541c6-2224-4d82-91da-825808a1edea"
            },
            {
              "name": "id_campo_utm_medium_crm",
              "value": "d65c4dd8-d243-4416-8349-2d7f341b3bcf"
            },
            {
              "name": "id_campo_utm_content_crm",
              "value": "1198c9d0-f4ee-4b1d-a24c-b6df7303ebf2"
            },
            {
              "name": "id_campo_utm_fun_crm",
              "value": "2e435a89-b633-4100-a0b5-6810746db2c4"
            },
            {
              "name": "id_campo_utm_var_crm",
              "value": "58dc2672-4c26-4b0b-ad81-8dcc82de45e0"
            },
            {
              "name": "id_campo_data_inicio_milesegundos_crm",
              "value": "2375d3f7-5a46-4f88-ba30-572e129b0a3f"
            },
            {
              "name": "id_campo_id_evento_calendly_crm",
              "value": "50a20169-76c5-43fc-9f3c-9a5bd5affd73"
            },
            {
              "name": "id_campo_id_cliente_calendly_crm",
              "value": "58364ec1-0104-4bf7-a9e5-9e529a345d29"
            },
            {
              "name": "id_campo_nome_completo_crm",
              "value": "1c438058-b654-4a19-9ea3-438bc2f5a078"
            },
            {
              "name": "id_campo_modelo_da_call_sessao_estrategica_crm",
              "value": "36a55391-29e3-4168-9caf-67ac756b79f8"
            },
            {
              "name": "id_campo_modelo_da_call_aplicacao_direta_crm",
              "value": "5883faf4-ebef-4b10-976a-0f88f4c25331"
            },
            {
              "name": "id_campo_funil_sessao_estrategica_crm",
              "value": "5661918f-e847-4e0e-b9fc-ca7f62ed0a67"
            },
            {
              "name": "id_campo_funil_aplicacao_direta_crm",
              "value": "1be63c76-92ea-4be1-a028-5301b1c9fa4e"
            },
            {
              "name": "id_campo_modelo_da_call_crm",
              "value": "1ecc802b-e2b3-4769-bc7a-9e1517c2278f"
            },
            {
              "name": "id_campo_status_do_lead_crm",
              "value": "20bc36eb-9d21-4aaa-b6f1-3c85bafa63ec"
            },
            {
              "name": "id_campo_id_botconversa_crm",
              "value": "f19516e0-1a4a-4b3d-b68e-68c2ae4acc59"
            },
            {
              "name": "id_campo_id_banco_de_dados_crm",
              "value": "d23569b0-b471-45e0-a1e9-840a6711d052"
            },
            {
              "name": "id_campo_status_sessao_ou_aplicacao_crm",
              "value": "947abb00-968d-4e1b-a6b9-c0887cbfd4b9"
            },
            {
              "name": "id_campo_status_agendamento_realizado_crm",
              "value": "f1f22e0a-1e16-4b49-bbba-5331c7187906"
            },
            {
              "name": "id_campo_link_reuniao_crm",
              "value": "e6f4eccc-7ee5-4caa-b444-648db658faca"
            },
            {
              "name": "id_etapa_followup_sdr_crm",
              "value": "0412a13f-5226-4a9e-9316-8efa9c38c2e3"
            },
            {
              "name": "id_campo_status_da_call_crm",
              "value": "2d103ff9-928a-457a-a5b2-f5ed8ee46c36"
            },
            {
              "name": "id_campo_status_da_call_cancelou_crm",
              "value": "cec1c482-7af0-4502-9660-210764bea3b2"
            },
            {
              "name": "id_campo_status_da_call_reagendou_crm",
              "value": "0d52f29c-31e2-4aca-b9e4-2e24421ddbe9"
            },
            {
              "name": "id_campo_status_da_call_agendou_crm ",
              "value": "d3215822-ac75-4e09-a939-afe7c63d95e4"
            },
            {
              "name": "utm_fun",
              "value": "={{ $node[\"É Reagendamento\"].runIndex >= 0 ? 'sessao_estrategica' : ($node[\"É Reagendamento2\"].runIndex >= 0 ? 'aplicacao_direta' : \"\")  }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "369150f3-33b5-4d5c-bfc8-80be9fc87a2e",
      "name": "dados_do_cancelamento",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2000,
        1100
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"email\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "=+{{ $node[\"formata_dados\"].json[\"Telefone\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"formata_dados\"].json[\"Telefone\"] }}"
            },
            {
              "name": "Tipo de Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"event_memberships\"][\"0\"][\"user_name\"] }}"
            },
            {
              "name": "ID do Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"].split('/')[4] }}"
            },
            {
              "name": "Responsável pelo Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"event_memberships\"][\"0\"][\"user_name\"] }}"
            },
            {
              "name": "E-mail do Responsável",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"event_memberships\"][\"0\"][\"user_email\"] }}"
            },
            {
              "name": "Data de Início",
              "value": "={{ $node[\"formata_dados\"].json[\"Data de Início\"] }}"
            },
            {
              "name": "Data em que foi feito o Agendamento",
              "value": "={{ $node[\"formata_dados\"].json[\"Data em que foi feito o Agendamento\"] }}"
            },
            {
              "name": "Data de Término",
              "value": "={{ $node[\"formata_dados\"].json[\"Data de Término\"] }}"
            },
            {
              "name": "Dia da Semana de Início do Evento",
              "value": "={{ $node[\"formata_dados\"].json[\"Dia\"] }}"
            },
            {
              "name": "Link da Reunião",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"location\"][\"join_url\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_content\"] }}"
            },
            {
              "name": "ID do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"uri\"].split('/')[6] }}"
            },
            {
              "name": "id_do_campo_id_do_agendamento_bot_conversa",
              "value": "1776702"
            },
            {
              "name": "fluxo_de_confirmacao_de_agendamento",
              "value": "3162427"
            },
            {
              "name": "API-KEY",
              "value": "46dacadf-10d0-47db-a81d-69263aca1959"
            },
            {
              "name": "id_do_campo_link_da_reuniao_bot_conversa",
              "value": "1721239"
            },
            {
              "name": "id_do_campo_dia_da_semana_do_agendamento_bot_conversa",
              "value": "1776712"
            },
            {
              "name": "id_do_campo_data_do_agendamento_bot_conversa",
              "value": "1772557"
            },
            {
              "name": "id_do_campo_horario_agendado_bot_conversa",
              "value": "1779832"
            },
            {
              "name": "id_do_campo_id_banco_de_dados_bot_conversa",
              "value": "1776703"
            },
            {
              "name": "id_do_campo_idleadac_bot_conversa",
              "value": "1776713"
            },
            {
              "name": "id_do_campo_iddealac_bot_conversa",
              "value": "1776714"
            },
            {
              "name": "id_campo_id_banco_de_dados_ac"
            },
            {
              "name": "valor_produto_principal_em_centavos"
            },
            {
              "name": "id_stage_agendou_reuniao_ac"
            },
            {
              "name": "funil",
              "value": "sessao_estrategica"
            },
            {
              "name": "variacao_do_funil",
              "value": "v1"
            },
            {
              "name": "id_pipeline_se_ac"
            },
            {
              "name": "id_sdr",
              "value": "="
            },
            {
              "name": "url_api_activecampaign",
              "value": "="
            },
            {
              "name": "id_campo_link_de_cancelamento_ac"
            },
            {
              "name": "id_campo_link_de_reagendamento_ac"
            },
            {
              "name": "id_campo_id_do_cliente_ac"
            },
            {
              "name": "id_campo_dia_semana_agendamento_ac"
            },
            {
              "name": "id_campo_data_de_inicio_ac"
            },
            {
              "name": "id_campo_data_e_hora_de_inicio_ac"
            },
            {
              "name": "id_campo_data_e_hora_de_termino_ac"
            },
            {
              "name": "id_campo_data_de_termino_ac"
            },
            {
              "name": "id_campo_email_do_responsavel_ac"
            },
            {
              "name": "id_campo_data_do_agendamento_ac"
            },
            {
              "name": "id_campo_link_da_reuniao_ac"
            },
            {
              "name": "id_campo_tipo_de_evento_ac"
            },
            {
              "name": "id_campo_id_do_evento_ac"
            },
            {
              "name": "id_campo_utm_source_ac"
            },
            {
              "name": "id_campo_utm_campaign_ac"
            },
            {
              "name": "id_campo_utm_term_ac"
            },
            {
              "name": "id_campo_utm_medium_ac"
            },
            {
              "name": "id_campo_utm_content_ac"
            },
            {
              "name": "id_campo_utm_fun_ac"
            },
            {
              "name": "id_campo_utm_var_ac"
            },
            {
              "name": "id_do_campo_id_do_cliente_bot_conversa",
              "value": "1776706"
            },
            {
              "name": "id_task_reuniao_ac"
            },
            {
              "name": "id_campo_tipo_de_evento_bot_conversa",
              "value": "1776718"
            },
            {
              "name": "id_campo_closer_responsavel_bot_conversa",
              "value": "1776720"
            },
            {
              "name": "id_status_preencheu_aplicacao_crm"
            },
            {
              "name": "id_campo_email_crm",
              "value": "43a14a28-119a-4e43-a0a1-58bc64e739a2"
            },
            {
              "name": "id_campo_telefone_crm",
              "value": "4f5b17cc-999f-4779-8a66-155632cf59b4"
            },
            {
              "name": "id_campo_utm_source_crm",
              "value": "94fb2c13-bbd0-48a1-89f5-85ef2f537c11"
            },
            {
              "name": "id_campo_utm_campaign_crm",
              "value": "e545d10b-616e-450d-aef6-d8e65b0944a3"
            },
            {
              "name": "id_campo_utm_term_crm",
              "value": "21c541c6-2224-4d82-91da-825808a1edea"
            },
            {
              "name": "id_campo_utm_medium_crm",
              "value": "d65c4dd8-d243-4416-8349-2d7f341b3bcf"
            },
            {
              "name": "id_campo_utm_content_crm",
              "value": "1198c9d0-f4ee-4b1d-a24c-b6df7303ebf2"
            },
            {
              "name": "id_campo_utm_fun_crm",
              "value": "2e435a89-b633-4100-a0b5-6810746db2c4"
            },
            {
              "name": "id_campo_utm_var_crm",
              "value": "58dc2672-4c26-4b0b-ad81-8dcc82de45e0"
            },
            {
              "name": "id_campo_data_inicio_milesegundos_crm",
              "value": "2375d3f7-5a46-4f88-ba30-572e129b0a3f"
            },
            {
              "name": "id_campo_id_evento_calendly_crm",
              "value": "50a20169-76c5-43fc-9f3c-9a5bd5affd73"
            },
            {
              "name": "id_campo_id_cliente_calendly_crm",
              "value": "58364ec1-0104-4bf7-a9e5-9e529a345d29"
            },
            {
              "name": "id_campo_nome_completo_crm",
              "value": "1c438058-b654-4a19-9ea3-438bc2f5a078"
            },
            {
              "name": "id_campo_modelo_da_call_sessao_estrategica_crm",
              "value": "36a55391-29e3-4168-9caf-67ac756b79f8"
            },
            {
              "name": "id_campo_modelo_da_call_aplicacao_direta_crm",
              "value": "5883faf4-ebef-4b10-976a-0f88f4c25331"
            },
            {
              "name": "id_campo_funil_sessao_estrategica_crm",
              "value": "5661918f-e847-4e0e-b9fc-ca7f62ed0a67"
            },
            {
              "name": "id_campo_funil_aplicacao_direta_crm",
              "value": "1be63c76-92ea-4be1-a028-5301b1c9fa4e"
            },
            {
              "name": "id_campo_modelo_da_call_crm",
              "value": "1ecc802b-e2b3-4769-bc7a-9e1517c2278f"
            },
            {
              "name": "id_campo_status_do_lead_crm",
              "value": "20bc36eb-9d21-4aaa-b6f1-3c85bafa63ec"
            },
            {
              "name": "id_campo_id_botconversa_crm",
              "value": "f19516e0-1a4a-4b3d-b68e-68c2ae4acc59"
            },
            {
              "name": "id_campo_id_banco_de_dados_crm",
              "value": "d23569b0-b471-45e0-a1e9-840a6711d052"
            },
            {
              "name": "id_campo_status_sessao_ou_aplicacao_crm",
              "value": "947abb00-968d-4e1b-a6b9-c0887cbfd4b9"
            },
            {
              "name": "id_campo_status_agendamento_realizado_crm",
              "value": "f1f22e0a-1e16-4b49-bbba-5331c7187906"
            },
            {
              "name": "id_campo_link_reuniao_crm",
              "value": "e6f4eccc-7ee5-4caa-b444-648db658faca"
            }
          ]
        },
        "options": {}
      },
      "id": "30225716-975d-482c-8220-bcaabbc4c7de",
      "name": "dados_do_agendamento",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1720,
        700
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "token",
              "stringValue": "eyJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJQaXBlZnkiLCJpYXQiOjE3MDc5MTY2NDAsImp0aSI6IjY1YTBiODc3LWFiMGEtNDFlNS1hMGI4LTUyNDRhNjMwYWE2NSIsInN1YiI6MzA0MjQyMzQ2LCJ1c2VyIjp7ImlkIjozMDQyNDIzNDYsImVtYWlsIjoiYWNlc3Nvc0BhdXRvbWFnaWNib3RzLmNvbS5iciIsImFwcGxpY2F0aW9uIjozMDAzMjE0NTAsInNjb3BlcyI6W119LCJpbnRlcmZhY2VfdXVpZCI6bnVsbH0.4RkTp_tHfbqHOjrBT0PTpDr7bEBuonAo16H7CZGltjI4uOb3XvBlOHz4nBaVSuN54ZCtOLRFvIPYrLfDCq9WZw"
            },
            {
              "name": "id_pipe_comercial",
              "stringValue": "303850985"
            },
            {
              "name": "id_fase_pre_qualificados",
              "stringValue": "323445512"
            },
            {
              "name": "id_fase_pre_desqualificados",
              "stringValue": "323802688"
            }
          ]
        },
        "options": {}
      },
      "id": "60d17ab8-e8c3-4eae-bd3f-d7c47578a303",
      "name": "dados_pipefy",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -380,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pipefy.com/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=query {\n  findCards(pipeId: {{ $json[\"id_pipe_comercial\"] }}, search: {fieldId: \"e_mail_do_aluno_a\", fieldValue: \"{{ $node[\"formata_dados4\"].json[\"Email\"] }}\"}) {\n    edges {\n      node {\n        fields {\n          date_value\n          datetime_value\n          filled_at\n          float_value\n          indexName\n          name\n          native_value\n          report_value\n          updated_at\n          value\n        }\n        title\n        done\n        id\n        updated_at\n        assignees {\n          name\n          email\n        }\n        attachments {\n          url\n          path\n        }\n        current_phase {\n          name\n        }\n        pipe {\n          name\n        }\n      }\n    }\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "d9b4dc2b-747f-4118-b2fe-77b654a8edc7",
      "name": "get_cards_via_email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -160,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = items[0].json.payload;\n\n// Pegar o parâmetro \"created_at\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst createdAt = new Date($node[\"Evento\"].json.created_at);\nconst dataAgendamento = createdAt.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Pegar o parâmetro \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst startTime = new Date($node[\"Evento\"].json.payload.scheduled_event.start_time);\nconst dataInicio = startTime.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Subtrair 24 horas do \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst lembrete24h = new Date(startTime.getTime() - 24 * 60 * 60 * 1000);\nconst dataLembrete24h = lembrete24h.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Subtrair 2 horas do \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst lembrete2h = new Date(startTime.getTime() - 2 * 60 * 60 * 1000);\nconst dataLembrete2h = lembrete2h.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Pegar o parâmetro \"end_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst endTime = new Date($node[\"Evento\"].json.payload.scheduled_event.end_time);\nconst dataTermino = endTime.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n\nconst telefone = $node[\"Evento\"].json.payload.questions_and_answers[0].answer;\n\nfunction formatarTelefone(telefone) {\n  const telefoneLimpo = telefone.replace(/[^\\d]/g, '');\n\n  let ddi;\n  let ddd;\n  let telefoneFormatado;\n\n  // Verificar se o telefone começa com \"55\" antes de formatá-lo\n  if (telefoneLimpo.startsWith('55')) {\n    ddi = telefoneLimpo.slice(0, 2);\n    ddd = telefoneLimpo.slice(2, 4);\n    if (parseInt(ddd, 10) > 28) {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-8);\n    } else {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-9);\n    }\n  } else {\n    ddi = '55';\n    ddd = telefoneLimpo.slice(0, 2);\n    if (parseInt(ddd, 10) > 28) {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-8);\n    } else {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-9);\n    }\n  }\n\n  return telefoneFormatado;\n}\n\nfunction obterDiaSemana(dataISO) {\n  const diasDaSemana = ['Domingo', 'Segunda-feira', 'Terça-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'Sábado'];\n  \n  const dataObj = new Date(dataISO);\n  const indiceDia = dataObj.getUTCDay();\n\n  return diasDaSemana[indiceDia];\n}\n\n\nconst dia = obterDiaSemana($node[\"Evento\"].json.payload.scheduled_event.start_time);\n// Função para formatar a primeira letra de cada palavra em maiúsculo\nfunction formatarPrimeiraLetraMaiuscula(str) {\n  const palavras = str.toLowerCase().split(\" \");\n\n  for (let i = 0; i < palavras.length; i++) {\n    palavras[i] = palavras[i].charAt(0).toUpperCase() + palavras[i].slice(1);\n  }\n\n  return palavras.join(\" \");\n}\n\n// ...\n\n\n// Formatar o parâmetro \"name\" do objeto \"invitee\" com a primeira letra de cada palavra em maiúsculo\nconst name = formatarPrimeiraLetraMaiuscula($node[\"Evento\"].json.payload.name);\n\n// Validar se o parâmetro \"email\" é um email válido e colocar todas as letras em minúsculo\nconst email = $node[\"Evento\"].json.payload.email.toLowerCase();\nconst isEmailValid = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email);\n\n// Retornar os resultados\nreturn {\n  'Data em que foi feito o Agendamento': dataAgendamento.replaceAll(',',''),\n  'Data de Início': dataInicio.replaceAll(',',''),\n  'Lembrete 24h': dataLembrete24h.replaceAll(',',''),\n  'Lembrete 2h': dataLembrete2h.replaceAll(',',''),\n  'Data de Término': dataTermino.replaceAll(',',''),\n  'Telefone': formatarTelefone(telefone),\n  'Nome': name,\n  'Email válido': isEmailValid,\n  'Email': email,\n  'Dia': dia\n};\n"
      },
      "id": "914187f9-11a2-4e3d-8091-a68c945c5c86",
      "name": "formata_dados4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -580,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"event\"] }}",
              "value2": "invitee.created"
            }
          ]
        }
      },
      "id": "85c21192-e490-41e4-b8be-ab5ca5d2fd44",
      "name": "Evento Criado2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        2280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"invitee\"][\"is_reschedule\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "e05930df-366c-465e-ae3b-9fdd7ea2976d",
      "name": "É Reagendamento4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        580,
        2120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"old_invitee\"][\"is_reschedule\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "6baeceab-e3d1-4c3d-bc04-388be7fabb42",
      "name": "É Reagendamento5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1180,
        2160
      ]
    },
    {
      "parameters": {},
      "id": "cfc1a8b4-6007-4f27-a3ae-546b453e01a3",
      "name": "Não faça nada2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1480,
        2000
      ]
    },
    {
      "parameters": {},
      "id": "28903305-3560-4443-bfd3-9956e2e00258",
      "name": "cancelamento2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1500,
        2740
      ]
    },
    {
      "parameters": {
        "queue": "[COACHING] - Calendly - Agendamento Rayane",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "3f4ff4a8-8895-4625-ac57-600c9fdd284d",
      "name": "entra_na_fila1",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        1940,
        2340
      ],
      "credentials": {
        "rabbitmq": {
          "id": "6klSivWaJBCNmE5C",
          "name": "[RABBITMQ] - Karine Waldrich"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const payload = items[0].json.payload;\n\n// Pegar o parâmetro \"created_at\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst createdAt = new Date($node[\"Evento\"].json.created_at);\nconst dataAgendamento = createdAt.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Pegar o parâmetro \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst startTime = new Date($node[\"Evento\"].json.payload.scheduled_event.start_time);\nconst dataInicio = startTime.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Subtrair 24 horas do \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst lembrete24h = new Date(startTime.getTime() - 24 * 60 * 60 * 1000);\nconst dataLembrete24h = lembrete24h.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Subtrair 2 horas do \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst lembrete2h = new Date(startTime.getTime() - 2 * 60 * 60 * 1000);\nconst dataLembrete2h = lembrete2h.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Pegar o parâmetro \"end_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst endTime = new Date($node[\"Evento\"].json.payload.scheduled_event.end_time);\nconst dataTermino = endTime.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n\nconst telefone = $node[\"Evento\"].json.payload.questions_and_answers[0].answer;\n\nfunction formatarTelefone(telefone) {\n  const telefoneLimpo = telefone.replace(/[^\\d]/g, '');\n\n  let ddi;\n  let ddd;\n  let telefoneFormatado;\n\n  // Verificar se o telefone começa com \"55\" antes de formatá-lo\n  if (telefoneLimpo.startsWith('55')) {\n    ddi = telefoneLimpo.slice(0, 2);\n    ddd = telefoneLimpo.slice(2, 4);\n    if (parseInt(ddd, 10) > 28) {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-8);\n    } else {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-9);\n    }\n  } else {\n    ddi = '55';\n    ddd = telefoneLimpo.slice(0, 2);\n    if (parseInt(ddd, 10) > 28) {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-8);\n    } else {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-9);\n    }\n  }\n\n  return telefoneFormatado;\n}\n\nfunction obterDiaSemana(dataISO) {\n  const diasDaSemana = ['Domingo', 'Segunda-feira', 'Terça-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'Sábado'];\n  \n  const dataObj = new Date(dataISO);\n  const indiceDia = dataObj.getUTCDay();\n\n  return diasDaSemana[indiceDia];\n}\n\n\nconst dia = obterDiaSemana($node[\"Evento\"].json.payload.scheduled_event.start_time);\n// Função para formatar a primeira letra de cada palavra em maiúsculo\nfunction formatarPrimeiraLetraMaiuscula(str) {\n  const palavras = str.toLowerCase().split(\" \");\n\n  for (let i = 0; i < palavras.length; i++) {\n    palavras[i] = palavras[i].charAt(0).toUpperCase() + palavras[i].slice(1);\n  }\n\n  return palavras.join(\" \");\n}\n\n// ...\n\n\n// Formatar o parâmetro \"name\" do objeto \"invitee\" com a primeira letra de cada palavra em maiúsculo\nconst name = formatarPrimeiraLetraMaiuscula($node[\"Evento\"].json.payload.name);\n\n// Validar se o parâmetro \"email\" é um email válido e colocar todas as letras em minúsculo\nconst email = $node[\"Evento\"].json.payload.email.toLowerCase();\nconst isEmailValid = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email);\n\n// Retornar os resultados\nreturn {\n  'Data em que foi feito o Agendamento': dataAgendamento.replaceAll(',',''),\n  'Data de Início': dataInicio.replaceAll(',',''),\n  'Lembrete 24h': dataLembrete24h.replaceAll(',',''),\n  'Lembrete 2h': dataLembrete2h.replaceAll(',',''),\n  'Data de Término': dataTermino.replaceAll(',',''),\n  'Telefone': formatarTelefone(telefone),\n  'Nome': name,\n  'Email válido': isEmailValid,\n  'Email': email,\n  'Dia': dia\n};\n"
      },
      "id": "a6b75409-e985-4cf3-aa2d-86ed5cdba904",
      "name": "formata_dados2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1480,
        2340
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = items[0].json.payload;\n\n// Acesse a data do JSON\nconst canceledAt = $node[\"Evento\"].json[\"created_at\"] || '';\n\n// Crie um objeto de data a partir da string\nconst data = new Date(canceledAt);\n\n// Extraia o ano, mês e dia\nconst ano = data.getFullYear();\nconst mes = String(data.getMonth() + 1).padStart(2, '0'); // Adiciona zero à esquerda, se necessário\nconst dia = String(data.getDate()).padStart(2, '0');\n\n// Crie a string formatada no formato YYYY-MM-DD\nconst dataCancelamento = `${ano}-${mes}-${dia}`;\n\n// Verificar o campo \"slug\" e definir o campo \"chave\" conforme as condições\nfunction definirChave(eventType) {\n  const slug = eventType.toLowerCase();\n\n  if (slug.includes(\"aplicacao\")) {\n    return \"aplicacao_direta\";\n  } else if (slug.includes(\"sessao\")) {\n    return \"sessao_estrategica\";\n  } else {\n    return \"\"; // Nenhuma correspondência, campo \"chave\" vazio\n  }\n}\nfunction obterDiaSemana(dataISO) {\n  const diasDaSemana = ['Domingo', 'Segunda-feira', 'Terça-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'Sábado'];\n  \n  const dataObj = new Date(dataISO);\n  const indiceDia = dataObj.getUTCDay();\n\n  return diasDaSemana[indiceDia];\n}\n\nconst diaExtenso = obterDiaSemana($node[\"Evento\"].json.payload.scheduled_event.start_time);\n\nconst eventTypeSlug = $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"name\"] || '';\nconst chave = definirChave(eventTypeSlug)\n\n// Buscar o telefone nos campos do array \"questions_and_answers\" no objeto \"invitee\" e formatá-lo\nlet telefone = '';\nconst questionsAndAnswers = payload.questions_and_answers;\nfor (let i = 0; i < questionsAndAnswers.length; i++) {\n  const answer = questionsAndAnswers[i].answer;\n  if (/^[\\+\\s\\d-]+$/.test(answer)) {\n    telefone = answer.replace(/[\\+\\s-]/g, '');\n    break;\n  }\n}\n\n// Extrair o DDI a partir do telefone limpo\nconst ddi = telefone.slice(0, 2);\n\n// Verificar se o DDI é igual a 55\nif (ddi === '55') {\n  const ddd = telefone.slice(2, 4);\n  if (Number(ddd) > 28) {\n    telefone = '55' + telefone.slice(2, 4) + telefone.slice(-8).replace(/\\s/g, '');\n  } else {\n    telefone = '55' + telefone.slice(2, 4) + telefone.slice(-9).replace(/\\s/g, '');\n  }\n} else {\n  telefone = telefone.replace(/[\\+\\s-]/g, ''); // Tratar como número internacional\n}\n\n// Função para formatar a primeira letra de cada palavra em maiúsculo\nfunction formatarPrimeiraLetraMaiuscula(str) {\n  const palavras = str.toLowerCase().split(\" \");\n\n  for (let i = 0; i < palavras.length; i++) {\n    palavras[i] = palavras[i].charAt(0).toUpperCase() + palavras[i].slice(1);\n  }\n\n  return palavras.join(\" \");\n}\n\n// Formatar o parâmetro \"name\" do objeto \"invitee\" com a primeira letra de cada palavra em maiúsculo\nconst name = formatarPrimeiraLetraMaiuscula($node[\"Evento\"].json[\"payload\"][\"name\"]);\n\n// Retornar os resultados\nreturn {\n  'Telefone': telefone,\n  'Nome': name,\n  'Data do Cancelamento': dataCancelamento,\n  'Chave': chave,\n  'Dia': diaExtenso\n};\n"
      },
      "id": "c393d705-bfd1-4a41-a05e-527642836bfb",
      "name": "formata_dados5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1800,
        2740
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"name\"] }}",
              "operation": "contains",
              "value2": "DAI - DIAGNÓSTICO DE APROVAÇÃO INDIVIDUAL"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "88a1f418-d6a8-47d1-b6ac-5064cc5b1264",
      "name": "sessao_estrategica1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        200,
        2340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"name\"] }}",
              "operation": "contains",
              "value2": "Aplicação"
            },
            {
              "value1": "={{ $json[\"payload\"][\"questions_and_answers\"][\"1\"][\"answer\"] }}",
              "operation": "contains",
              "value2": "Webnar"
            },
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"questions_and_answers\"][\"1\"][\"answer\"] }}",
              "operation": "contains",
              "value2": "Aplicação"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "5ef93807-e046-48e5-bfc4-545e53a17e14",
      "name": "aplicacao1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        380,
        2640
      ]
    },
    {
      "parameters": {
        "queue": "[COACHING] - Calendly - Cancelamento Rayane",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "65c6977f-e1f5-4f03-9587-e41165cecb33",
      "name": "entra_na_fila4",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        2220,
        2740
      ],
      "credentials": {
        "rabbitmq": {
          "id": "6klSivWaJBCNmE5C",
          "name": "[RABBITMQ] - Karine Waldrich"
        }
      }
    },
    {
      "parameters": {},
      "id": "cdee5294-6284-4999-9d49-8c2b1e03dd1e",
      "name": "nada1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        600,
        2820
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"event\"] }}",
              "value2": "invitee.created"
            }
          ]
        }
      },
      "id": "a77fb988-0cae-47f4-8712-29944457759f",
      "name": "Evento Criado3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        880,
        2980
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"rescheduled\"] }}",
              "value2": true
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "b61ba9de-8fcd-4fa0-be41-e5f5e9694572",
      "name": "É Reagendamento6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        2500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"old_invitee\"][\"is_reschedule\"] }}",
              "value2": true
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "443dc6d7-7665-46c4-9474-51d4b5ecc8e4",
      "name": "É Reagendamento7",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1180,
        3160
      ]
    },
    {
      "parameters": {},
      "id": "b81c0102-adbe-469f-9037-993cfe8837f8",
      "name": "Não faça nada3",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1500,
        3060
      ]
    },
    {
      "parameters": {
        "queue": "[COACHING] - Calendly - Agendamento Rayane",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "e8a7c47a-d911-47d7-8c9b-a21abbe5a962",
      "name": "entra_na_fila5",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        1980,
        3240
      ],
      "credentials": {
        "rabbitmq": {
          "id": "6klSivWaJBCNmE5C",
          "name": "[RABBITMQ] - Karine Waldrich"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const payload = items[0].json.payload;\n\n// Pegar o parâmetro \"created_at\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst createdAt = new Date($node[\"Evento\"].json.created_at);\nconst dataAgendamento = createdAt.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Pegar o parâmetro \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst startTime = new Date(payload.scheduled_event.start_time);\nconst dataInicio = startTime.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Subtrair 24 horas do \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst lembrete24h = new Date(startTime.getTime() - 24 * 60 * 60 * 1000);\nconst dataLembrete24h = lembrete24h.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Subtrair 2 horas do \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst lembrete2h = new Date(startTime.getTime() - 2 * 60 * 60 * 1000);\nconst dataLembrete2h = lembrete2h.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Pegar o parâmetro \"end_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst endTime = new Date($node[\"Evento\"].json.payload.scheduled_event.end_time);\nconst dataTermino = endTime.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n\nconst telefone = $node[\"Evento\"].json.payload.questions_and_answers[0].answer;\n\nfunction formatarTelefone(telefone) {\n  const telefoneLimpo = telefone.replace(/[^\\d]/g, '');\n\n  let ddi;\n  let ddd;\n  let telefoneFormatado;\n\n  // Verificar se o telefone começa com \"55\" antes de formatá-lo\n  if (telefoneLimpo.startsWith('55')) {\n    ddi = telefoneLimpo.slice(0, 2);\n    ddd = telefoneLimpo.slice(2, 4);\n    if (parseInt(ddd, 10) > 28) {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-8);\n    } else {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-9);\n    }\n  } else {\n    ddi = '55';\n    ddd = telefoneLimpo.slice(0, 2);\n    if (parseInt(ddd, 10) > 28) {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-8);\n    } else {\n      telefoneFormatado = ddi + ddd + telefoneLimpo.slice(-9);\n    }\n  }\n\n  return telefoneFormatado;\n}\n\nfunction obterDiaSemana(dataISO) {\n  const diasDaSemana = ['Domingo', 'Segunda-feira', 'Terça-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'Sábado'];\n  \n  const dataObj = new Date(dataISO);\n  const indiceDia = dataObj.getUTCDay();\n\n  return diasDaSemana[indiceDia];\n}\n\n\nconst dia = obterDiaSemana($node[\"Evento\"].json.payload.scheduled_event.start_time);\n// Função para formatar a primeira letra de cada palavra em maiúsculo\nfunction formatarPrimeiraLetraMaiuscula(str) {\n  const palavras = str.toLowerCase().split(\" \");\n\n  for (let i = 0; i < palavras.length; i++) {\n    palavras[i] = palavras[i].charAt(0).toUpperCase() + palavras[i].slice(1);\n  }\n\n  return palavras.join(\" \");\n}\n\n// ...\n\n\n// Formatar o parâmetro \"name\" do objeto \"invitee\" com a primeira letra de cada palavra em maiúsculo\nconst name = formatarPrimeiraLetraMaiuscula($node[\"Evento\"].json.payload.name);\n\n// Validar se o parâmetro \"email\" é um email válido e colocar todas as letras em minúsculo\nconst email = $node[\"Evento\"].json.payload.email.toLowerCase();\nconst isEmailValid = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email);\n\n// Retornar os resultados\nreturn {\n  'Data em que foi feito o Agendamento': dataAgendamento.replaceAll(',',''),\n  'Data de Início': dataInicio.replaceAll(',',''),\n  'Lembrete 24h': dataLembrete24h.replaceAll(',',''),\n  'Lembrete 2h': dataLembrete2h.replaceAll(',',''),\n  'Data de Término': dataTermino.replaceAll(',',''),\n  'Telefone': formatarTelefone(telefone),\n  'Nome': name,\n  'Email válido': isEmailValid,\n  'Email': email,\n  'Dia': dia\n};\n"
      },
      "id": "b3c93f4a-216e-4a76-ab52-df7bd7246ba3",
      "name": "formata_dados6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1500,
        3240
      ]
    },
    {
      "parameters": {},
      "id": "d42c6b2f-5ebd-4606-a3f7-55deb3ac3ff7",
      "name": "reagendamento",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        2620
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"email\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "=+{{ $node[\"formata_dados6\"].json[\"Telefone\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"formata_dados6\"].json[\"Telefone\"] }}"
            },
            {
              "name": "Tipo de Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"event_memberships\"][\"0\"][\"user_name\"] }}"
            },
            {
              "name": "ID do Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"].split('/')[4] }}"
            },
            {
              "name": "Responsável pelo Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"event_memberships\"][\"0\"][\"user_name\"] }}"
            },
            {
              "name": "E-mail do Responsável",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"event_memberships\"][\"0\"][\"user_email\"] }}"
            },
            {
              "name": "Data de Início",
              "value": "={{ $node[\"formata_dados6\"].json[\"Data de Início\"] }}"
            },
            {
              "name": "Data em que foi feito o Agendamento",
              "value": "={{ $node[\"formata_dados6\"].json[\"Data em que foi feito o Agendamento\"] }}"
            },
            {
              "name": "Data de Término",
              "value": "={{ $node[\"formata_dados6\"].json[\"Data de Término\"] }}"
            },
            {
              "name": "Dia da Semana de Início do Evento",
              "value": "={{ $node[\"formata_dados6\"].json[\"Dia\"] }}"
            },
            {
              "name": "Link da Reunião",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"location\"][\"join_url\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_content\"] }}"
            },
            {
              "name": "ID do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"uri\"].split('/')[6] }}"
            },
            {
              "name": "id_do_campo_id_do_agendamento_bot_conversa",
              "value": "1776702"
            },
            {
              "name": "fluxo_de_confirmacao_de_agendamento",
              "value": "3162427"
            },
            {
              "name": "API-KEY",
              "value": "46dacadf-10d0-47db-a81d-69263aca1959"
            },
            {
              "name": "id_do_campo_link_da_reuniao_bot_conversa",
              "value": "1721239"
            },
            {
              "name": "id_do_campo_dia_da_semana_do_agendamento_bot_conversa",
              "value": "1776712"
            },
            {
              "name": "id_do_campo_data_do_agendamento_bot_conversa",
              "value": "1772557"
            },
            {
              "name": "id_do_campo_horario_agendado_bot_conversa",
              "value": "1779832"
            },
            {
              "name": "id_do_campo_id_banco_de_dados_bot_conversa",
              "value": "1776703"
            },
            {
              "name": "id_do_campo_idleadac_bot_conversa",
              "value": "1776713"
            },
            {
              "name": "id_do_campo_iddealac_bot_conversa",
              "value": "1776714"
            },
            {
              "name": "id_campo_id_banco_de_dados_ac"
            },
            {
              "name": "valor_produto_principal_em_centavos"
            },
            {
              "name": "id_stage_agendou_reuniao_ac"
            },
            {
              "name": "funil",
              "value": "sessao_estrategica"
            },
            {
              "name": "variacao_do_funil",
              "value": "v1"
            },
            {
              "name": "id_pipeline_se_ac"
            },
            {
              "name": "id_sdr",
              "value": "="
            },
            {
              "name": "url_api_activecampaign",
              "value": "="
            },
            {
              "name": "id_campo_link_de_cancelamento_ac"
            },
            {
              "name": "id_campo_link_de_reagendamento_ac"
            },
            {
              "name": "id_campo_id_do_cliente_ac"
            },
            {
              "name": "id_campo_dia_semana_agendamento_ac"
            },
            {
              "name": "id_campo_data_de_inicio_ac"
            },
            {
              "name": "id_campo_data_e_hora_de_inicio_ac"
            },
            {
              "name": "id_campo_data_e_hora_de_termino_ac"
            },
            {
              "name": "id_campo_data_de_termino_ac"
            },
            {
              "name": "id_campo_email_do_responsavel_ac"
            },
            {
              "name": "id_campo_data_do_agendamento_ac"
            },
            {
              "name": "id_campo_link_da_reuniao_ac"
            },
            {
              "name": "id_campo_tipo_de_evento_ac"
            },
            {
              "name": "id_campo_id_do_evento_ac"
            },
            {
              "name": "id_campo_utm_source_ac"
            },
            {
              "name": "id_campo_utm_campaign_ac"
            },
            {
              "name": "id_campo_utm_term_ac"
            },
            {
              "name": "id_campo_utm_medium_ac"
            },
            {
              "name": "id_campo_utm_content_ac"
            },
            {
              "name": "id_campo_utm_fun_ac"
            },
            {
              "name": "id_campo_utm_var_ac"
            },
            {
              "name": "id_do_campo_id_do_cliente_bot_conversa",
              "value": "1776706"
            },
            {
              "name": "id_task_reuniao_ac"
            },
            {
              "name": "id_campo_tipo_de_evento_bot_conversa",
              "value": "1776718"
            },
            {
              "name": "id_campo_closer_responsavel_bot_conversa",
              "value": "1776720"
            },
            {
              "name": "id_status_preencheu_aplicacao_crm"
            },
            {
              "name": "id_campo_email_crm",
              "value": "43a14a28-119a-4e43-a0a1-58bc64e739a2"
            },
            {
              "name": "id_campo_telefone_crm",
              "value": "4f5b17cc-999f-4779-8a66-155632cf59b4"
            },
            {
              "name": "id_campo_utm_source_crm",
              "value": "94fb2c13-bbd0-48a1-89f5-85ef2f537c11"
            },
            {
              "name": "id_campo_utm_campaign_crm",
              "value": "e545d10b-616e-450d-aef6-d8e65b0944a3"
            },
            {
              "name": "id_campo_utm_term_crm",
              "value": "21c541c6-2224-4d82-91da-825808a1edea"
            },
            {
              "name": "id_campo_utm_medium_crm",
              "value": "d65c4dd8-d243-4416-8349-2d7f341b3bcf"
            },
            {
              "name": "id_campo_utm_content_crm",
              "value": "1198c9d0-f4ee-4b1d-a24c-b6df7303ebf2"
            },
            {
              "name": "id_campo_utm_fun_crm",
              "value": "2e435a89-b633-4100-a0b5-6810746db2c4"
            },
            {
              "name": "id_campo_utm_var_crm",
              "value": "58dc2672-4c26-4b0b-ad81-8dcc82de45e0"
            },
            {
              "name": "id_campo_data_inicio_milesegundos_crm",
              "value": "2375d3f7-5a46-4f88-ba30-572e129b0a3f"
            },
            {
              "name": "id_campo_id_evento_calendly_crm",
              "value": "50a20169-76c5-43fc-9f3c-9a5bd5affd73"
            },
            {
              "name": "id_campo_id_cliente_calendly_crm",
              "value": "58364ec1-0104-4bf7-a9e5-9e529a345d29"
            },
            {
              "name": "id_campo_nome_completo_crm",
              "value": "1c438058-b654-4a19-9ea3-438bc2f5a078"
            },
            {
              "name": "id_campo_modelo_da_call_sessao_estrategica_crm",
              "value": "36a55391-29e3-4168-9caf-67ac756b79f8"
            },
            {
              "name": "id_campo_modelo_da_call_aplicacao_direta_crm",
              "value": "5883faf4-ebef-4b10-976a-0f88f4c25331"
            },
            {
              "name": "id_campo_funil_sessao_estrategica_crm",
              "value": "5661918f-e847-4e0e-b9fc-ca7f62ed0a67"
            },
            {
              "name": "id_campo_funil_aplicacao_direta_crm",
              "value": "1be63c76-92ea-4be1-a028-5301b1c9fa4e"
            },
            {
              "name": "id_campo_modelo_da_call_crm",
              "value": "1ecc802b-e2b3-4769-bc7a-9e1517c2278f"
            },
            {
              "name": "id_campo_status_do_lead_crm",
              "value": "20bc36eb-9d21-4aaa-b6f1-3c85bafa63ec"
            },
            {
              "name": "id_campo_id_botconversa_crm",
              "value": "f19516e0-1a4a-4b3d-b68e-68c2ae4acc59"
            },
            {
              "name": "id_campo_id_banco_de_dados_crm",
              "value": "d23569b0-b471-45e0-a1e9-840a6711d052"
            },
            {
              "name": "id_campo_status_sessao_ou_aplicacao_crm",
              "value": "947abb00-968d-4e1b-a6b9-c0887cbfd4b9"
            },
            {
              "name": "id_campo_status_agendamento_realizado_crm",
              "value": "f1f22e0a-1e16-4b49-bbba-5331c7187906"
            },
            {
              "name": "id_campo_link_reuniao_crm",
              "value": "e6f4eccc-7ee5-4caa-b444-648db658faca"
            }
          ]
        },
        "options": {}
      },
      "id": "a0e4e998-fa24-4935-bc17-bc3b53a9d459",
      "name": "dados_do_agendamento2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1740,
        3240
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"email\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "=+{{ $node.formata_dados21.json.Telefone }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node.formata_dados21.json.Telefone }}"
            },
            {
              "name": "ID do Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"].split('/')[4] }}"
            },
            {
              "name": "Data do Cancelamento",
              "value": "={{ $node[\"formata_dados5\"].json[\"Data do Cancelamento\"] }}"
            },
            {
              "name": "ID do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"reschedule_url\"].split('/')[4] }}"
            },
            {
              "name": "API-KEY",
              "value": "46dacadf-10d0-47db-a81d-69263aca1959"
            },
            {
              "name": "id_do_campo_id_do_agendamento_bot_conversa",
              "value": "1776702"
            },
            {
              "name": "id_do_campo_inviteeid_bot_conversa",
              "value": "1776706"
            },
            {
              "name": "id_do_campo_horario_agendado_bot_conversa",
              "value": "1779832"
            },
            {
              "name": "id_do_campo_data_do_reagendamento_bot_conversa",
              "value": "1827268"
            },
            {
              "name": "id_do_campo_dia_da_semana_do_agendamento_bot_conversa",
              "value": "1776712"
            },
            {
              "name": "fluxo_de_confirmacao_de_cancelamento",
              "value": "3163473"
            },
            {
              "name": "id_do_campo_motivo_do_cancelamento_bot_conversa",
              "value": "1798749"
            },
            {
              "name": "Motivo do Cancelamento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"cancellation\"][\"reason\"] }}"
            },
            {
              "name": "Data de Início",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"start_time\"].split('T')[0] }}"
            },
            {
              "name": "Hora de Início",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"start_time\"].split('T')[1].slice(0,5) }}"
            },
            {
              "name": "Link da Reunião",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"location\"][\"join_url\"] }}"
            },
            {
              "name": "Tipo de Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"name\"] }}"
            },
            {
              "name": "Dia da Semana do Evento",
              "value": "={{ $node[\"formata_dados5\"].json[\"Dia\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_content\"] }}"
            },
            {
              "name": "data_agendamento",
              "value": "={{ $node[\"Evento\"].json[\"created_at\"].split('T')[0] }} {{ $node[\"Evento\"].json[\"created_at\"].split('T')[1].slice(0,5) }}"
            },
            {
              "name": "id_campo_id_banco_de_dados_bot_conversa",
              "value": "1776703"
            },
            {
              "name": "data_termino_ac",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"end_time\"].split('T')[0] }}"
            },
            {
              "name": "data_e_hora_de_termino",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"end_time\"].split('T')[0].split('-')[2] }}/{{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"end_time\"].split('T')[0].split('-')[1] }}/{{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"end_time\"].split('T')[0].split('-')[0] }} {{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"end_time\"].split('T')[1].split('-')[0].split(':')[0] }}:{{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"end_time\"] .split('T')[1].split('-')[0].split(':')[1] }}"
            },
            {
              "name": "data_e_hora_de_inicio",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"start_time\"].split('T')[0].split('-')[2] }}/{{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"start_time\"].split('T')[0].split('-')[1] }}/{{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"start_time\"].split('T')[0].split('-')[0] }} {{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"start_time\"].split('T')[1].split('-')[0].split(':')[0] }}:{{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"start_time\"].split('T')[1].split('-')[0].split(':')[1] }}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"formata_dados5\"].json[\"Chave\"] }}"
            },
            {
              "name": "variacao_do_funil",
              "value": "v1"
            },
            {
              "name": "id_sdr",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"event_memberships\"][\"0\"][\"user_email\"] }}"
            },
            {
              "name": "id_stage_agendou_reuniao_se_ac"
            },
            {
              "name": "id_pipeline_se_ac"
            },
            {
              "name": "valor_produto_principal_em_centavos"
            },
            {
              "name": "id_campo_tipo_de_evento_se_ac"
            },
            {
              "name": "id_campo_id_do_evento_se_ac"
            },
            {
              "name": "id_campo_dia_semana_agendamento_se_ac"
            },
            {
              "name": "id_campo_data_e_hora_de_inicio_se_ac"
            },
            {
              "name": "id_campo_data_de_inicio_se_ac"
            },
            {
              "name": "id_campo_data_do_agendamento_se_ac"
            },
            {
              "name": "id_campo_email_do_responsavel_se_ac"
            },
            {
              "name": "id_campo_data_de_termino_se_ac"
            },
            {
              "name": "id_campo_link_da_reuniao_se_ac"
            },
            {
              "name": "id_campo_link_de_reagendamento_se_ac"
            },
            {
              "name": "id_campo_link_de_cancelamento_se_ac"
            },
            {
              "name": "id_campo_id_do_cliente_se_ac"
            },
            {
              "name": "id_campo_data_e_hora_de_termino_se_ac"
            },
            {
              "name": "id_campo_utm_source_se_ac"
            },
            {
              "name": "id_campo_utm_campaign_se_ac"
            },
            {
              "name": "id_campo_utm_term_se_ac"
            },
            {
              "name": "id_campo_utm_medium_se_ac"
            },
            {
              "name": "id_campo_utm_content_se_ac"
            },
            {
              "name": "id_campo_utm_fun_se_ac"
            },
            {
              "name": "id_campo_utm_var_se_ac"
            },
            {
              "name": "id_campo_id_banco_de_dados_ac"
            },
            {
              "name": "id_campo_idleadac_bot_conversa",
              "value": "1375550"
            },
            {
              "name": "id_campo_iddealac_bot_conversa"
            },
            {
              "name": "E-mail do Responsável",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"event_memberships\"][\"0\"][\"user_email\"] }}"
            },
            {
              "name": "Nome do Responsável",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"event_memberships\"][\"0\"][\"user_name\"] }}"
            },
            {
              "name": "url_api_activecampaign"
            },
            {
              "name": "id_campo_tipo_de_evento_app_ac"
            },
            {
              "name": "id_campo_id_do_evento_app_ac"
            },
            {
              "name": "id_campo_dia_semana_agendamento_app_ac"
            },
            {
              "name": "id_campo_data_e_hora_de_inicio_app_ac"
            },
            {
              "name": "id_campo_data_de_inicio_app_ac"
            },
            {
              "name": "id_campo_data_do_agendamento_app_ac"
            },
            {
              "name": "id_campo_email_do_responsavel_app_ac"
            },
            {
              "name": "id_campo_data_de_termino_app_ac"
            },
            {
              "name": "id_campo_link_da_reuniao_app_ac"
            },
            {
              "name": "id_campo_link_de_reagendamento_app_ac"
            },
            {
              "name": "id_campo_link_de_cancelamento_app_ac"
            },
            {
              "name": "id_campo_id_do_cliente_app_ac"
            },
            {
              "name": "id_campo_data_e_hora_de_termino_app_ac"
            },
            {
              "name": "id_campo_utm_source_app_ac"
            },
            {
              "name": "id_campo_utm_campaign_app_ac"
            },
            {
              "name": "id_campo_utm_term_app_ac"
            },
            {
              "name": "id_campo_utm_medium_app_ac"
            },
            {
              "name": "id_campo_utm_content_app_ac"
            },
            {
              "name": "id_campo_utm_fun_app_ac"
            },
            {
              "name": "id_campo_utm_var_app_ac"
            },
            {
              "name": "id_stage_agendou_reuniao_app_ac"
            },
            {
              "name": "id_pipeline_app_ac"
            },
            {
              "name": "id_do_campo_motivo_do_reagendamento_bot_conversa",
              "value": "1798750"
            },
            {
              "name": "Motivo do Reagendamento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"cancellation\"][\"reason\"] }}"
            },
            {
              "name": "Evento",
              "value": "={{ $node[\"reagendamento\"].runIndex >= 0 ? 'Reagendamento' : \n($node[\"cancelamento2\"].runIndex >= 0 ? 'Cancelamento' :\n'' )}}"
            },
            {
              "name": "id_do_campo_data_do_cancelamento_bot_conversa",
              "value": "1825625"
            },
            {
              "name": "fluxo_de_confirmacao_de_reagendamento",
              "value": "3163474"
            },
            {
              "name": "id_status_preencheu_aplicacao_crm"
            },
            {
              "name": "id_campo_email_crm",
              "value": "43a14a28-119a-4e43-a0a1-58bc64e739a2"
            },
            {
              "name": "id_campo_telefone_crm",
              "value": "4f5b17cc-999f-4779-8a66-155632cf59b4"
            },
            {
              "name": "id_campo_utm_source_crm",
              "value": "94fb2c13-bbd0-48a1-89f5-85ef2f537c11"
            },
            {
              "name": "id_campo_utm_campaign_crm",
              "value": "e545d10b-616e-450d-aef6-d8e65b0944a3"
            },
            {
              "name": "id_campo_utm_term_crm",
              "value": "21c541c6-2224-4d82-91da-825808a1edea"
            },
            {
              "name": "id_campo_utm_medium_crm",
              "value": "d65c4dd8-d243-4416-8349-2d7f341b3bcf"
            },
            {
              "name": "id_campo_utm_content_crm",
              "value": "1198c9d0-f4ee-4b1d-a24c-b6df7303ebf2"
            },
            {
              "name": "id_campo_utm_fun_crm",
              "value": "2e435a89-b633-4100-a0b5-6810746db2c4"
            },
            {
              "name": "id_campo_utm_var_crm",
              "value": "58dc2672-4c26-4b0b-ad81-8dcc82de45e0"
            },
            {
              "name": "id_campo_data_inicio_milesegundos_crm",
              "value": "2375d3f7-5a46-4f88-ba30-572e129b0a3f"
            },
            {
              "name": "id_campo_id_evento_calendly_crm",
              "value": "50a20169-76c5-43fc-9f3c-9a5bd5affd73"
            },
            {
              "name": "id_campo_id_cliente_calendly_crm",
              "value": "58364ec1-0104-4bf7-a9e5-9e529a345d29"
            },
            {
              "name": "id_campo_nome_completo_crm",
              "value": "1c438058-b654-4a19-9ea3-438bc2f5a078"
            },
            {
              "name": "id_campo_modelo_da_call_sessao_estrategica_crm",
              "value": "36a55391-29e3-4168-9caf-67ac756b79f8"
            },
            {
              "name": "id_campo_modelo_da_call_aplicacao_direta_crm",
              "value": "5883faf4-ebef-4b10-976a-0f88f4c25331"
            },
            {
              "name": "id_campo_funil_sessao_estrategica_crm",
              "value": "5661918f-e847-4e0e-b9fc-ca7f62ed0a67"
            },
            {
              "name": "id_campo_funil_aplicacao_direta_crm",
              "value": "1be63c76-92ea-4be1-a028-5301b1c9fa4e"
            },
            {
              "name": "id_campo_modelo_da_call_crm",
              "value": "1ecc802b-e2b3-4769-bc7a-9e1517c2278f"
            },
            {
              "name": "id_campo_status_do_lead_crm",
              "value": "20bc36eb-9d21-4aaa-b6f1-3c85bafa63ec"
            },
            {
              "name": "id_campo_id_botconversa_crm",
              "value": "f19516e0-1a4a-4b3d-b68e-68c2ae4acc59"
            },
            {
              "name": "id_campo_id_banco_de_dados_crm",
              "value": "d23569b0-b471-45e0-a1e9-840a6711d052"
            },
            {
              "name": "id_campo_status_sessao_ou_aplicacao_crm",
              "value": "947abb00-968d-4e1b-a6b9-c0887cbfd4b9"
            },
            {
              "name": "id_campo_status_agendamento_realizado_crm",
              "value": "f1f22e0a-1e16-4b49-bbba-5331c7187906"
            },
            {
              "name": "id_campo_link_reuniao_crm",
              "value": "e6f4eccc-7ee5-4caa-b444-648db658faca"
            },
            {
              "name": "id_etapa_followup_sdr_crm",
              "value": "0412a13f-5226-4a9e-9316-8efa9c38c2e3"
            },
            {
              "name": "id_campo_status_da_call_crm",
              "value": "2d103ff9-928a-457a-a5b2-f5ed8ee46c36"
            },
            {
              "name": "id_campo_status_da_call_cancelou_crm",
              "value": "cec1c482-7af0-4502-9660-210764bea3b2"
            },
            {
              "name": "id_campo_status_da_call_reagendou_crm",
              "value": "0d52f29c-31e2-4aca-b9e4-2e24421ddbe9"
            },
            {
              "name": "id_campo_status_da_call_agendou_crm ",
              "value": "d3215822-ac75-4e09-a939-afe7c63d95e4"
            },
            {
              "name": "utm_fun",
              "value": "={{ $node[\"É Reagendamento4\"].runIndex >= 0 ? 'sessao_estrategica' : ($node[\"É Reagendamento6\"].runIndex >= 0 ? 'aplicacao_direta' : \"\")  }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "100454ab-0c00-4f90-b60d-b2004a56e587",
      "name": "dados_do_cancelamento1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2000,
        2740
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"email\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "=+{{ $node[\"formata_dados2\"].json[\"Telefone\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"formata_dados2\"].json[\"Telefone\"] }}"
            },
            {
              "name": "Tipo de Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"event_memberships\"][\"0\"][\"user_name\"] }}"
            },
            {
              "name": "ID do Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"event\"].split('/')[4] }}"
            },
            {
              "name": "Responsável pelo Evento",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"event_memberships\"][\"0\"][\"user_name\"] }}"
            },
            {
              "name": "E-mail do Responsável",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"event_memberships\"][\"0\"][\"user_email\"] }}"
            },
            {
              "name": "Data de Início",
              "value": "={{ $node[\"formata_dados2\"].json[\"Data de Início\"] }}"
            },
            {
              "name": "Data em que foi feito o Agendamento",
              "value": "={{ $node[\"formata_dados2\"].json[\"Data em que foi feito o Agendamento\"] }}"
            },
            {
              "name": "Data de Término",
              "value": "={{ $node[\"formata_dados2\"].json[\"Data de Término\"] }}"
            },
            {
              "name": "Dia da Semana de Início do Evento",
              "value": "={{ $node[\"formata_dados2\"].json[\"Dia\"] }}"
            },
            {
              "name": "Link da Reunião",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"location\"][\"join_url\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"tracking\"][\"utm_content\"] }}"
            },
            {
              "name": "ID do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"payload\"][\"uri\"].split('/')[6] }}"
            },
            {
              "name": "id_do_campo_id_do_agendamento_bot_conversa",
              "value": "1776702"
            },
            {
              "name": "fluxo_de_confirmacao_de_agendamento",
              "value": "3162427"
            },
            {
              "name": "API-KEY",
              "value": "46dacadf-10d0-47db-a81d-69263aca1959"
            },
            {
              "name": "id_do_campo_link_da_reuniao_bot_conversa",
              "value": "1721239"
            },
            {
              "name": "id_do_campo_dia_da_semana_do_agendamento_bot_conversa",
              "value": "1776712"
            },
            {
              "name": "id_do_campo_data_do_agendamento_bot_conversa",
              "value": "1772557"
            },
            {
              "name": "id_do_campo_horario_agendado_bot_conversa",
              "value": "1779832"
            },
            {
              "name": "id_do_campo_id_banco_de_dados_bot_conversa",
              "value": "1776703"
            },
            {
              "name": "id_do_campo_idleadac_bot_conversa",
              "value": "1776713"
            },
            {
              "name": "id_do_campo_iddealac_bot_conversa",
              "value": "1776714"
            },
            {
              "name": "id_campo_id_banco_de_dados_ac"
            },
            {
              "name": "valor_produto_principal_em_centavos"
            },
            {
              "name": "id_stage_agendou_reuniao_ac"
            },
            {
              "name": "funil",
              "value": "sessao_estrategica"
            },
            {
              "name": "variacao_do_funil",
              "value": "v1"
            },
            {
              "name": "id_pipeline_se_ac"
            },
            {
              "name": "id_sdr",
              "value": "="
            },
            {
              "name": "url_api_activecampaign",
              "value": "="
            },
            {
              "name": "id_campo_link_de_cancelamento_ac"
            },
            {
              "name": "id_campo_link_de_reagendamento_ac"
            },
            {
              "name": "id_campo_id_do_cliente_ac"
            },
            {
              "name": "id_campo_dia_semana_agendamento_ac"
            },
            {
              "name": "id_campo_data_de_inicio_ac"
            },
            {
              "name": "id_campo_data_e_hora_de_inicio_ac"
            },
            {
              "name": "id_campo_data_e_hora_de_termino_ac"
            },
            {
              "name": "id_campo_data_de_termino_ac"
            },
            {
              "name": "id_campo_email_do_responsavel_ac"
            },
            {
              "name": "id_campo_data_do_agendamento_ac"
            },
            {
              "name": "id_campo_link_da_reuniao_ac"
            },
            {
              "name": "id_campo_tipo_de_evento_ac"
            },
            {
              "name": "id_campo_id_do_evento_ac"
            },
            {
              "name": "id_campo_utm_source_ac"
            },
            {
              "name": "id_campo_utm_campaign_ac"
            },
            {
              "name": "id_campo_utm_term_ac"
            },
            {
              "name": "id_campo_utm_medium_ac"
            },
            {
              "name": "id_campo_utm_content_ac"
            },
            {
              "name": "id_campo_utm_fun_ac"
            },
            {
              "name": "id_campo_utm_var_ac"
            },
            {
              "name": "id_do_campo_id_do_cliente_bot_conversa",
              "value": "1776706"
            },
            {
              "name": "id_task_reuniao_ac"
            },
            {
              "name": "id_campo_tipo_de_evento_bot_conversa",
              "value": "1776718"
            },
            {
              "name": "id_campo_closer_responsavel_bot_conversa",
              "value": "1776720"
            },
            {
              "name": "id_status_preencheu_aplicacao_crm"
            },
            {
              "name": "id_campo_email_crm",
              "value": "43a14a28-119a-4e43-a0a1-58bc64e739a2"
            },
            {
              "name": "id_campo_telefone_crm",
              "value": "4f5b17cc-999f-4779-8a66-155632cf59b4"
            },
            {
              "name": "id_campo_utm_source_crm",
              "value": "94fb2c13-bbd0-48a1-89f5-85ef2f537c11"
            },
            {
              "name": "id_campo_utm_campaign_crm",
              "value": "e545d10b-616e-450d-aef6-d8e65b0944a3"
            },
            {
              "name": "id_campo_utm_term_crm",
              "value": "21c541c6-2224-4d82-91da-825808a1edea"
            },
            {
              "name": "id_campo_utm_medium_crm",
              "value": "d65c4dd8-d243-4416-8349-2d7f341b3bcf"
            },
            {
              "name": "id_campo_utm_content_crm",
              "value": "1198c9d0-f4ee-4b1d-a24c-b6df7303ebf2"
            },
            {
              "name": "id_campo_utm_fun_crm",
              "value": "2e435a89-b633-4100-a0b5-6810746db2c4"
            },
            {
              "name": "id_campo_utm_var_crm",
              "value": "58dc2672-4c26-4b0b-ad81-8dcc82de45e0"
            },
            {
              "name": "id_campo_data_inicio_milesegundos_crm",
              "value": "2375d3f7-5a46-4f88-ba30-572e129b0a3f"
            },
            {
              "name": "id_campo_id_evento_calendly_crm",
              "value": "50a20169-76c5-43fc-9f3c-9a5bd5affd73"
            },
            {
              "name": "id_campo_id_cliente_calendly_crm",
              "value": "58364ec1-0104-4bf7-a9e5-9e529a345d29"
            },
            {
              "name": "id_campo_nome_completo_crm",
              "value": "1c438058-b654-4a19-9ea3-438bc2f5a078"
            },
            {
              "name": "id_campo_modelo_da_call_sessao_estrategica_crm",
              "value": "36a55391-29e3-4168-9caf-67ac756b79f8"
            },
            {
              "name": "id_campo_modelo_da_call_aplicacao_direta_crm",
              "value": "5883faf4-ebef-4b10-976a-0f88f4c25331"
            },
            {
              "name": "id_campo_funil_sessao_estrategica_crm",
              "value": "5661918f-e847-4e0e-b9fc-ca7f62ed0a67"
            },
            {
              "name": "id_campo_funil_aplicacao_direta_crm",
              "value": "1be63c76-92ea-4be1-a028-5301b1c9fa4e"
            },
            {
              "name": "id_campo_modelo_da_call_crm",
              "value": "1ecc802b-e2b3-4769-bc7a-9e1517c2278f"
            },
            {
              "name": "id_campo_status_do_lead_crm",
              "value": "20bc36eb-9d21-4aaa-b6f1-3c85bafa63ec"
            },
            {
              "name": "id_campo_id_botconversa_crm",
              "value": "f19516e0-1a4a-4b3d-b68e-68c2ae4acc59"
            },
            {
              "name": "id_campo_id_banco_de_dados_crm",
              "value": "d23569b0-b471-45e0-a1e9-840a6711d052"
            },
            {
              "name": "id_campo_status_sessao_ou_aplicacao_crm",
              "value": "947abb00-968d-4e1b-a6b9-c0887cbfd4b9"
            },
            {
              "name": "id_campo_status_agendamento_realizado_crm",
              "value": "f1f22e0a-1e16-4b49-bbba-5331c7187906"
            },
            {
              "name": "id_campo_link_reuniao_crm",
              "value": "e6f4eccc-7ee5-4caa-b444-648db658faca"
            }
          ]
        },
        "options": {}
      },
      "id": "3e40b95e-849f-489a-9175-3bc4dc371c9d",
      "name": "dados_do_agendamento3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1720,
        2340
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"event_memberships\"][\"0\"][\"user_email\"] }}",
                    "rightValue": "apoiowaldrich3@gmail.com",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Jéssica"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "87e2c6bd-0706-486a-89b3-9b5d7de382ca",
                    "leftValue": "={{ $node[\"Evento\"].json[\"payload\"][\"scheduled_event\"][\"event_memberships\"][\"0\"][\"user_email\"] }}",
                    "rightValue": "apoiowaldrich6@gmail.com",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rayane"
            }
          ]
        },
        "options": {}
      },
      "id": "ec668f2d-f0e9-4f3b-b363-75f4029b817a",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -200,
        1880
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1451a065-4ce4-4908-85f5-a0efa23ddf0a",
      "name": "payload_agendamento_rayane",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -1020,
        2000
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9e6c8156-52ff-4fe0-80f4-deb12e8b9007",
      "name": "payload_agendamento_jéssica",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -1020,
        1760
      ]
    }
  ],
  "pinData": null,
  "settings": {
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-08-23T00:27:28.533Z",
  "versionId": "1621b760-f8ce-4218-ac97-acb43037d6ce"
}