workflows/[COACHING] - CRM JÉSSICA: Qualificação - Parte 2.json
{
  "active": true,
  "connections": {
    "chega_da_fila": {
      "main": [
        [
          {
            "node": "tem_email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead qualificado?1": {
      "main": [
        [
          {
            "node": "atualiza_deal_qualificado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_deal_desqualificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead qualificado?": {
      "main": [
        [
          {
            "node": "cria_deal_qualificado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria_deal_desqualificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_no_sheets": {
      "main": [
        [
          {
            "node": "lead_existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tem_email?": {
      "main": [
        [
          {
            "node": "procura_pessoa_pelo_email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "procura_pessoa_pelo_telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "procura_pessoa_pelo_email": {
      "main": [
        [
          {
            "node": "pessoa_existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "procura_pessoa_pelo_telefone": {
      "main": [
        [
          {
            "node": "pessoa_existe?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pessoa_existe?1": {
      "main": [
        [
          {
            "node": "insere_id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria_pessoa1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pessoa_existe?": {
      "main": [
        [
          {
            "node": "insere_id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria_pessoa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_pessoa": {
      "main": [
        [
          {
            "node": "insere_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_pessoa1": {
      "main": [
        [
          {
            "node": "insere_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_existe?": {
      "main": [
        [
          {
            "node": "atualiza_lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_lead": {
      "main": [
        [
          {
            "node": "deal_existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_lead": {
      "main": [
        [
          {
            "node": "deal_existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deal_existe?": {
      "main": [
        [
          {
            "node": "lead qualificado?1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "lead qualificado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_deal_qualificado": {
      "main": [
        [
          {
            "node": "insere_no_sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_deal_desqualificado": {
      "main": [
        [
          {
            "node": "insere_no_sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_deal_qualificado": {
      "main": [
        [
          {
            "node": "insere_no_sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_deal_desqualificado": {
      "main": [
        [
          {
            "node": "insere_no_sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_id": {
      "main": [
        [
          {
            "node": "pesquisa_no_sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-23T00:27:28.641Z",
  "id": "PM7RYKOndvzE47jv",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[COACHING] - CRM JÉSSICA: Qualificação - Parte 2",
  "nodes": [
    {
      "parameters": {
        "queue": "[COACHING] - Aguardando agendamento da SE - Jéssica",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "jsonParseBody": true,
          "parallelMessages": 3
        }
      },
      "id": "5c359c59-c571-4f90-ae64-2f83a590403d",
      "name": "chega_da_fila",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        520,
        640
      ],
      "credentials": {
        "rabbitmq": {
          "id": "EpGcMDPOCNYbhT3V",
          "name": "[RABBIT] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c2a55ff4-ec8f-4bbc-ab5e-acc854b46a4a",
              "leftValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"] }}",
              "rightValue": "qualificado",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3f5ff452-794b-415a-aaab-bf6a16d31e13",
      "name": "lead qualificado?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2980,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c2a55ff4-ec8f-4bbc-ab5e-acc854b46a4a",
              "leftValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"] }}",
              "rightValue": "=qualificado",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b8ca5d3a-56e6-4cda-9ca2-930f1acd8006",
      "name": "lead qualificado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3000,
        820
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1j4JDlga8k8uCx5fatndgi-1oKsGXLqowuafbAsAwqdE",
          "mode": "list",
          "cachedResultName": "Karine - High Ticket",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1j4JDlga8k8uCx5fatndgi-1oKsGXLqowuafbAsAwqdE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1j4JDlga8k8uCx5fatndgi-1oKsGXLqowuafbAsAwqdE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}",
            "Nome": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"fullname\"] }}",
            "Telefone": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"whatsapp\"] }}",
            "ID Lead Pipedrive": "={{   $node[\"cria_lead\"].runIndex >= 0        ? $node[\"cria_lead\"].json[\"id\"] : $node[\"atualiza_lead\"].runIndex >= 0      ? $node[\"atualiza_lead\"].json[\"id\"]     : null }}",
            "ID Deal Pipedrive": "={{   $node[\"cria_deal_qualificado\"].runIndex >= 0        ? $node[\"cria_deal_qualificado\"].json[\"id\"] : $node[\"atualiza_deal_qualificado\"].runIndex >= 0      ? $node[\"atualiza_deal_qualificado\"].json[\"id\"]     : null }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "UTM Source",
              "displayName": "UTM Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "UTM Medium",
              "displayName": "UTM Medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "UTM Campaign",
              "displayName": "UTM Campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "UTM Term",
              "displayName": "UTM Term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "UTM Content",
              "displayName": "UTM Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID Lead Pipedrive",
              "displayName": "ID Lead Pipedrive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Deal Pipedrive",
              "displayName": "ID Deal Pipedrive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "f7423d4a-bce7-47b9-89ee-e3f0fa0f735f",
      "name": "insere_no_sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        3640,
        420
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GkwdOuW9sYg3j9Px",
          "name": "[SHEETS] - apoiowaldrich7@gmail.com"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1j4JDlga8k8uCx5fatndgi-1oKsGXLqowuafbAsAwqdE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1j4JDlga8k8uCx5fatndgi-1oKsGXLqowuafbAsAwqdE/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] || 'sem email' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "68a1f0ac-1555-4c23-aa68-5abbfd29b17c",
      "name": "pesquisa_no_sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        2040,
        660
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FfUGbVhS6rnOSQqB",
          "name": "[SHEETS] - apoiowaldrich7@gmail.com (atualizado)"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1j4JDlga8k8uCx5fatndgi-1oKsGXLqowuafbAsAwqdE",
          "mode": "list",
          "cachedResultName": "Karine - High Ticket",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1j4JDlga8k8uCx5fatndgi-1oKsGXLqowuafbAsAwqdE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Agendamento",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1j4JDlga8k8uCx5fatndgi-1oKsGXLqowuafbAsAwqdE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}",
            "Nome": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"fullname\"] }}",
            "Telefone": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"whatsapp\"] }}",
            "ID Lead Pipedrive": "={{   $node[\"cria_lead\"].runIndex >= 0        ? $node[\"cria_lead\"].json[\"id\"] : $node[\"atualiza_lead\"].runIndex >= 0      ? $node[\"atualiza_lead\"].json[\"id\"]     : null }}",
            "ID Deal Pipedrive": "={{   $node[\"cria_deal_desqualificado\"].runIndex >= 0        ? $node[\"cria_deal_desqualificado\"].json[\"id\"] : $node[\"atualiza_deal_desqualificado\"].runIndex >= 0      ? $node[\"atualiza_deal_desqualificado\"].json[\"id\"]     : null }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "UTM Source",
              "displayName": "UTM Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "UTM Medium",
              "displayName": "UTM Medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "UTM Campaign",
              "displayName": "UTM Campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "UTM Term",
              "displayName": "UTM Term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "UTM Content",
              "displayName": "UTM Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID Lead Pipedrive",
              "displayName": "ID Lead Pipedrive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Deal Pipedrive",
              "displayName": "ID Deal Pipedrive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "8213931a-7054-4c25-a740-6d9760f5b7f2",
      "name": "insere_no_sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        3640,
        800
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GkwdOuW9sYg3j9Px",
          "name": "[SHEETS] - apoiowaldrich7@gmail.com"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "b66e3516-3d21-4653-99af-dffff1bbb7b8",
              "leftValue": "={{ $json.content.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a4d9952c-d2ca-4194-80b4-d27d229272e7",
      "name": "tem_email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        760,
        640
      ]
    },
    {
      "parameters": {
        "resource": "person",
        "operation": "search",
        "term": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}",
        "additionalFields": {
          "fields": "email"
        }
      },
      "id": "5d2175f0-7906-45ae-a5d8-49e165a64582",
      "name": "procura_pessoa_pelo_email",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1100,
        340
      ],
      "alwaysOutputData": true,
      "credentials": {
        "pipedriveApi": {
          "id": "39J8KZF1iPy2gjSt",
          "name": "[PIPEDRIVE] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "resource": "person",
        "operation": "search",
        "term": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"whatsapp\"] }}",
        "additionalFields": {
          "fields": "email"
        }
      },
      "id": "19219fdb-1c06-49f0-b97f-e23e0c1e7eb7",
      "name": "procura_pessoa_pelo_telefone",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1100,
        820
      ],
      "alwaysOutputData": true,
      "credentials": {
        "pipedriveApi": {
          "id": "39J8KZF1iPy2gjSt",
          "name": "[PIPEDRIVE] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "8af697ad-d947-412c-b0f7-19fa896d6d6b",
              "leftValue": "={{ $node[\"procura_pessoa_pelo_telefone\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ec9b51f2-3cee-4303-8dfb-bd800a772511",
      "name": "pessoa_existe?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        820
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "8af697ad-d947-412c-b0f7-19fa896d6d6b",
              "leftValue": "={{ $node[\"procura_pessoa_pelo_email\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4666e70d-bf02-4f0d-9770-b8360295fce4",
      "name": "pessoa_existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        340
      ]
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"fullname\"].trim() }}",
        "additionalFields": {
          "email": [
            "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}"
          ],
          "phone": [
            "={{ $node[\"chega_da_fila\"].json[\"content\"][\"whatsapp\"] }}"
          ]
        }
      },
      "id": "db11ea18-1de6-4621-ae27-27106bcb0e49",
      "name": "cria_pessoa",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1600,
        140
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "39J8KZF1iPy2gjSt",
          "name": "[PIPEDRIVE] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"fullname\"].trim() }}",
        "additionalFields": {
          "email": [],
          "phone": [
            "={{ $node[\"chega_da_fila\"].json[\"content\"][\"whatsapp\"] }}"
          ]
        }
      },
      "id": "4248494c-b85a-4ede-924e-ce154576087e",
      "name": "cria_pessoa1",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1620,
        1000
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "39J8KZF1iPy2gjSt",
          "name": "[PIPEDRIVE] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "793d5083-f531-4652-87db-57a3a9f73005",
              "leftValue": "={{ $node[\"pesquisa_no_sheets\"].json[\"ID Lead Pipedrive\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "efc87acd-685a-4f83-9af3-dbb4bf48e4fa",
      "name": "lead_existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2280,
        660
      ]
    },
    {
      "parameters": {
        "resource": "lead",
        "operation": "update",
        "leadId": "={{ $node[\"pesquisa_no_sheets\"].json[\"ID Lead Pipedrive\"] }}",
        "updateFields": {}
      },
      "id": "e6f0d9c2-8f77-4ed1-85dd-501ef8c62e43",
      "name": "atualiza_lead",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        2500,
        500
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "39J8KZF1iPy2gjSt",
          "name": "[PIPEDRIVE] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "title": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"fullname\"].trim() }}",
        "associateWith": "person",
        "person_id": "={{ $node[\"insere_id\"].json[\"clientId\"] }}",
        "additionalFields": {}
      },
      "id": "dcd056f0-4151-40ea-a6c2-b10e4e06cad5",
      "name": "cria_lead",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        2500,
        820
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "39J8KZF1iPy2gjSt",
          "name": "[PIPEDRIVE] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "793d5083-f531-4652-87db-57a3a9f73005",
              "leftValue": "={{ $node[\"pesquisa_no_sheets\"].json[\"ID Deal Pipedrive\"].toString() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8162a7bc-fc3e-453f-acb9-e49ba9711f5d",
      "name": "deal_existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2760,
        660
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dealId": "={{ $node[\"pesquisa_no_sheets\"].json[\"ID Deal Pipedrive\"] }}",
        "updateFields": {
          "currency": "BRL",
          "customProperties": {
            "property": [
              {
                "name": "72177281bc92f4917e68c142219825d35f35f1d4",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"carreira\"] }}"
              },
              {
                "name": "069d3029e6033eca5dde1bb12a76fdca9c9b34f0",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"tempo\"] }}"
              }
            ]
          },
          "user_id": 21330817,
          "person_id": "={{ $node[\"insere_id\"].json[\"clientId\"] }}",
          "stage_id": 8,
          "title": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"fullname\"].trim() }}"
        }
      },
      "id": "a4884dbd-be74-4d7e-bbc7-8e40741fcf91",
      "name": "atualiza_deal_qualificado",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        3220,
        180
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "39J8KZF1iPy2gjSt",
          "name": "[PIPEDRIVE] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dealId": "={{ $node[\"pesquisa_no_sheets\"].json[\"ID Deal Pipedrive\"] }}",
        "updateFields": {
          "currency": "BRL",
          "customProperties": {
            "property": [
              {
                "name": "72177281bc92f4917e68c142219825d35f35f1d4",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"carreira\"] }}"
              },
              {
                "name": "069d3029e6033eca5dde1bb12a76fdca9c9b34f0",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"tempo\"] }}"
              }
            ]
          },
          "user_id": 21330817,
          "person_id": "={{ $node[\"insere_id\"].json[\"clientId\"] }}",
          "stage_id": 7,
          "title": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"fullname\"].trim() }}"
        }
      },
      "id": "570c1928-59a4-40b4-896e-6c28eb20e39b",
      "name": "atualiza_deal_desqualificado",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        3220,
        440
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "39J8KZF1iPy2gjSt",
          "name": "[PIPEDRIVE] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "title": "=[HT] - {{ $node[\"chega_da_fila\"].json[\"content\"][\"fullname\"].trim() }}",
        "associateWith": "person",
        "person_id": "={{ $node[\"insere_id\"].json[\"clientId\"] }}",
        "additionalFields": {
          "currency": "BRL",
          "customProperties": {
            "property": [
              {
                "name": "72177281bc92f4917e68c142219825d35f35f1d4",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"carreira\"] }}"
              },
              {
                "name": "069d3029e6033eca5dde1bb12a76fdca9c9b34f0",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"tempo\"] }}"
              }
            ]
          },
          "stage_id": 8,
          "status": "open",
          "user_id": 21330817
        }
      },
      "id": "af302015-7823-4b8f-af2c-aff8b3bac9c3",
      "name": "cria_deal_qualificado",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        3220,
        680
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "39J8KZF1iPy2gjSt",
          "name": "[PIPEDRIVE] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "title": "=[HT] - {{ $node[\"chega_da_fila\"].json[\"content\"][\"fullname\"].trim() }}",
        "associateWith": "person",
        "person_id": "={{ $node[\"insere_id\"].json[\"clientId\"] }}",
        "additionalFields": {
          "currency": "BRL",
          "customProperties": {
            "property": [
              {
                "name": "72177281bc92f4917e68c142219825d35f35f1d4",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"carreira\"] }}"
              },
              {
                "name": "069d3029e6033eca5dde1bb12a76fdca9c9b34f0",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"tempo\"] }}"
              }
            ]
          },
          "stage_id": 7,
          "status": "open",
          "user_id": 21330817
        }
      },
      "id": "1df4f68c-e2c2-41e7-b432-f9ebed65faeb",
      "name": "cria_deal_desqualificado",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        3220,
        980
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "39J8KZF1iPy2gjSt",
          "name": "[PIPEDRIVE] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let clientId = '';\n\n// Verificar se o node \"procura_pessoa_pelo_email\" foi executado e tem dados\ntry {\n    if ($node[\"procura_pessoa_pelo_email\"].json[\"id\"]) {\n        clientId = $node[\"procura_pessoa_pelo_email\"].json[\"id\"];\n    }\n} catch (e) {}\n\n// Verificar se o node \"procura_pessoa_pelo_telefone\" foi executado e tem dados\ntry {\n    if (!clientId && $node[\"procura_pessoa_pelo_telefone\"].json[\"id\"]) {\n        clientId = $node[\"procura_pessoa_pelo_telefone\"].json[\"id\"];\n    }\n} catch (e) {}\n\n// Verificar se o node \"cria_pessoa1\" foi executado e tem dados\ntry {\n    if (!clientId && $node[\"cria_pessoa1\"].json[\"id\"]) {\n        clientId = $node[\"cria_pessoa1\"].json[\"id\"];\n    }\n} catch (e) {}\n\n// Verificar se o node \"cria_pessoa\" foi executado e tem dados\ntry {\n    if (!clientId && $node[\"cria_pessoa\"].json[\"id\"]) {\n        clientId = $node[\"cria_pessoa\"].json[\"id\"];\n    }\n} catch (e) {}\n\nreturn [{ json: { clientId } }];\n"
      },
      "id": "7b0c125b-0a73-4f17-acd8-b487202d4aca",
      "name": "insere_id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1820,
        660
      ]
    }
  ],
  "pinData": {
    "chega_da_fila": [
      {
        "json": {
          "fields": {
            "consumerTag": "amq.ctag-NlAP0x4lJU7oRRkbjS_seg",
            "deliveryTag": 3,
            "redelivered": true,
            "exchange": "",
            "routingKey": "[COACHING] - Aguardando agendamento da SE - Jéssica"
          },
          "properties": {
            "headers": {
              "x-delivery-count": 2
            }
          },
          "content": {
            "fname": "Lorrane",
            "lname": "Berto",
            "fullname": "Lorrane Berto",
            "email": "",
            "whatsapp": "553398303550",
            "qualificacao": "qualificado",
            "carreira": "",
            "tempo": ""
          }
        }
      }
    ]
  },
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 600,
    "executionOrder": "v1",
    "errorWorkflow": "Ppi2Q8rUEdph2WkT"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-08-27T20:32:16.095Z",
      "updatedAt": "2024-08-27T20:32:16.095Z",
      "id": "hpw9T6Qr7vrfpY90",
      "name": "Typebot"
    },
    {
      "createdAt": "2024-08-24T17:43:36.741Z",
      "updatedAt": "2024-08-24T17:43:36.741Z",
      "id": "i7SuC2TpFzNLFI9r",
      "name": "Pipedrive"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-09-03T19:58:15.142Z",
  "versionId": "e5dbafb0-8b2c-48b5-acea-4d6c23ab94b3"
}