workflows/[COACHING] - CRM RAYANE: Agendamento SE - Parte 2.json
{
  "active": true,
  "connections": {
    "add_tag_agendou": {
      "main": [
        [
          {
            "node": "id_activecampaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Campos Personalizados de Contatos da Conta": {
      "main": [
        [
          {
            "node": "Listar Tags da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Listar Campos Personalizados de Contatos da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sessao": {
      "main": [
        [
          {
            "node": "cria_atualiza_contato",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria_atualiza_contato2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_atualiza_contato2": {
      "main": [
        [
          {
            "node": "add_tag_agendou1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_agendou1": {
      "main": [
        [
          {
            "node": "id_activecampaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_atualiza_contato": {
      "main": [
        [
          {
            "node": "add_tag_agendou",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_activecampaign": {
      "main": [
        [
          {
            "node": "procura_pessoa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chega_da_fila": {
      "main": [
        [
          {
            "node": "sessao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "procura_dados": {
      "main": [
        [
          {
            "node": "lead_existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "procura_pessoa": {
      "main": [
        [
          {
            "node": "pessoa_existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pessoa_existe?": {
      "main": [
        [
          {
            "node": "procura_dados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria_pessoa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_pessoa": {
      "main": [
        [
          {
            "node": "procura_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_existe?": {
      "main": [
        [
          {
            "node": "atualiza_lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_lead": {
      "main": [
        [
          {
            "node": "deal_existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_lead": {
      "main": [
        [
          {
            "node": "deal_existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deal_existe?": {
      "main": [
        [
          {
            "node": "atualiza_deal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria_deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_deal": {
      "main": [
        [
          {
            "node": "insere_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_deal": {
      "main": [
        [
          {
            "node": "insere_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-23T00:27:28.667Z",
  "id": "M8goBHKniuZmI15r",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[COACHING] - CRM RAYANE: Agendamento SE - Parte 2",
  "nodes": [
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "281",
        "contactId": "={{ $node[\"cria_atualiza_contato\"].json[\"id\"] }}"
      },
      "id": "f537f8b8-a7c8-4d76-88a5-1b95d79c54ee",
      "name": "add_tag_agendou",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2980,
        1220
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "DdE6CDpRlb1vgwt7",
          "name": "[ACTIVE CAMPAIGN] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/tags?limit=1000&search={{ $node[\"Set\"].json[\"tag_procurada\"] }}",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Tags da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2600,
        800
      ],
      "id": "5a025385-1f8a-4d0d-a478-f4d0d50fc702"
    },
    {
      "parameters": {
        "content": "## Para consulta\n \nUtilize os Nodes Abaixo para consultar os IDs dos Campos e Tags no ActiveCampaign",
        "height": 407.6377565498652,
        "width": 747.0856205721786
      },
      "id": "527884a7-ca70-4a64-996c-801eb0506bbd",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2100,
        640
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/fields?limit=1000",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Campos Personalizados de Contatos da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2400,
        800
      ],
      "id": "d7cfc6ff-2d2b-43a3-99c7-4cef569c50fb"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Api-Token",
              "value": "3b017e05e9651b8ba39ad201bd7dcdc523b178da96e38837a3883db5989121ccd88a4857"
            },
            {
              "name": "url_api_activecampaign",
              "value": "karinewaldrich"
            },
            {
              "name": "tag_procurada",
              "value": "agendou"
            }
          ]
        },
        "options": {}
      },
      "id": "49e2ca2a-e065-416c-8888-dc69d161ea84",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2200,
        800
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Tipo de Evento\"] }}",
              "value2": "Sessão Estratégica"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "7b1b8899-d928-4b42-a439-98394b5bd3ea",
      "name": "sessao",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2520,
        1400
      ]
    },
    {
      "parameters": {
        "email": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}",
        "updateIfExists": true,
        "additionalFields": {
          "fieldValues": {
            "property": [
              {
                "field": "=155",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Tipo de Evento\"] }}"
              },
              {
                "field": "=156",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"ID do Evento\"] }}"
              },
              {
                "field": "=157",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Responsável pelo Evento\"] }}"
              },
              {
                "field": "=158",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
              },
              {
                "field": "=159",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Início\"].split('/')[2].split(' ')[0] }}-{{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Início\"].split('/')[1] }}-{{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Início\"].split('/')[0] }}"
              },
              {
                "field": "=160",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Início\"] }}"
              },
              {
                "field": "=163",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split('/')[2].split(' ')[0] }}-{{ $node[\"chega_da_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split('/')[1] }}-{{ $node[\"chega_da_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split('/')[0] }}"
              },
              {
                "field": "=164",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Dia da Semana de Início do Evento\"] }}"
              },
              {
                "field": "=161",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Término\"].split('/')[2].split(' ')[0] }}-{{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Término\"].split('/')[1] }}-{{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Término\"].split('/')[0] }}"
              },
              {
                "field": "=162",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Término\"] }}"
              },
              {
                "field": "=165",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Link da Reunião\"] }}"
              },
              {
                "field": "=184",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
              },
              {
                "field": "=185",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
              },
              {
                "field": "=186",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
              },
              {
                "field": "=187",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
              },
              {
                "field": "=188",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
              },
              {
                "field": "=166",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
              },
              {
                "field": "=167",
                "value": "=https://calendly.com/cancellations/{{ $node[\"chega_da_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
              },
              {
                "field": "=168",
                "value": "=https://calendly.com/reschedulings/{{ $node[\"chega_da_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
              }
            ]
          },
          "firstName": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}",
          "lastName": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}",
          "phone": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
        }
      },
      "id": "5fc237a3-f998-4856-8594-cf69c37ca12e",
      "name": "cria_atualiza_contato2",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2780,
        1520
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "DdE6CDpRlb1vgwt7",
          "name": "[ACTIVE CAMPAIGN] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "296",
        "contactId": "={{ $node[\"cria_atualiza_contato2\"].json[\"id\"] }}"
      },
      "id": "41788128-95d5-468b-b689-e50aabe79adc",
      "name": "add_tag_agendou1",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2980,
        1520
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "DdE6CDpRlb1vgwt7",
          "name": "[ACTIVE CAMPAIGN] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "id",
              "value": "={{ $json[\"contact\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dd772e4e-c45f-4049-a275-6a7e81e01782",
      "name": "id_activecampaign",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        3200,
        1360
      ]
    },
    {
      "parameters": {
        "email": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}",
        "updateIfExists": true,
        "additionalFields": {
          "fieldValues": {
            "property": [
              {
                "field": "=140",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Tipo de Evento\"] }}"
              },
              {
                "field": "=141",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"ID do Evento\"] }}"
              },
              {
                "field": "=142",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Responsável pelo Evento\"] }}"
              },
              {
                "field": "=143",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
              },
              {
                "field": "=144",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Início\"].split('/')[2].split(' ')[0] }}-{{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Início\"].split('/')[1] }}-{{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Início\"].split('/')[0] }}"
              },
              {
                "field": "=145",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Início\"] }}"
              },
              {
                "field": "=148",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split('/')[2].split(' ')[0] }}-{{ $node[\"chega_da_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split('/')[1] }}-{{ $node[\"chega_da_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split('/')[0] }}"
              },
              {
                "field": "=159",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Dia da Semana de Início do Evento\"] }}"
              },
              {
                "field": "=146",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Término\"].split('/')[2].split(' ')[0] }}-{{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Término\"].split('/')[1] }}-{{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Término\"].split('/')[0] }}"
              },
              {
                "field": "=147",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Término\"] }}"
              },
              {
                "field": "=150",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Link da Reunião\"] }}"
              },
              {
                "field": "=177",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
              },
              {
                "field": "=178",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
              },
              {
                "field": "=179",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
              },
              {
                "field": "=180",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
              },
              {
                "field": "=181",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
              },
              {
                "field": "=151",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
              },
              {
                "field": "=138",
                "value": "=https://calendly.com/cancellations/{{ $node[\"chega_da_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
              },
              {
                "field": "=153",
                "value": "=https://calendly.com/reschedulings/{{ $node[\"chega_da_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
              }
            ]
          },
          "firstName": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}",
          "lastName": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}",
          "phone": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
        }
      },
      "id": "57e0b098-bbb7-4044-b0ad-467f2232d128",
      "name": "cria_atualiza_contato",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2780,
        1220
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "DdE6CDpRlb1vgwt7",
          "name": "[ACTIVE CAMPAIGN] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "queue": "[COACHING] - Calendly - Agendamento Rayane",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "jsonParseBody": true,
          "parallelMessages": 3
        }
      },
      "id": "5472edce-86c7-4bb2-ac11-d97ce2be469f",
      "name": "chega_da_fila",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        2240,
        1400
      ],
      "credentials": {
        "rabbitmq": {
          "id": "EpGcMDPOCNYbhT3V",
          "name": "[RABBIT] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1pXt3baODbIm9EJvEY2zanmWY-u0B5l6IbBiNhk4Nk54",
          "mode": "list",
          "cachedResultName": "[COACHING] - CRM: Leads Rayane",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pXt3baODbIm9EJvEY2zanmWY-u0B5l6IbBiNhk4Nk54/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pXt3baODbIm9EJvEY2zanmWY-u0B5l6IbBiNhk4Nk54/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}",
            "Nome": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}",
            "Telefone": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}",
            "UTM Source": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}",
            "UTM Medium": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}",
            "UTM Campaign": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}",
            "UTM Term": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}",
            "UTM Content": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}",
            "ID Lead Pipedrive": "={{   $node[\"cria_lead\"].runIndex >= 0        ? $node[\"cria_lead\"].json[\"id\"] : $node[\"atualiza_lead\"].runIndex >= 0      ? $node[\"atualiza_lead\"].json[\"id\"]     : null }}",
            "ID Deal Pipedrive": "={{   $node[\"cria_deal\"].runIndex >= 0        ? $node[\"cria_deal\"].json[\"id\"] : $node[\"atualiza_deal\"].runIndex >= 0      ? $node[\"atualiza_deal\"].json[\"id\"]     : null }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "UTM Source",
              "displayName": "UTM Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "UTM Medium",
              "displayName": "UTM Medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "UTM Campaign",
              "displayName": "UTM Campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "UTM Term",
              "displayName": "UTM Term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "UTM Content",
              "displayName": "UTM Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Lead Pipedrive",
              "displayName": "ID Lead Pipedrive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Deal Pipedrive",
              "displayName": "ID Deal Pipedrive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "2d1e8bc1-5452-4737-965c-0bb46ff296de",
      "name": "insere_dados",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        5240,
        1300
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GkwdOuW9sYg3j9Px",
          "name": "[SHEETS] - apoiowaldrich7@gmail.com"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1pXt3baODbIm9EJvEY2zanmWY-u0B5l6IbBiNhk4Nk54",
          "mode": "list",
          "cachedResultName": "[COACHING] - CRM: Leads Rayane",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pXt3baODbIm9EJvEY2zanmWY-u0B5l6IbBiNhk4Nk54/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pXt3baODbIm9EJvEY2zanmWY-u0B5l6IbBiNhk4Nk54/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "917c6127-12f3-4d13-ae29-a6c251552c3b",
      "name": "procura_dados",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        4080,
        1340
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GkwdOuW9sYg3j9Px",
          "name": "[SHEETS] - apoiowaldrich7@gmail.com"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "person",
        "operation": "search",
        "term": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}",
        "additionalFields": {
          "fields": "email"
        }
      },
      "id": "b2ff9481-c3ae-447f-b015-4fc07ebac7af",
      "name": "procura_pessoa",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        3460,
        1360
      ],
      "alwaysOutputData": true,
      "credentials": {
        "pipedriveApi": {
          "id": "39J8KZF1iPy2gjSt",
          "name": "[PIPEDRIVE] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "8af697ad-d947-412c-b0f7-19fa896d6d6b",
              "leftValue": "={{ $node[\"procura_pessoa\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c359b0d6-4825-49dc-a850-7e03b83aa1b3",
      "name": "pessoa_existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3680,
        1360
      ]
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}",
        "additionalFields": {
          "email": [
            "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
          ],
          "phone": [
            "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
          ]
        }
      },
      "id": "33296b39-7f11-481b-b4c4-8fa082e1739b",
      "name": "cria_pessoa",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        3880,
        1540
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "39J8KZF1iPy2gjSt",
          "name": "[PIPEDRIVE] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "793d5083-f531-4652-87db-57a3a9f73005",
              "leftValue": "={{ $node[\"procura_dados\"].json[\"ID Lead Pipedrive\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ec1588a3-080c-4ca1-aac0-5b9d58811a32",
      "name": "lead_existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4320,
        1340
      ]
    },
    {
      "parameters": {
        "resource": "lead",
        "operation": "update",
        "leadId": "={{ $node[\"procura_dados\"].json[\"ID Lead Pipedrive\"] }}",
        "updateFields": {}
      },
      "id": "e1a665bb-97d5-48c2-ade7-efb231138940",
      "name": "atualiza_lead",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        4540,
        1160
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "39J8KZF1iPy2gjSt",
          "name": "[PIPEDRIVE] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "title": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}",
        "associateWith": "person",
        "person_id": "={{   $node[\"cria_pessoa\"].runIndex >= 0        ? $node[\"cria_pessoa\"].json[\"id\"] : $node[\"procura_pessoa\"].runIndex >= 0      ? $node[\"procura_pessoa\"].json[\"id\"]     : null }}",
        "additionalFields": {}
      },
      "id": "9b0b7dd8-a1de-4e5b-9f10-936bc9960f55",
      "name": "cria_lead",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        4540,
        1500
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "39J8KZF1iPy2gjSt",
          "name": "[PIPEDRIVE] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "793d5083-f531-4652-87db-57a3a9f73005",
              "leftValue": "={{ $node[\"procura_dados\"].json[\"ID Deal Pipedrive\"].toString() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c977db3a-8fab-49ea-bf57-b7a180fcd092",
      "name": "deal_existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4800,
        1340
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dealId": "={{ $node[\"procura_dados\"].json[\"ID Deal Pipedrive\"] }}",
        "updateFields": {
          "currency": "BRL",
          "customProperties": {
            "property": [
              {
                "name": "143cd0cd8411259a0e333e81ef3249941086322c",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Início\"].split('/')[2].split(' ')[0] }}-{{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Início\"].split('/')[1]}}-{{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Início\"].split('/')[0] }}"
              },
              {
                "name": "8361adaca6003d06b3d6dae26a3161fd3b9f22cd",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Início\"].split(' ')[1] }}"
              },
              {
                "name": "ade40a5ba4f78ba19ac8c895d07497c3e1143fca",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Link da Reunião\"] }}"
              }
            ]
          },
          "user_id": 21963603,
          "person_id": "={{   $node[\"cria_pessoa\"].runIndex >= 0        ? $node[\"cria_pessoa\"].json[\"id\"] : $node[\"procura_pessoa\"].runIndex >= 0      ? $node[\"procura_pessoa\"].json[\"id\"]     : null }}",
          "stage_id": 9
        }
      },
      "id": "3e46fd8a-26f1-40bd-8e90-54ca1504d919",
      "name": "atualiza_deal",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        5020,
        1180
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "39J8KZF1iPy2gjSt",
          "name": "[PIPEDRIVE] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}",
        "associateWith": "person",
        "person_id": "={{   $node[\"cria_pessoa\"].runIndex >= 0        ? $node[\"cria_pessoa\"].json[\"id\"] : $node[\"procura_pessoa\"].runIndex >= 0      ? $node[\"procura_pessoa\"].json[\"id\"]     : null }}",
        "additionalFields": {
          "currency": "BRL",
          "customProperties": {
            "property": [
              {
                "name": "ade40a5ba4f78ba19ac8c895d07497c3e1143fca",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Link da Reunião\"] }}"
              },
              {
                "name": "143cd0cd8411259a0e333e81ef3249941086322c",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Início\"].split('/')[2].split(' ')[0] }}-{{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Início\"].split('/')[1]}}-{{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Início\"].split('/')[0] }}"
              },
              {
                "name": "8361adaca6003d06b3d6dae26a3161fd3b9f22cd",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Início\"].split(' ')[1] }}"
              }
            ]
          },
          "stage_id": 9,
          "status": "open",
          "user_id": 21963603
        }
      },
      "id": "e57a3c7d-4a17-4c3b-9c04-99283766785c",
      "name": "cria_deal",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        5020,
        1480
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "39J8KZF1iPy2gjSt",
          "name": "[PIPEDRIVE] - KarineWaldrich"
        }
      }
    }
  ],
  "pinData": {
    "chega_da_fila": [
      {
        "json": {
          "fields": {
            "consumerTag": "amq.ctag-wF6Uea_ODvyXcg2UEzXiiA",
            "deliveryTag": 13,
            "redelivered": true,
            "exchange": "",
            "routingKey": "[COACH] - Calendly - Agendamento"
          },
          "properties": {
            "headers": {
              "x-delivery-count": 447775
            }
          },
          "content": {
            "Nome do Cliente": "LIDIANE DE CAIRES",
            "E-mail do Cliente": "lidianedecaires@gmail.com",
            "Telefone do Cliente - Formato BC": "+5511919459581",
            "Telefone do Cliente - Formato Z-API": "5511919459581",
            "Tipo de Evento": "Jéssica - Especialista Time da Waldrich",
            "ID do Evento": "4b015e2e-e943-420a-a02c-e7f3b05f47df",
            "Responsável pelo Evento": "Jéssica - Especialista Time da Waldrich",
            "E-mail do Responsável": "apoiowaldrich3@gmail.com",
            "Data de Início": "26/06/2024 13:00",
            "Data em que foi feito o Agendamento": "25/06/2024 16:18",
            "Data de Término": "26/06/2024 13:30",
            "Dia da Semana de Início do Evento": "Quarta-feira",
            "Link da Reunião": "https://calendly.com/events/4b015e2e-e943-420a-a02c-e7f3b05f47df/google_meet",
            "utm_source": null,
            "utm_campaign": null,
            "utm_term": null,
            "utm_medium": null,
            "utm_content": null,
            "ID do Cliente": "d640f49c-d487-45d1-9bb6-cc1b2a4c533d",
            "id_do_campo_id_do_agendamento_bot_conversa": "1776702",
            "fluxo_de_confirmacao_de_agendamento": "3162427",
            "API-KEY": "46dacadf-10d0-47db-a81d-69263aca1959",
            "id_do_campo_link_da_reuniao_bot_conversa": "1721239",
            "id_do_campo_dia_da_semana_do_agendamento_bot_conversa": "1776712",
            "id_do_campo_data_do_agendamento_bot_conversa": "1772557",
            "id_do_campo_horario_agendado_bot_conversa": "1779832",
            "id_do_campo_id_banco_de_dados_bot_conversa": "1776703",
            "id_do_campo_idleadac_bot_conversa": "1776713",
            "id_do_campo_iddealac_bot_conversa": "1776714",
            "id_campo_id_banco_de_dados_ac": "",
            "valor_produto_principal_em_centavos": "",
            "id_stage_agendou_reuniao_ac": "",
            "funil": "sessao_estrategica",
            "variacao_do_funil": "v1",
            "id_pipeline_se_ac": "",
            "id_sdr": "",
            "url_api_activecampaign": "",
            "id_campo_link_de_cancelamento_ac": "",
            "id_campo_link_de_reagendamento_ac": "",
            "id_campo_id_do_cliente_ac": "",
            "id_campo_dia_semana_agendamento_ac": "",
            "id_campo_data_de_inicio_ac": "",
            "id_campo_data_e_hora_de_inicio_ac": "",
            "id_campo_data_e_hora_de_termino_ac": "",
            "id_campo_data_de_termino_ac": "",
            "id_campo_email_do_responsavel_ac": "",
            "id_campo_data_do_agendamento_ac": "",
            "id_campo_link_da_reuniao_ac": "",
            "id_campo_tipo_de_evento_ac": "",
            "id_campo_id_do_evento_ac": "",
            "id_campo_utm_source_ac": "",
            "id_campo_utm_campaign_ac": "",
            "id_campo_utm_term_ac": "",
            "id_campo_utm_medium_ac": "",
            "id_campo_utm_content_ac": "",
            "id_campo_utm_fun_ac": "",
            "id_campo_utm_var_ac": "",
            "id_do_campo_id_do_cliente_bot_conversa": "1776706",
            "id_task_reuniao_ac": "",
            "id_campo_tipo_de_evento_bot_conversa": "1776718",
            "id_campo_closer_responsavel_bot_conversa": "1776720",
            "id_status_preencheu_aplicacao_crm": "",
            "id_campo_email_crm": "43a14a28-119a-4e43-a0a1-58bc64e739a2",
            "id_campo_telefone_crm": "4f5b17cc-999f-4779-8a66-155632cf59b4",
            "id_campo_utm_source_crm": "94fb2c13-bbd0-48a1-89f5-85ef2f537c11",
            "id_campo_utm_campaign_crm": "e545d10b-616e-450d-aef6-d8e65b0944a3",
            "id_campo_utm_term_crm": "21c541c6-2224-4d82-91da-825808a1edea",
            "id_campo_utm_medium_crm": "d65c4dd8-d243-4416-8349-2d7f341b3bcf",
            "id_campo_utm_content_crm": "1198c9d0-f4ee-4b1d-a24c-b6df7303ebf2",
            "id_campo_utm_fun_crm": "2e435a89-b633-4100-a0b5-6810746db2c4",
            "id_campo_utm_var_crm": "58dc2672-4c26-4b0b-ad81-8dcc82de45e0",
            "id_campo_data_inicio_milesegundos_crm": "2375d3f7-5a46-4f88-ba30-572e129b0a3f",
            "id_campo_id_evento_calendly_crm": "50a20169-76c5-43fc-9f3c-9a5bd5affd73",
            "id_campo_id_cliente_calendly_crm": "58364ec1-0104-4bf7-a9e5-9e529a345d29",
            "id_campo_nome_completo_crm": "1c438058-b654-4a19-9ea3-438bc2f5a078",
            "id_campo_modelo_da_call_sessao_estrategica_crm": "36a55391-29e3-4168-9caf-67ac756b79f8",
            "id_campo_modelo_da_call_aplicacao_direta_crm": "5883faf4-ebef-4b10-976a-0f88f4c25331",
            "id_campo_funil_sessao_estrategica_crm": "5661918f-e847-4e0e-b9fc-ca7f62ed0a67",
            "id_campo_funil_aplicacao_direta_crm": "1be63c76-92ea-4be1-a028-5301b1c9fa4e",
            "id_campo_modelo_da_call_crm": "1ecc802b-e2b3-4769-bc7a-9e1517c2278f",
            "id_campo_status_do_lead_crm": "20bc36eb-9d21-4aaa-b6f1-3c85bafa63ec",
            "id_campo_id_botconversa_crm": "f19516e0-1a4a-4b3d-b68e-68c2ae4acc59",
            "id_campo_id_banco_de_dados_crm": "d23569b0-b471-45e0-a1e9-840a6711d052",
            "id_campo_status_sessao_ou_aplicacao_crm": "947abb00-968d-4e1b-a6b9-c0887cbfd4b9",
            "id_campo_status_agendamento_realizado_crm": "f1f22e0a-1e16-4b49-bbba-5331c7187906",
            "id_campo_link_reuniao_crm": "e6f4eccc-7ee5-4caa-b444-648db658faca"
          }
        }
      }
    ]
  },
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 600,
    "executionOrder": "v1",
    "errorWorkflow": "Ppi2Q8rUEdph2WkT"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-08-27T21:22:22.083Z",
  "versionId": "09c7a2b9-cf24-464b-923d-f5a99710c3a2"
}