workflows/[COACHING] - CRM JÉSSICA: Qualificação - Parte 1 (automática via Typebot).json
{
  "active": false,
  "connections": {
    "formata_dados": {
      "main": [
        [
          {
            "node": "entra_na_fila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "preencheu_typebot": {
      "main": [
        [
          {
            "node": "formata_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-23T00:27:28.348Z",
  "id": "1PrcSSK4nQac2Fxv",
  "meta": null,
  "name": "[COACHING] - CRM JÉSSICA: Qualificação - Parte 1 (automática via Typebot)",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const fullNameAnswer = $node[\"preencheu_typebot\"].json[\"body\"][\"nome\"] || \"\";\nconst emailAnswer = $node[\"preencheu_typebot\"].json[\"body\"][\"email\"] || \"\";\nconst telefoneClienteOriginal = $node[\"preencheu_typebot\"].json[\"body\"][\"telefone\"] || '';\nconst carreira = $node[\"preencheu_typebot\"].json[\"body\"][\"carreira\"] || '';\nconst tempo = $node[\"preencheu_typebot\"].json[\"body\"][\"tempo\"] || '';\nconst qualificacao = $node[\"preencheu_typebot\"].json[\"body\"][\"qualificacao\"] || '';\n\nfunction capitalizeName(fullName) {\n    if (typeof fullName === 'undefined') {\n        return { fname: '', lname: '', fullname: '' };\n    }\n\n    const lowerCaseWords = ['da', 'de', 'do', 'di', 'du'];\n    let words = fullName.toLowerCase().split(' ').map((word, index) => {\n        if (lowerCaseWords.includes(word) && index !== 0) {\n            return word;\n        }\n        return word.charAt(0).toUpperCase() + word.slice(1);\n    });\n\n    let fname = words.shift();\n    let lname = words.join(' ');\n\n    return { fname, lname, fullname: fname + ' ' + lname };\n}\n\nfunction formatEmail(email) {\n    return email.toLowerCase().trim();\n}\n\n  const telefoneLimpo = telefoneClienteOriginal.replace(/\\D/g, \"\");\n  const DDI = '55';\n  const DDD = telefoneLimpo.slice(0, 2); // Correção: Extrair os primeiros dois dígitos para obter o DDD\n\n  // Determinar o número de telefone final\n  if (parseInt(DDD) > 28) {\n    telefoneFinal = `${DDI}${DDD}${telefoneLimpo.slice(-8)}`;\n  } else {\n    telefoneFinal = `${DDI}${DDD}${telefoneLimpo.slice(-9)}`;\n  }\n\n\nconst formattedNames = capitalizeName(fullNameAnswer);\nconst formattedEmail = formatEmail(emailAnswer);\nconst result = {\n    ...formattedNames, // Nome formatado\n    email: formattedEmail, // Email formatado\n    whatsapp: telefoneFinal, // WhatsApp formatado\n    carreira: carreira,\n    tempo: tempo,\n    qualificacao: qualificacao\n};\n\n// Aqui estamos ajustando a estrutura do retorno para se adequar ao que o n8n espera\nreturn [{ json: result }];\n"
      },
      "id": "6747a415-e170-41d5-8eee-bcd732aae2e1",
      "name": "formata_dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        360
      ]
    },
    {
      "parameters": {
        "queue": "[COACHING] - Aguardando agendamento da SE - Jéssica",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "7d7c97d1-ce33-4f47-bdd1-d991e6b41bed",
      "name": "entra_na_fila",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        1160,
        360
      ],
      "credentials": {
        "rabbitmq": {
          "id": "6klSivWaJBCNmE5C",
          "name": "[RABBITMQ] - Karine Waldrich"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e7a07275-c0c3-4200-97f0-8b6a0e716774",
        "options": {}
      },
      "id": "fcfdd8cd-f11f-42dc-9a1b-1e97a4cc4fc0",
      "name": "preencheu_typebot",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        700,
        360
      ],
      "webhookId": "e7a07275-c0c3-4200-97f0-8b6a0e716774"
    }
  ],
  "pinData": null,
  "settings": {
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-08-23T00:27:28.348Z",
  "versionId": "cf912005-9459-433d-bcd8-56d70086e18e"
}