workflows/[COACHING] - CRM JULIANA: Qualificação - Parte 1 (automática via Typebot).json
{
  "active": true,
  "connections": {
    "formata_dados": {
      "main": [
        [
          {
            "node": "entra_na_fila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "preencheu_typebot": {
      "main": [
        [
          {
            "node": "formata_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-23T00:27:28.348Z",
  "id": "1PrcSSK4nQac2Fxv",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[COACHING] - CRM JULIANA: Qualificação - Parte 1 (automática via Typebot)",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const fullNameAnswer = $node[\"preencheu_typebot\"].json[\"body\"][\"nome\"] || \"\";\nconst emailAnswer = $node[\"preencheu_typebot\"].json[\"body\"][\"email\"] || \"\";\nconst telefoneClienteOriginal = $node[\"preencheu_typebot\"].json[\"body\"][\"telefone\"] || '';\nconst carreira = $node[\"preencheu_typebot\"].json[\"body\"][\"carreira\"] || '';\nconst tempo = $node[\"preencheu_typebot\"].json[\"body\"][\"tempo\"] || '';\nconst qualificacao = $node[\"preencheu_typebot\"].json[\"body\"][\"qualificacao\"] || '';\n\nfunction capitalizeName(fullName) {\n    if (typeof fullName === 'undefined') {\n        return { fname: '', lname: '', fullname: '' };\n    }\n\n    const lowerCaseWords = ['da', 'de', 'do', 'di', 'du'];\n    let words = fullName.toLowerCase().split(' ').map((word, index) => {\n        if (lowerCaseWords.includes(word) && index !== 0) {\n            return word;\n        }\n        return word.charAt(0).toUpperCase() + word.slice(1);\n    });\n\n    let fname = words.shift();\n    let lname = words.join(' ');\n\n    return { fname, lname, fullname: fname + ' ' + lname };\n}\n\nfunction formatEmail(email) {\n    return email.toLowerCase().trim();\n}\n\n  const telefoneLimpo = telefoneClienteOriginal.replace(/\\D/g, \"\");\n  const DDI = '55';\n  const DDD = telefoneLimpo.slice(0, 2); // Correção: Extrair os primeiros dois dígitos para obter o DDD\n\n  // Determinar o número de telefone final\n  if (parseInt(DDD) > 28) {\n    telefoneFinal = `${DDI}${DDD}${telefoneLimpo.slice(-8)}`;\n  } else {\n    telefoneFinal = `${DDI}${DDD}${telefoneLimpo.slice(-9)}`;\n  }\n\n\nconst formattedNames = capitalizeName(fullNameAnswer);\nconst formattedEmail = formatEmail(emailAnswer);\nconst result = {\n    ...formattedNames, // Nome formatado\n    email: formattedEmail, // Email formatado\n    whatsapp: telefoneFinal, // WhatsApp formatado\n    carreira: carreira,\n    tempo: tempo,\n    qualificacao: qualificacao\n};\n\n// Aqui estamos ajustando a estrutura do retorno para se adequar ao que o n8n espera\nreturn [{ json: result }];\n"
      },
      "id": "6747a415-e170-41d5-8eee-bcd732aae2e1",
      "name": "formata_dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        360
      ]
    },
    {
      "parameters": {
        "queue": "[COACHING] - Aguardando agendamento da SE - Jéssica",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "7d7c97d1-ce33-4f47-bdd1-d991e6b41bed",
      "name": "entra_na_fila",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        1160,
        360
      ],
      "credentials": {
        "rabbitmq": {
          "id": "EpGcMDPOCNYbhT3V",
          "name": "[RABBIT] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e7a07275-c0c3-4200-97f0-8b6a0e716774",
        "options": {}
      },
      "id": "fcfdd8cd-f11f-42dc-9a1b-1e97a4cc4fc0",
      "name": "preencheu_typebot",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        700,
        360
      ],
      "webhookId": "e7a07275-c0c3-4200-97f0-8b6a0e716774"
    }
  ],
  "pinData": {
    "preencheu_typebot": [
      {
        "json": {
          "headers": {
            "host": "n8nwebhookkarinewaldrich.leonardofreymuth.com.br",
            "user-agent": "node",
            "transfer-encoding": "chunked",
            "accept": "*/*",
            "accept-encoding": "br, gzip, deflate",
            "accept-language": "*",
            "baggage": "sentry-environment=vercel-production,sentry-release=bd6921b90ca36085f88ac86351ce0ef783918fbb-builder,sentry-public_key=6ab7a675c4934493b1d5b77c0d4dd06d,sentry-trace_id=ab7543dd20f84b20b413c3de25e23331,sentry-transaction=POST%20%2Fapi%2Ftypebots%2F%5BtypebotId%5D%2Fblocks%2F%5BblockId%5D%2FtestWebhook,sentry-sampled=false",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "sentry-trace": "ab7543dd20f84b20b413c3de25e23331-bcffe6cae8fd758d-0",
            "x-forwarded-for": "18.133.120.91",
            "x-forwarded-host": "n8nwebhookkarinewaldrich.leonardofreymuth.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "79f32772410f",
            "x-real-ip": "18.133.120.91",
            "x-vercel-id": "gru1::5lhdm-1721176526607-702e8cb291d7"
          },
          "params": {},
          "query": {},
          "body": {
            "nome": "Leo",
            "email": "leofreymuth@gmail.com",
            "telefone": "51994696045",
            "carreira": "teste",
            "tempo": "1",
            "qualificacao": "qualificado"
          },
          "webhookUrl": "https://n8nwebhookkarinewaldrich.leonardofreymuth.com.br/webhook/e7a07275-c0c3-4200-97f0-8b6a0e716774",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 600,
    "executionOrder": "v1",
    "errorWorkflow": "Ppi2Q8rUEdph2WkT"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-08-27T20:32:16.095Z",
      "updatedAt": "2024-08-27T20:32:16.095Z",
      "id": "hpw9T6Qr7vrfpY90",
      "name": "Typebot"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-09-10T16:46:25.017Z",
  "versionId": "e35ede59-2325-463b-8252-94a5f5c038fe"
}