workflows/[COACHING] - CRM JÉSSICA: Opt-in - Parte 1.json
{
  "active": false,
  "connections": {
    "formata_dados": {
      "main": [
        [
          {
            "node": "entra_na_fila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cadastro_na_lp": {
      "main": [
        [
          {
            "node": "formata_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "preencheu_dados": {
      "main": [
        [
          {
            "node": "cadastro_na_lp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-23T00:27:28.272Z",
  "id": "bwZPhWQ5JORjGDV3",
  "meta": null,
  "name": "[COACHING] - CRM JÉSSICA: Opt-in - Parte 1",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const fullNameAnswer = $node[\"cadastro_na_lp\"].json[\"body\"][\"nome\"] || \"\";\nconst emailAnswer = $node[\"cadastro_na_lp\"].json[\"body\"][\"email\"] || \"\";\nconst telefoneClienteOriginal = $node[\"cadastro_na_lp\"].json[\"body\"][\"telefone\"] || '';\nconst carreira = $node[\"cadastro_na_lp\"].json[\"body\"][\"carreira\"] || '';\nconst tempo = $node[\"cadastro_na_lp\"].json[\"body\"][\"tempo\"] || '';\nconst qualificacao = $node[\"cadastro_na_lp\"].json[\"body\"][\"qualificacao\"] || '';\n\nfunction capitalizeName(fullName) {\n    if (typeof fullName === 'undefined') {\n        return { fname: '', lname: '', fullname: '' };\n    }\n\n    const lowerCaseWords = ['da', 'de', 'do', 'di', 'du'];\n    let words = fullName.toLowerCase().split(' ').map((word, index) => {\n        if (lowerCaseWords.includes(word) && index !== 0) {\n            return word;\n        }\n        return word.charAt(0).toUpperCase() + word.slice(1);\n    });\n\n    let fname = words.shift();\n    let lname = words.join(' ');\n\n    return { fname, lname, fullname: fname + ' ' + lname };\n}\n\nfunction formatEmail(email) {\n    return email.toLowerCase().trim();\n}\n\n  const telefoneLimpo = telefoneClienteOriginal.replace(/\\D/g, \"\");\n  const DDI = '55';\n  const DDD = telefoneLimpo.slice(0, 2); // Correção: Extrair os primeiros dois dígitos para obter o DDD\n\n  // Determinar o número de telefone final\n  if (parseInt(DDD) > 28) {\n    telefoneFinal = `${DDI}${DDD}${telefoneLimpo.slice(-8)}`;\n  } else {\n    telefoneFinal = `${DDI}${DDD}${telefoneLimpo.slice(-9)}`;\n  }\n\n\nconst formattedNames = capitalizeName(fullNameAnswer);\nconst formattedEmail = formatEmail(emailAnswer);\nconst result = {\n    ...formattedNames, // Nome formatado\n    email: formattedEmail, // Email formatado\n    whatsapp: telefoneFinal, // WhatsApp formatado\n    carreira: carreira,\n    tempo: tempo,\n    qualificacao: qualificacao\n};\n\n// Aqui estamos ajustando a estrutura do retorno para se adequar ao que o n8n espera\nreturn [{ json: result }];\n"
      },
      "id": "22b4cd05-4a25-4899-ad4f-500d660b0d95",
      "name": "formata_dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        360
      ]
    },
    {
      "parameters": {
        "queue": "[COACHING] - Opt in Jéssica",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "f8663ec2-c196-4029-a219-8af50b34d25a",
      "name": "entra_na_fila",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        1400,
        360
      ],
      "credentials": {
        "rabbitmq": {
          "id": "6klSivWaJBCNmE5C",
          "name": "[RABBITMQ] - Karine Waldrich"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "792e231a-e83a-4ec0-831a-b7f66419f5bc",
      "name": "cadastro_na_lp",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        940,
        360
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b89d2dc3-5949-4d62-b4cd-fde78d27f5ed",
        "options": {}
      },
      "id": "312172b6-dd04-4023-aa96-8ef6dd2af25e",
      "name": "preencheu_dados",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        700,
        360
      ],
      "webhookId": "b89d2dc3-5949-4d62-b4cd-fde78d27f5ed"
    }
  ],
  "pinData": null,
  "settings": {
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-08-23T00:27:28.272Z",
  "versionId": "607a04a7-3f45-4ac6-8c3b-553af148abec"
}