workflows/[COACHING] - CRM RAYANE: Qualificação - Parte 1 (automática via Typebot).json
{
  "active": true,
  "connections": {
    "formata_dados": {
      "main": [
        [
          {
            "node": "entra_na_fila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "preencheu_typebot": {
      "main": [
        [
          {
            "node": "formata_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-23T00:27:28.229Z",
  "id": "dbW8ytv2AU0viJWu",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[COACHING] - CRM RAYANE: Qualificação - Parte 1 (automática via Typebot)",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const fullNameAnswer = $node[\"preencheu_typebot\"].json[\"body\"][\"nome\"] || \"\";\nconst emailAnswer = $node[\"preencheu_typebot\"].json[\"body\"][\"email\"] || \"\";\nconst telefoneClienteOriginal = $node[\"preencheu_typebot\"].json[\"body\"][\"telefone\"] || '';\nconst carreira = $node[\"preencheu_typebot\"].json[\"body\"][\"carreira\"] || '';\nconst tempo = $node[\"preencheu_typebot\"].json[\"body\"][\"tempo\"] || '';\nconst qualificacao = $node[\"preencheu_typebot\"].json[\"body\"][\"qualificacao\"] || '';\n\nfunction capitalizeName(fullName) {\n    if (typeof fullName === 'undefined') {\n        return { fname: '', lname: '', fullname: '' };\n    }\n\n    const lowerCaseWords = ['da', 'de', 'do', 'di', 'du'];\n    let words = fullName.toLowerCase().split(' ').map((word, index) => {\n        if (lowerCaseWords.includes(word) && index !== 0) {\n            return word;\n        }\n        return word.charAt(0).toUpperCase() + word.slice(1);\n    });\n\n    let fname = words.shift();\n    let lname = words.join(' ');\n\n    return { fname, lname, fullname: fname + ' ' + lname };\n}\n\nfunction formatEmail(email) {\n    return email.toLowerCase().trim();\n}\n\n  const telefoneLimpo = telefoneClienteOriginal.replace(/\\D/g, \"\");\n  const DDI = '55';\n  const DDD = telefoneLimpo.slice(0, 2); // Correção: Extrair os primeiros dois dígitos para obter o DDD\n\n  // Determinar o número de telefone final\n  if (parseInt(DDD) > 28) {\n    telefoneFinal = `${DDI}${DDD}${telefoneLimpo.slice(-8)}`;\n  } else {\n    telefoneFinal = `${DDI}${DDD}${telefoneLimpo.slice(-9)}`;\n  }\n\n\nconst formattedNames = capitalizeName(fullNameAnswer);\nconst formattedEmail = formatEmail(emailAnswer);\nconst result = {\n    ...formattedNames, // Nome formatado\n    email: formattedEmail, // Email formatado\n    whatsapp: telefoneFinal, // WhatsApp formatado\n    carreira: carreira,\n    tempo: tempo,\n    qualificacao: qualificacao\n};\n\n// Aqui estamos ajustando a estrutura do retorno para se adequar ao que o n8n espera\nreturn [{ json: result }];\n"
      },
      "id": "f9e790c9-79d5-4ac0-8d15-8f4e9c4cc3bc",
      "name": "formata_dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        360
      ]
    },
    {
      "parameters": {
        "queue": "[COACHING] - Aguardando agendamento da SE - Rayane",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "4de576d6-e8a3-4f2c-948d-b8643d754654",
      "name": "entra_na_fila",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        1160,
        360
      ],
      "credentials": {
        "rabbitmq": {
          "id": "6klSivWaJBCNmE5C",
          "name": "[RABBITMQ] - Karine Waldrich"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3feaa887-1912-499a-9e15-84783df33db9",
        "options": {}
      },
      "id": "6b8f509c-87f8-43e1-8537-db836868ee4c",
      "name": "preencheu_typebot",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        700,
        360
      ],
      "webhookId": "3feaa887-1912-499a-9e15-84783df33db9"
    }
  ],
  "pinData": {
    "preencheu_typebot": [
      {
        "json": {
          "headers": {
            "host": "n8nwebhookkarinewaldrich.leonardofreymuth.com.br",
            "user-agent": "node",
            "transfer-encoding": "chunked",
            "accept": "*/*",
            "accept-encoding": "br, gzip, deflate",
            "accept-language": "*",
            "baggage": "sentry-environment=vercel-production,sentry-release=5a0a133429aadde92b55067c146f58784d2bd54a-builder,sentry-public_key=6ab7a675c4934493b1d5b77c0d4dd06d,sentry-trace_id=8edfe86bcdf640c0a0fb5a0fee5008e7,sentry-transaction=POST%20%2Fapi%2Ftypebots%2F%5BtypebotId%5D%2Fblocks%2F%5BblockId%5D%2FtestWebhook,sentry-sampled=false",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "sentry-trace": "8edfe86bcdf640c0a0fb5a0fee5008e7-84132b27b0d979d4-0",
            "x-forwarded-for": "13.42.62.23",
            "x-forwarded-host": "n8nwebhookkarinewaldrich.leonardofreymuth.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "79f32772410f",
            "x-real-ip": "13.42.62.23",
            "x-vercel-id": "gru1::g9mdd-1722562424726-3a24b63deeee"
          },
          "params": {},
          "query": {},
          "body": {
            "nome": "Leo",
            "email": "leofreymuth@gmail.com",
            "telefone": "51994696045",
            "carreira": "teste",
            "tempo": "1",
            "qualificacao": "qualificado"
          },
          "webhookUrl": "https://n8nwebhookkarinewaldrich.leonardofreymuth.com.br/webhook/3feaa887-1912-499a-9e15-84783df33db9",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 600,
    "executionOrder": "v1",
    "errorWorkflow": "Ppi2Q8rUEdph2WkT"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-08-27T21:13:20.776Z",
  "versionId": "5abea7f7-3a37-4ffe-aae3-0b8700ddbb18"
}