workflows/[COACHING] - CRM RAYANE: Agendamento SE - Parte 2.json
{
  "active": false,
  "connections": {
    "add_tag_agendou": {
      "main": [
        [
          {
            "node": "id_activecampaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Campos Personalizados de Contatos da Conta": {
      "main": [
        [
          {
            "node": "Listar Tags da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Listar Campos Personalizados de Contatos da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sessao": {
      "main": [
        [
          {
            "node": "cria_atualiza_contato",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria_atualiza_contato2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_atualiza_contato2": {
      "main": [
        [
          {
            "node": "add_tag_agendou1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_agendou1": {
      "main": [
        [
          {
            "node": "id_activecampaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_atualiza_contato": {
      "main": [
        [
          {
            "node": "add_tag_agendou",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_activecampaign": {
      "main": [
        [
          {
            "node": "procura_pessoa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chega_da_fila": {
      "main": [
        [
          {
            "node": "sessao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "procura_dados": {
      "main": [
        [
          {
            "node": "lead_existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "procura_pessoa": {
      "main": [
        [
          {
            "node": "pessoa_existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pessoa_existe?": {
      "main": [
        [
          {
            "node": "procura_dados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria_pessoa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_pessoa": {
      "main": [
        [
          {
            "node": "procura_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_existe?": {
      "main": [
        [
          {
            "node": "atualiza_lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_lead": {
      "main": [
        [
          {
            "node": "deal_existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_lead": {
      "main": [
        [
          {
            "node": "deal_existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deal_existe?": {
      "main": [
        [
          {
            "node": "atualiza_deal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria_deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_deal": {
      "main": [
        [
          {
            "node": "insere_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_deal": {
      "main": [
        [
          {
            "node": "insere_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-23T00:27:28.667Z",
  "id": "M8goBHKniuZmI15r",
  "meta": null,
  "name": "[COACHING] - CRM RAYANE: Agendamento SE - Parte 2",
  "nodes": [
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "281",
        "contactId": "={{ $node[\"cria_atualiza_contato\"].json[\"id\"] }}"
      },
      "id": "f537f8b8-a7c8-4d76-88a5-1b95d79c54ee",
      "name": "add_tag_agendou",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        3020,
        1280
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "gVnAGwgGjilyjqdX",
          "name": "[ACTIVE CAMPAIGN] - Karine Waldrich"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/tags?limit=1000&search={{ $node[\"Set\"].json[\"tag_procurada\"] }}",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Tags da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2600,
        800
      ],
      "id": "5a025385-1f8a-4d0d-a478-f4d0d50fc702"
    },
    {
      "parameters": {
        "content": "## Para consulta\n \nUtilize os Nodes Abaixo para consultar os IDs dos Campos e Tags no ActiveCampaign",
        "height": 407.6377565498652,
        "width": 747.0856205721786
      },
      "id": "527884a7-ca70-4a64-996c-801eb0506bbd",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2100,
        640
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/fields?limit=1000",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Campos Personalizados de Contatos da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2400,
        800
      ],
      "id": "d7cfc6ff-2d2b-43a3-99c7-4cef569c50fb"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Api-Token",
              "value": "3b017e05e9651b8ba39ad201bd7dcdc523b178da96e38837a3883db5989121ccd88a4857"
            },
            {
              "name": "url_api_activecampaign",
              "value": "karinewaldrich"
            },
            {
              "name": "tag_procurada",
              "value": "agendou"
            }
          ]
        },
        "options": {}
      },
      "id": "49e2ca2a-e065-416c-8888-dc69d161ea84",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2200,
        800
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Tipo de Evento\"] }}",
              "value2": "Sessão Estratégica"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "7b1b8899-d928-4b42-a439-98394b5bd3ea",
      "name": "sessao",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2520,
        1400
      ]
    },
    {
      "parameters": {
        "email": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}",
        "updateIfExists": true,
        "additionalFields": {
          "fieldValues": {
            "property": [
              {
                "field": "=155",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Tipo de Evento\"] }}"
              },
              {
                "field": "=156",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"ID do Evento\"] }}"
              },
              {
                "field": "=157",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Responsável pelo Evento\"] }}"
              },
              {
                "field": "=158",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
              },
              {
                "field": "=159",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Início\"].split('/')[2].split(' ')[0] }}-{{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Início\"].split('/')[1] }}-{{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Início\"].split('/')[0] }}"
              },
              {
                "field": "=160",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Início\"] }}"
              },
              {
                "field": "=163",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split('/')[2].split(' ')[0] }}-{{ $node[\"chega_da_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split('/')[1] }}-{{ $node[\"chega_da_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split('/')[0] }}"
              },
              {
                "field": "=164",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Dia da Semana de Início do Evento\"] }}"
              },
              {
                "field": "=161",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Término\"].split('/')[2].split(' ')[0] }}-{{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Término\"].split('/')[1] }}-{{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Término\"].split('/')[0] }}"
              },
              {
                "field": "=162",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Término\"] }}"
              },
              {
                "field": "=165",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Link da Reunião\"] }}"
              },
              {
                "field": "=184",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
              },
              {
                "field": "=185",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
              },
              {
                "field": "=186",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
              },
              {
                "field": "=187",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
              },
              {
                "field": "=188",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
              },
              {
                "field": "=166",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
              },
              {
                "field": "=167",
                "value": "=https://calendly.com/cancellations/{{ $node[\"chega_da_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
              },
              {
                "field": "=168",
                "value": "=https://calendly.com/reschedulings/{{ $node[\"chega_da_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
              }
            ]
          },
          "firstName": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}",
          "lastName": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}",
          "phone": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
        }
      },
      "id": "5fc237a3-f998-4856-8594-cf69c37ca12e",
      "name": "cria_atualiza_contato2",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2840,
        1560
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "gVnAGwgGjilyjqdX",
          "name": "[ACTIVE CAMPAIGN] - Karine Waldrich"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "296",
        "contactId": "={{ $node[\"cria_atualiza_contato2\"].json[\"id\"] }}"
      },
      "id": "41788128-95d5-468b-b689-e50aabe79adc",
      "name": "add_tag_agendou1",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        3020,
        1560
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "gVnAGwgGjilyjqdX",
          "name": "[ACTIVE CAMPAIGN] - Karine Waldrich"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "id",
              "value": "={{ $json[\"contact\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dd772e4e-c45f-4049-a275-6a7e81e01782",
      "name": "id_activecampaign",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        3200,
        1360
      ]
    },
    {
      "parameters": {
        "email": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}",
        "updateIfExists": true,
        "additionalFields": {
          "fieldValues": {
            "property": [
              {
                "field": "=140",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Tipo de Evento\"] }}"
              },
              {
                "field": "=141",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"ID do Evento\"] }}"
              },
              {
                "field": "=142",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Responsável pelo Evento\"] }}"
              },
              {
                "field": "=143",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
              },
              {
                "field": "=144",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Início\"].split('/')[2].split(' ')[0] }}-{{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Início\"].split('/')[1] }}-{{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Início\"].split('/')[0] }}"
              },
              {
                "field": "=145",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Início\"] }}"
              },
              {
                "field": "=148",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split('/')[2].split(' ')[0] }}-{{ $node[\"chega_da_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split('/')[1] }}-{{ $node[\"chega_da_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split('/')[0] }}"
              },
              {
                "field": "=159",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Dia da Semana de Início do Evento\"] }}"
              },
              {
                "field": "=146",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Término\"].split('/')[2].split(' ')[0] }}-{{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Término\"].split('/')[1] }}-{{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Término\"].split('/')[0] }}"
              },
              {
                "field": "=147",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Término\"] }}"
              },
              {
                "field": "=150",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Link da Reunião\"] }}"
              },
              {
                "field": "=177",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
              },
              {
                "field": "=178",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
              },
              {
                "field": "=179",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
              },
              {
                "field": "=180",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
              },
              {
                "field": "=181",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
              },
              {
                "field": "=151",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
              },
              {
                "field": "=138",
                "value": "=https://calendly.com/cancellations/{{ $node[\"chega_da_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
              },
              {
                "field": "=153",
                "value": "=https://calendly.com/reschedulings/{{ $node[\"chega_da_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
              }
            ]
          },
          "firstName": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}",
          "lastName": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}",
          "phone": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
        }
      },
      "id": "57e0b098-bbb7-4044-b0ad-467f2232d128",
      "name": "cria_atualiza_contato",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2840,
        1280
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "gVnAGwgGjilyjqdX",
          "name": "[ACTIVE CAMPAIGN] - Karine Waldrich"
        }
      }
    },
    {
      "parameters": {
        "queue": "[COACHING] - Calendly - Agendamento Rayane",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "jsonParseBody": true,
          "parallelMessages": 3
        }
      },
      "id": "5472edce-86c7-4bb2-ac11-d97ce2be469f",
      "name": "chega_da_fila",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        2240,
        1400
      ],
      "credentials": {
        "rabbitmq": {
          "id": "6klSivWaJBCNmE5C",
          "name": "[RABBITMQ] - Karine Waldrich"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1pXt3baODbIm9EJvEY2zanmWY-u0B5l6IbBiNhk4Nk54",
          "mode": "list",
          "cachedResultName": "[COACHING] - CRM: Leads Rayane",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pXt3baODbIm9EJvEY2zanmWY-u0B5l6IbBiNhk4Nk54/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pXt3baODbIm9EJvEY2zanmWY-u0B5l6IbBiNhk4Nk54/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}",
            "Nome": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}",
            "Telefone": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}",
            "UTM Source": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}",
            "UTM Medium": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}",
            "UTM Campaign": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}",
            "UTM Term": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}",
            "UTM Content": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}",
            "ID Lead Pipedrive": "={{   $node[\"cria_lead\"].runIndex >= 0        ? $node[\"cria_lead\"].json[\"id\"] : $node[\"atualiza_lead\"].runIndex >= 0      ? $node[\"atualiza_lead\"].json[\"id\"]     : null }}",
            "ID Deal Pipedrive": "={{   $node[\"cria_deal\"].runIndex >= 0        ? $node[\"cria_deal\"].json[\"id\"] : $node[\"atualiza_deal\"].runIndex >= 0      ? $node[\"atualiza_deal\"].json[\"id\"]     : null }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "UTM Source",
              "displayName": "UTM Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "UTM Medium",
              "displayName": "UTM Medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "UTM Campaign",
              "displayName": "UTM Campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "UTM Term",
              "displayName": "UTM Term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "UTM Content",
              "displayName": "UTM Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Lead Pipedrive",
              "displayName": "ID Lead Pipedrive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Deal Pipedrive",
              "displayName": "ID Deal Pipedrive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "2d1e8bc1-5452-4737-965c-0bb46ff296de",
      "name": "insere_dados",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        5240,
        1300
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ub5DG8xHrdBshGfL",
          "name": "[SHEETS] - apoiowaldrich7@gmail.com (atualizado)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1pXt3baODbIm9EJvEY2zanmWY-u0B5l6IbBiNhk4Nk54",
          "mode": "list",
          "cachedResultName": "[COACHING] - CRM: Leads Rayane",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pXt3baODbIm9EJvEY2zanmWY-u0B5l6IbBiNhk4Nk54/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pXt3baODbIm9EJvEY2zanmWY-u0B5l6IbBiNhk4Nk54/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "917c6127-12f3-4d13-ae29-a6c251552c3b",
      "name": "procura_dados",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        4080,
        1340
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ub5DG8xHrdBshGfL",
          "name": "[SHEETS] - apoiowaldrich7@gmail.com (atualizado)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "person",
        "operation": "search",
        "term": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}",
        "additionalFields": {
          "fields": "email"
        }
      },
      "id": "b2ff9481-c3ae-447f-b015-4fc07ebac7af",
      "name": "procura_pessoa",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        3460,
        1360
      ],
      "alwaysOutputData": true,
      "credentials": {
        "pipedriveApi": {
          "id": "qqXBDTetpAq7HsFM",
          "name": "[PIPEDRIVE] - Karine Waldrich"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "8af697ad-d947-412c-b0f7-19fa896d6d6b",
              "leftValue": "={{ $node[\"procura_pessoa\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c359b0d6-4825-49dc-a850-7e03b83aa1b3",
      "name": "pessoa_existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3680,
        1360
      ]
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}",
        "additionalFields": {
          "email": [
            "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
          ],
          "phone": [
            "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
          ]
        }
      },
      "id": "33296b39-7f11-481b-b4c4-8fa082e1739b",
      "name": "cria_pessoa",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        3880,
        1540
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "qqXBDTetpAq7HsFM",
          "name": "[PIPEDRIVE] - Karine Waldrich"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "793d5083-f531-4652-87db-57a3a9f73005",
              "leftValue": "={{ $node[\"procura_dados\"].json[\"ID Lead Pipedrive\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ec1588a3-080c-4ca1-aac0-5b9d58811a32",
      "name": "lead_existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4320,
        1340
      ]
    },
    {
      "parameters": {
        "resource": "lead",
        "operation": "update",
        "leadId": "={{ $node[\"procura_dados\"].json[\"ID Lead Pipedrive\"] }}",
        "updateFields": {}
      },
      "id": "e1a665bb-97d5-48c2-ade7-efb231138940",
      "name": "atualiza_lead",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        4520,
        1120
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "qqXBDTetpAq7HsFM",
          "name": "[PIPEDRIVE] - Karine Waldrich"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "title": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}",
        "associateWith": "person",
        "person_id": "={{   $node[\"cria_pessoa\"].runIndex >= 0        ? $node[\"cria_pessoa\"].json[\"id\"] : $node[\"procura_pessoa\"].runIndex >= 0      ? $node[\"procura_pessoa\"].json[\"id\"]     : null }}",
        "additionalFields": {}
      },
      "id": "9b0b7dd8-a1de-4e5b-9f10-936bc9960f55",
      "name": "cria_lead",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        4540,
        1500
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "qqXBDTetpAq7HsFM",
          "name": "[PIPEDRIVE] - Karine Waldrich"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "793d5083-f531-4652-87db-57a3a9f73005",
              "leftValue": "={{ $node[\"procura_dados\"].json[\"ID Deal Pipedrive\"].toString() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c977db3a-8fab-49ea-bf57-b7a180fcd092",
      "name": "deal_existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4800,
        1340
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dealId": "={{ $node[\"procura_dados\"].json[\"ID Deal Pipedrive\"] }}",
        "updateFields": {
          "currency": "BRL",
          "customProperties": {
            "property": [
              {
                "name": "143cd0cd8411259a0e333e81ef3249941086322c",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Início\"].split('/')[2].split(' ')[0] }}-{{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Início\"].split('/')[1]}}-{{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Início\"].split('/')[0] }}"
              },
              {
                "name": "8361adaca6003d06b3d6dae26a3161fd3b9f22cd",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Início\"].split(' ')[1] }}"
              },
              {
                "name": "ade40a5ba4f78ba19ac8c895d07497c3e1143fca",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Link da Reunião\"] }}"
              }
            ]
          },
          "user_id": 21963603,
          "person_id": "={{   $node[\"cria_pessoa\"].runIndex >= 0        ? $node[\"cria_pessoa\"].json[\"id\"] : $node[\"procura_pessoa\"].runIndex >= 0      ? $node[\"procura_pessoa\"].json[\"id\"]     : null }}",
          "stage_id": 9
        }
      },
      "id": "3e46fd8a-26f1-40bd-8e90-54ca1504d919",
      "name": "atualiza_deal",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        5020,
        1180
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "qqXBDTetpAq7HsFM",
          "name": "[PIPEDRIVE] - Karine Waldrich"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}",
        "associateWith": "person",
        "person_id": "={{   $node[\"cria_pessoa\"].runIndex >= 0        ? $node[\"cria_pessoa\"].json[\"id\"] : $node[\"procura_pessoa\"].runIndex >= 0      ? $node[\"procura_pessoa\"].json[\"id\"]     : null }}",
        "additionalFields": {
          "currency": "BRL",
          "customProperties": {
            "property": [
              {
                "name": "ade40a5ba4f78ba19ac8c895d07497c3e1143fca",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Link da Reunião\"] }}"
              },
              {
                "name": "143cd0cd8411259a0e333e81ef3249941086322c",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Início\"].split('/')[2].split(' ')[0] }}-{{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Início\"].split('/')[1]}}-{{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Início\"].split('/')[0] }}"
              },
              {
                "name": "8361adaca6003d06b3d6dae26a3161fd3b9f22cd",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Data de Início\"].split(' ')[1] }}"
              }
            ]
          },
          "stage_id": 9,
          "status": "open",
          "user_id": 21963603
        }
      },
      "id": "e57a3c7d-4a17-4c3b-9c04-99283766785c",
      "name": "cria_deal",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        5020,
        1480
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "qqXBDTetpAq7HsFM",
          "name": "[PIPEDRIVE] - Karine Waldrich"
        }
      }
    }
  ],
  "pinData": null,
  "settings": {
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-08-23T00:27:28.667Z",
  "versionId": "1b183967-b476-48fa-b867-a39c2b294e12"
}