workflows/[CRM] - Pipeline Webinário Coaching Day - Parte 1.json
{
  "active": true,
  "connections": {
    "formata_dados": {
      "main": [
        [
          {
            "node": "entra_na_fila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "preencheu_typebot": {
      "main": [
        [
          {
            "node": "formata_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-09-05T21:31:24.347Z",
  "id": "z0Oa8Bo2xkUrv58r",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[CRM] - Pipeline Webinário Coaching Day - Parte 1",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const fullNameAnswer = $node[\"preencheu_typebot\"].json[\"body\"][\"nome\"] || \"\";\nconst emailAnswer = $node[\"preencheu_typebot\"].json[\"body\"][\"email\"] || \"\";\nconst telefoneClienteOriginal = $node[\"preencheu_typebot\"].json[\"body\"][\"telefone\"] || '';\nconst carreira = $node[\"preencheu_typebot\"].json[\"body\"][\"carreira\"] || '';\nconst tempo = $node[\"preencheu_typebot\"].json[\"body\"][\"tempo\"] || '';\nconst aluno = $node[\"preencheu_typebot\"].json[\"body\"][\"aluno\"] || '';\n\nfunction capitalizeName(fullName) {\n    if (typeof fullName === 'undefined') {\n        return { fname: '', lname: '', fullname: '' };\n    }\n\n    const lowerCaseWords = ['da', 'de', 'do', 'di', 'du'];\n    let words = fullName.toLowerCase().split(' ').map((word, index) => {\n        if (lowerCaseWords.includes(word) && index !== 0) {\n            return word;\n        }\n        return word.charAt(0).toUpperCase() + word.slice(1);\n    });\n\n    let fname = words.shift();\n    let lname = words.join(' ');\n\n    return { fname, lname, fullname: fname + ' ' + lname };\n}\n\nfunction formatEmail(email) {\n    return email.toLowerCase().trim();\n}\n\n  const telefoneLimpo = telefoneClienteOriginal.replace(/\\D/g, \"\");\n  const DDI = '55';\n  const DDD = telefoneLimpo.slice(0, 2); // Correção: Extrair os primeiros dois dígitos para obter o DDD\n\n  // Determinar o número de telefone final\n  if (parseInt(DDD) > 28) {\n    telefoneFinal = `${DDI}${DDD}${telefoneLimpo.slice(-8)}`;\n  } else {\n    telefoneFinal = `${DDI}${DDD}${telefoneLimpo.slice(-9)}`;\n  }\n\n\nconst formattedNames = capitalizeName(fullNameAnswer);\nconst formattedEmail = formatEmail(emailAnswer);\nconst result = {\n    ...formattedNames, // Nome formatado\n    email: formattedEmail, // Email formatado\n    whatsapp: telefoneFinal, // WhatsApp formatado\n    carreira: carreira,\n    tempo: tempo,\n    aluno: aluno\n};\n\n// Aqui estamos ajustando a estrutura do retorno para se adequar ao que o n8n espera\nreturn [{ json: result }];\n"
      },
      "id": "e398d9fb-190a-4ed1-a88a-61bdf28bc3ec",
      "name": "formata_dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        260
      ]
    },
    {
      "parameters": {
        "queue": "[CRM] - Pipeline Webinário Coaching Day",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "10d52258-6a20-49d3-afbf-a3d14a20d862",
      "name": "entra_na_fila",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        1040,
        260
      ],
      "credentials": {
        "rabbitmq": {
          "id": "EpGcMDPOCNYbhT3V",
          "name": "[RABBIT] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7f5140d9-d230-4735-9f8a-3e6416874531",
        "options": {}
      },
      "id": "b6b76f15-aad8-4b3f-a6be-f9b059d35753",
      "name": "preencheu_typebot",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        580,
        260
      ],
      "webhookId": "7f5140d9-d230-4735-9f8a-3e6416874531"
    }
  ],
  "pinData": {
    "preencheu_typebot": [
      {
        "json": {
          "headers": {
            "host": "n8nwebhook.karinewaldrich.com.br",
            "user-agent": "node",
            "transfer-encoding": "chunked",
            "accept": "*/*",
            "accept-encoding": "br, gzip, deflate",
            "accept-language": "*",
            "baggage": "sentry-environment=vercel-production,sentry-release=28326d3babd74760faa9dcc89b809db9fc743858-builder,sentry-public_key=6ab7a675c4934493b1d5b77c0d4dd06d,sentry-trace_id=a646c04363e84b86b6e67986c64d3209,sentry-transaction=POST%20%2Fapi%2Ftypebots%2F%5BtypebotId%5D%2Fblocks%2F%5BblockId%5D%2FtestWebhook,sentry-sampled=false",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "sentry-trace": "a646c04363e84b86b6e67986c64d3209-aa3a10ace7f1d501-0",
            "x-forwarded-for": "35.177.77.183",
            "x-forwarded-host": "n8nwebhook.karinewaldrich.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "cadf6fe75461",
            "x-real-ip": "35.177.77.183",
            "x-vercel-id": "gru1::8jvzd-1725574377490-d64952393937"
          },
          "params": {},
          "query": {},
          "body": {
            "nome": "Leo",
            "email": "leofreymuth@gmail.com",
            "telefone": "51994696045",
            "carreira": "fiscal",
            "tempo": "1",
            "aluno": "Não"
          },
          "webhookUrl": "https://n8nwebhook.karinewaldrich.com.br/webhook/7f5140d9-d230-4735-9f8a-3e6416874531",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-08-27T20:32:16.095Z",
      "updatedAt": "2024-08-27T20:32:16.095Z",
      "id": "hpw9T6Qr7vrfpY90",
      "name": "Typebot"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-09-05T22:16:12.470Z",
  "versionId": "04c160af-36b6-4ac0-bfb7-6f22870e12f1"
}