workflows/[L060524-APA] - Envio do fluxo de boas vindas no Manychat.json
{
  "active": false,
  "connections": {
    "cria_contato_manychat": {
      "main": [
        [
          {
            "node": "atualiza_contato_manychat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_fluxo_boas_vindas": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "entra_na_fila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "procura_id_manychat_pelo_telefone": {
      "main": [
        [
          {
            "node": "nao_encontrou_telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_encontrou_telefone": {
      "main": [
        [
          {
            "node": "procura_id_manychat_pelo_email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_contato_manychat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "procura_id_manychat_pelo_email": {
      "main": [
        [
          {
            "node": "nao_encontrou_email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_encontrou_email": {
      "main": [
        [
          {
            "node": "cria_contato_manychat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_contato_manychat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_contato_manychat": {
      "main": [
        [
          {
            "node": "erro_de_email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "erro_de_email": {
      "main": [
        [
          {
            "node": "envia_fluxo_boas_vindas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_dados": {
      "main": [
        [
          {
            "node": "procura_id_manychat_pelo_telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cadastro_lead_active": {
      "main": [
        [
          {
            "node": "formata_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-23T00:27:28.438Z",
  "id": "Pos8GCeeZFklZtKg",
  "meta": null,
  "name": "[L060524-APA] - Envio do fluxo de boas vindas no Manychat",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/createSubscriber",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer 1746222495610114:98411c837cea31efbec616a060b6ed72"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "first_name",
              "value": "={{ $node[\"formata_dados\"].json[\"fullname\"].split(' ')[0] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"formata_dados\"].json[\"fullname\"].split(' ').slice(1).join(\" \") || \".\" }}"
            },
            {
              "name": "has_opt_in_sms",
              "value": "true"
            },
            {
              "name": "has_opt_in_email",
              "value": "true"
            },
            {
              "name": "consent_phrase",
              "value": "Olá, aqui é a Karine Waldrich. Posso ter seu contato?"
            },
            {
              "name": "phone",
              "value": "={{ $node[\"formata_dados\"].json[\"whatsapp\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"formata_dados\"].json[\"email\"] }}"
            },
            {
              "name": "whatsapp_phone",
              "value": "={{ $node[\"formata_dados\"].json[\"whatsapp\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "20496a2b-9316-4b1e-bacf-2ba8a999e3d5",
      "name": "cria_contato_manychat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        460
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendFlow",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer 1746222495610114:98411c837cea31efbec616a060b6ed72"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow_ns",
              "value": "=content20240503014100_126848"
            },
            {
              "name": "subscriber_id",
              "value": "={{\n  $node[\"cria_contato_manychat\"].runIndex >= 0 \n    ? $node[\"cria_contato_manychat\"].json[\"data\"][\"id\"]\n    : $node[\"procura_id_manychat_pelo_email\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_email\"].json[\"data\"][\"id\"]    : $node[\"procura_id_manychat_pelo_telefone\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_telefone\"].json[\"data\"][\"id\"]\n\n              : null\n}}"
            }
          ]
        },
        "options": {}
      },
      "id": "a53a99b3-9a8c-4281-aa48-16fe03b2f261",
      "name": "envia_fluxo_boas_vindas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1260,
        700
      ]
    },
    {
      "parameters": {
        "queue": "=L060524 - PIPEDRIVE",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "0c44b0b5-c1fb-4ce2-9f74-e20a0d623257",
      "name": "entra_na_fila",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        1700,
        700
      ],
      "credentials": {
        "rabbitmq": {
          "id": "6klSivWaJBCNmE5C",
          "name": "[RABBITMQ] - Karine Waldrich"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14c7cf63-22bf-44fa-b6f4-92a186c939ce",
              "name": "Name",
              "value": "={{ $node[\"formata_dados\"].json[\"fname\"] }}",
              "type": "string"
            },
            {
              "id": "91410666-07d9-4fcc-a1cb-51b793716829",
              "name": "Last name",
              "value": "={{ $node[\"formata_dados\"].json[\"lname\"] }}",
              "type": "string"
            },
            {
              "id": "b70c4f75-ee1c-4be2-8225-d59f9edef4ff",
              "name": "Full name",
              "value": "={{ $node[\"formata_dados\"].json[\"fullname\"] }}",
              "type": "string"
            },
            {
              "id": "8ec8d02e-076a-4c60-a798-ffb7c526d493",
              "name": "Email",
              "value": "={{ $node[\"formata_dados\"].json[\"email\"] }}",
              "type": "string"
            },
            {
              "id": "08771d5c-6ad1-4bc0-b61a-a33aafc07cc2",
              "name": "Whatsapp",
              "value": "={{ $node[\"formata_dados\"].json[\"whatsapp\"] }}",
              "type": "string"
            },
            {
              "id": "72ac37dd-c05e-4903-88e4-9a3d946ca1b4",
              "name": "utm_source",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_source\"] }}",
              "type": "string"
            },
            {
              "id": "9e74bbfc-1cf6-4641-944d-f07cf230c6f3",
              "name": "utm_campaign",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_campaign\"] }}",
              "type": "string"
            },
            {
              "id": "af0687a9-8a3f-488a-970b-0f93c9bc6666",
              "name": "utm_term",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_term\"] }}",
              "type": "string"
            },
            {
              "id": "7b4abc02-881a-4999-92d7-01fd86f4faf3",
              "name": "utm_medium",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_medium\"] }}",
              "type": "string"
            },
            {
              "id": "04c2de88-a0e6-42d6-9c58-dcb5f80bc29f",
              "name": "utm_content",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_content\"] }}",
              "type": "string"
            },
            {
              "id": "5fe973d1-d062-447c-9586-a18d76d4a62e",
              "name": "data do cadastro",
              "value": "={{ $now.format(\"yyyy-MM-dd HH:mm:ss\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "410712bc-1215-4b99-aa23-f047e2364c02",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1480,
        700
      ]
    },
    {
      "parameters": {
        "url": "https://api.manychat.com/fb/subscriber/findBySystemField",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $node[\"formata_dados\"].json[\"whatsapp\"] }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer 1746222495610114:98411c837cea31efbec616a060b6ed72"
            }
          ]
        },
        "options": {}
      },
      "id": "87874ca0-5624-4386-9d50-7b617d9a939d",
      "name": "procura_id_manychat_pelo_telefone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -460,
        900
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"procura_id_manychat_pelo_telefone\"].json[\"data\"] }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "dcff6816-024e-4aa6-a7bf-7b4cc416be56",
      "name": "nao_encontrou_telefone",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -260,
        900
      ]
    },
    {
      "parameters": {
        "url": "https://api.manychat.com/fb/subscriber/findBySystemField",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $node[\"formata_dados\"].json[\"email\"] }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer 1746222495610114:98411c837cea31efbec616a060b6ed72"
            }
          ]
        },
        "options": {}
      },
      "id": "f62553cf-ce35-4d01-a872-ff8c141f9ed5",
      "name": "procura_id_manychat_pelo_email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -60,
        660
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"procura_id_manychat_pelo_email\"].json[\"data\"] }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "0619a92f-a693-4f48-8dc0-d2e59a96536c",
      "name": "nao_encontrou_email",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        180,
        660
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/updateSubscriber",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer 1746222495610114:98411c837cea31efbec616a060b6ed72"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "first_name",
              "value": "={{ $node[\"formata_dados\"].json[\"fullname\"].split(' ')[0] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"formata_dados\"].json[\"fullname\"].split(' ').slice(1).join(\" \") || \".\" }}"
            },
            {
              "name": "has_opt_in_sms",
              "value": "true"
            },
            {
              "name": "has_opt_in_email",
              "value": "true"
            },
            {
              "name": "consent_phrase",
              "value": "Olá, aqui é a Karine Waldrich. Posso ter seu contato?"
            },
            {
              "name": "whatsapp_phone",
              "value": "={{ $node[\"formata_dados\"].json[\"whatsapp\"] }}"
            },
            {
              "name": "phone",
              "value": "={{ $node[\"formata_dados\"].json[\"whatsapp\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"formata_dados\"].json[\"email\"] }}"
            },
            {
              "name": "subscriber_id",
              "value": "={{\n  $node[\"cria_contato_manychat\"].runIndex >= 0 \n    ? $node[\"cria_contato_manychat\"].json[\"data\"][\"id\"]\n    : $node[\"procura_id_manychat_pelo_email\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_email\"].json[\"data\"][\"id\"]    : $node[\"procura_id_manychat_pelo_telefone\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_telefone\"].json[\"data\"][\"id\"]\n\n              : null\n}}"
            }
          ]
        },
        "options": {}
      },
      "id": "26cee65d-4ad7-49c7-a92a-a9c0d5467ec4",
      "name": "atualiza_contato_manychat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        640,
        920
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"error\"][\"message\"] }}",
              "operation": "contains",
              "value2": "This email address already exists"
            },
            {
              "value1": "={{ $json[\"data\"][\"id\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "dea26150-f432-43c3-b612-cb8fca3ea5f0",
      "name": "erro_de_email",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        920,
        920
      ]
    },
    {
      "parameters": {
        "errorMessage": "An error ocurred!"
      },
      "id": "8c564653-6a0c-434a-b7f7-f7470a65b9d0",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1260,
        1100
      ]
    },
    {
      "parameters": {
        "jsCode": "const fullNameAnswer = $node[\"cadastro_lead_active\"].json[\"body\"][\"contact[first_name]\"] || \"\";\nconst emailAnswer = $node[\"cadastro_lead_active\"].json[\"body\"][\"contact[email]\"] || \"\";\nconst telefoneClienteOriginal = $node[\"cadastro_lead_active\"].json[\"body\"][\"contact[phone]\"] || \"\";\n\nfunction capitalizeName(fullName) {\n    if (typeof fullName === 'undefined') {\n        return { fname: '', lname: '', fullname: '' };\n    }\n\n    const lowerCaseWords = ['da', 'de', 'do', 'di', 'du'];\n    let words = fullName.toLowerCase().split(' ').map((word, index) => {\n        if (lowerCaseWords.includes(word) && index !== 0) {\n            return word;\n        }\n        return word.charAt(0).toUpperCase() + word.slice(1);\n    });\n\n    let fname = words.shift();\n    let lname = words.join(' ');\n\n    return { fname, lname, fullname: fname + ' ' + lname };\n}\n\nfunction formatEmail(email) {\n    return email.toLowerCase().trim();\n}\n\n  const telefoneLimpo = telefoneClienteOriginal.replace(/\\D/g, \"\");\n  const DDI = '55';\n  const DDD = telefoneLimpo.slice(0, 2); // Correção: Extrair os primeiros dois dígitos para obter o DDD\n\n  // Determinar o número de telefone final\n  if (parseInt(DDD) > 28) {\n    telefoneFinal = `${DDI}${DDD}${telefoneLimpo.slice(-9)}`;\n  } else {\n    telefoneFinal = `${DDI}${DDD}${telefoneLimpo.slice(-9)}`;\n  }\n\n\nconst formattedNames = capitalizeName(fullNameAnswer);\nconst formattedEmail = formatEmail(emailAnswer);\nconst utm_source = $node[\"cadastro_lead_active\"].json[\"body\"][\"contact[fields][utm_source]\"] || \"\";\nconst utm_campaign = $node[\"cadastro_lead_active\"].json[\"body\"][\"contact[fields][utm_campaign]\"] || \"\";\nconst utm_medium = $node[\"cadastro_lead_active\"].json[\"body\"][\"contact[fields][utm_medium]\"] || \"\";\nconst utm_term = $node[\"cadastro_lead_active\"].json[\"body\"][\"contact[fields][utm_term]\"] || \"\";\nconst utm_content = $node[\"cadastro_lead_active\"].json[\"body\"][\"contact[fields][utm_content]\"] || \"\";\n\nconst result = {\n    ...formattedNames, // Nome formatado\n    email: formattedEmail, // Email formatado\n    whatsapp: telefoneFinal, // WhatsApp formatado\n    utm_source: utm_source,\n    utm_campaign: utm_campaign,\n    utm_term: utm_term,\n    utm_medium: utm_medium,\n    utm_content: utm_content\n  \n};\n\n// Aqui estamos ajustando a estrutura do retorno para se adequar ao que o n8n espera\nreturn [{ json: result }];"
      },
      "id": "f8769fd7-59de-466d-906d-6e22a02018e5",
      "name": "formata_dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        900
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "l060524-apa-cadastro",
        "options": {}
      },
      "id": "8273a742-5f9e-46ba-a172-e3ad027c60e3",
      "name": "cadastro_lead_active",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -860,
        900
      ],
      "webhookId": "d186d087-e69d-46c4-a306-c4babf1f61a4"
    }
  ],
  "pinData": null,
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-08-23T00:27:28.438Z",
  "versionId": "8028679f-dcf1-4373-9196-c428cc909e9f"
}