workflows/[L070824] [AcessoEstendido_APA] - Compra aprovada - Parte 1.json
{
  "active": true,
  "connections": {
    "dados_da_compra": {
      "main": [
        [
          {
            "node": "entra_na_fila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chamada_guru": {
      "main": [
        [
          {
            "node": "dados_da_compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-23T00:27:28.318Z",
  "id": "g9Yp68SpjXdPVUWr",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[L070824] [AcessoEstendido_APA] - Compra aprovada - Parte 1",
  "nodes": [
    {
      "parameters": {
        "queue": "[AcessoEstendido_APA] - Compra aprovada",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "ee6da811-04be-4669-9e79-467ae77fdc85",
      "name": "entra_na_fila",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        1120,
        440
      ],
      "credentials": {
        "rabbitmq": {
          "id": "EpGcMDPOCNYbhT3V",
          "name": "[RABBIT] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1018099c-70c4-43ad-9276-9b2de01bc2f1",
              "name": "name",
              "value": "={{ $node[\"chamada_guru\"].json[\"body\"][\"contact\"][\"name\"] }}",
              "type": "string"
            },
            {
              "id": "e9a85442-d886-4319-9dd9-602ffeffb34b",
              "name": "email",
              "value": "={{ $node[\"chamada_guru\"].json[\"body\"][\"contact\"][\"email\"] }}",
              "type": "string"
            },
            {
              "id": "5c71bc9b-15c8-40f9-a27e-a3072dbac44f",
              "name": "phone",
              "value": "={{ $node[\"chamada_guru\"].json[\"body\"][\"contact\"][\"phone_number\"] }}",
              "type": "string"
            },
            {
              "id": "e772e919-be80-43e7-baa1-14ceaed3f3db",
              "name": "produto",
              "value": "={{ $node[\"chamada_guru\"].json[\"body\"][\"items\"][\"0\"][\"name\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4b179599-7b47-44d2-b4f1-23d604a458f3",
      "name": "dados_da_compra",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        920,
        440
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ae33843e-2eb9-4f52-8cdd-b77c32534d7d",
        "options": {}
      },
      "id": "b770dfba-96a2-4f30-bad5-7d764dcf3b0b",
      "name": "chamada_guru",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        720,
        440
      ],
      "webhookId": "ae33843e-2eb9-4f52-8cdd-b77c32534d7d"
    }
  ],
  "pinData": {
    "chamada_guru": [
      {
        "json": {
          "headers": {
            "host": "n8nwebhook.karinewaldrich.com.br",
            "user-agent": "digitalmanager.guru (dev@digitalmanager.guru)",
            "content-length": "3669",
            "content-type": "application/json",
            "x-forwarded-for": "35.196.165.212",
            "x-forwarded-host": "n8nwebhook.karinewaldrich.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "cadf6fe75461",
            "x-real-ip": "35.196.165.212",
            "x-request-id": "9cda9c97-e096-43a8-add8-934b919e3de8",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "affiliations": [],
            "api_token": "mZE0DQ7Z07Wgb679D5cvUctdbJnfbKv8aHEjP4SE",
            "checkout_url": "https://clkdmg.site/pay/31677a5c-4eb2-4462-aed5-abe37705f4c7",
            "contact": {
              "id": "9ccfd441-83bc-463f-8df3-e0cff378e5e7",
              "name": "Leonardo Freymuth",
              "company_name": "",
              "email": "leonardo.freymuth@gmail.com",
              "doc": "01279061006",
              "phone_number": "51994696045",
              "phone_local_code": "55",
              "address": "Felizardo Furtado",
              "address_number": "415",
              "address_comp": "",
              "address_district": "Petrópolis",
              "address_city": "Porto Alegre",
              "address_state": "RS",
              "address_state_full_name": "RS",
              "address_country": "BR",
              "address_zip_code": "90670090",
              "lead": []
            },
            "contracts": [],
            "dates": {
              "canceled_at": null,
              "confirmed_at": "2024-08-25T23:09:56Z",
              "created_at": "2024-08-25T23:08:31Z",
              "expires_at": null,
              "ordered_at": "2024-08-25T23:07:48Z",
              "unavailable_until": "2024-09-24T23:09:56Z",
              "updated_at": "2024-08-25T23:10:39Z",
              "warranty_until": "2024-09-24T23:09:56Z"
            },
            "ecommerces": [],
            "id": "9cda9b92-a318-4784-a148-cad3b364e264",
            "infrastructure": {
              "ip": "2804:7f4:c2b4:d19b:1091:a051:bf52:ab48",
              "city": "porto alegre",
              "host": "clkdmg.site",
              "region": "rs",
              "country": "BR",
              "user_agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/128.0.0.0 Safari/537.36",
              "city_lat_long": "-30.036818,-51.208989"
            },
            "invoice": [],
            "items": [
              {
                "id": "1723596911",
                "image_url": "https://storage.googleapis.com/disk.clkdmg.site/clients/9cc06a29-1c65-4438-8b99-74648646f77d/images/products/9cc2a08c-94ab-4a34-97bd-56d885b4b8bb.png",
                "internal_id": "9cc29e29-bcae-4349-8606-c515a8371ad0",
                "marketplace_id": "1723596911",
                "marketplace_name": "pagarme2",
                "name": "Acesso Estendido - 2 anos de APA com 70% de desconto",
                "offer": {
                  "id": "9cda94be-f523-4b15-9d64-b38831e91ec5",
                  "name": "Teste"
                },
                "producer": {
                  "contact_email": null,
                  "marketplace_id": "1723502287",
                  "name": "Cdw Treinamentos"
                },
                "qty": 1,
                "total_value": 1,
                "type": "product",
                "unit_value": 1
              }
            ],
            "last_transaction": [],
            "payment": {
              "affiliate_value": 0,
              "acquirer": {
                "code": "0000",
                "message": "Transação aprovada com sucesso",
                "name": "pagarme",
                "nsu": "3163186062",
                "tid": "3163186062"
              },
              "can_try_again": 1,
              "coupon": null,
              "currency": "BRL",
              "discount_value": 0,
              "gross": 1,
              "installments": {
                "value": 1,
                "qty": 1,
                "interest": 0
              },
              "marketplace_id": "ch_J6VYx4Bu9uMRlarO",
              "marketplace_name": "pagarme2",
              "marketplace_value": 0.01,
              "method": "credit_card",
              "net": 0.99,
              "processing_times": {
                "started_at": "2024-08-25T23:09:54.282Z",
                "finished_at": "2024-08-25T23:09:56.452Z",
                "delay_in_seconds": 2
              },
              "refund_reason": "",
              "refuse_reason": "Transação aprovada com sucesso (0000)",
              "tax": {
                "value": 0,
                "rate": 0
              },
              "total": 1,
              "credit_card": {
                "brand": "mastercard",
                "expiration_month": "10",
                "expiration_year": "2031",
                "first_digits": "538164",
                "id": "card_z3JOK6esL0iaXY0X",
                "last_digits": "7443"
              }
            },
            "product": {
              "id": "1723596911",
              "image_url": "https://storage.googleapis.com/disk.clkdmg.site/clients/9cc06a29-1c65-4438-8b99-74648646f77d/images/products/9cc2a08c-94ab-4a34-97bd-56d885b4b8bb.png",
              "internal_id": "9cc29e29-bcae-4349-8606-c515a8371ad0",
              "marketplace_id": "1723596911",
              "marketplace_name": "pagarme2",
              "name": "Acesso Estendido - 2 anos de APA com 70% de desconto",
              "offer": {
                "id": "9cda94be-f523-4b15-9d64-b38831e91ec5",
                "name": "Teste"
              },
              "producer": {
                "marketplace_id": "1723502287",
                "name": "Cdw Treinamentos",
                "contact_email": ""
              },
              "qty": 1,
              "total_value": 1,
              "type": "product",
              "unit_value": 1
            },
            "shipment": {
              "carrier": "",
              "service": "",
              "tracking": "",
              "value": 0,
              "status": "",
              "delivery_time": ""
            },
            "shipping": {
              "name": "Standard",
              "value": 0
            },
            "source": {
              "source": null,
              "checkout_source": null,
              "utm_source": null,
              "utm_campaign": null,
              "utm_medium": null,
              "utm_content": null,
              "utm_term": null,
              "pptc": []
            },
            "status": "approved",
            "subscription": [],
            "type": "producer"
          },
          "webhookUrl": "https://n8nwebhook.karinewaldrich.com.br/webhook/ae33843e-2eb9-4f52-8cdd-b77c32534d7d",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 600,
    "executionOrder": "v1",
    "errorWorkflow": "Ppi2Q8rUEdph2WkT"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-08-24T17:31:48.598Z",
      "updatedAt": "2024-08-24T17:31:48.598Z",
      "id": "zOVZsdbcnQeq7WWW",
      "name": "Digital Manager Guru"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-08-27T20:52:38.315Z",
  "versionId": "7e386122-db88-4fa4-966e-07dd485d08f8"
}