workflows/[L070824] [APA] - Compra aprovada - Parte 2.json
{
  "active": true,
  "connections": {
    "procura_pessoa": {
      "main": [
        [
          {
            "node": "pessoa_existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pessoa_existe?": {
      "main": [
        [
          {
            "node": "pesquisa_deal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria_pessoa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_pessoa": {
      "main": [
        [
          {
            "node": "busca_planilha_leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca_planilha_leads": {
      "main": [
        [
          {
            "node": "lead_existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_existe?": {
      "main": [
        [
          {
            "node": "atualiza_lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_lead": {
      "main": [
        [
          {
            "node": "deal_existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_lead": {
      "main": [
        [
          {
            "node": "deal_existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deal_existe?": {
      "main": [
        [
          {
            "node": "atualiza_deal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria_deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_deal": {
      "main": [
        [
          {
            "node": "insere_planilha_leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_deal": {
      "main": [
        [
          {
            "node": "insere_planilha_leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chega_da_fila": {
      "main": [
        []
      ]
    },
    "pesquisa_deal": {
      "main": [
        [
          {
            "node": "deal_existe?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deal_existe?1": {
      "main": [
        [
          {
            "node": "atualiza_deal1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria_deal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-24T17:44:11.306Z",
  "id": "VdcUf4aQhu1D8u8l",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[L070824] [APA] - Compra aprovada - Parte 2",
  "nodes": [
    {
      "parameters": {
        "queue": "[APA] - Compra aprovada",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "jsonParseBody": true,
          "parallelMessages": 1
        }
      },
      "id": "0496e896-7677-49d7-9a1b-7792eecf4d62",
      "name": "chega_da_fila",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        1440,
        200
      ],
      "credentials": {
        "rabbitmq": {
          "id": "EpGcMDPOCNYbhT3V",
          "name": "[RABBIT] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "resource": "person",
        "operation": "search",
        "term": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}",
        "additionalFields": {
          "fields": "email"
        }
      },
      "id": "1c707e2f-1ea8-42d4-bda0-ea5235d44a5b",
      "name": "procura_pessoa",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1680,
        200
      ],
      "alwaysOutputData": true,
      "credentials": {
        "pipedriveApi": {
          "id": "39J8KZF1iPy2gjSt",
          "name": "[PIPEDRIVE] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "8af697ad-d947-412c-b0f7-19fa896d6d6b",
              "leftValue": "={{ $node[\"procura_pessoa\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6755a767-7369-478f-8735-9678f7404146",
      "name": "pessoa_existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1940,
        200
      ]
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"fullname\"].trim() }}",
        "additionalFields": {
          "email": [
            "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}"
          ],
          "phone": [
            "={{ $node[\"chega_da_fila\"].json[\"content\"][\"whatsapp\"] }}"
          ]
        }
      },
      "id": "bf7e2f82-e803-41e0-aa9a-5c2b2bed5872",
      "name": "cria_pessoa",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        2200,
        560
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "39J8KZF1iPy2gjSt",
          "name": "[PIPEDRIVE] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1k8O9LuVh888Ppim9wSSzDyiPQI_55W_Dvwp48Vm-ywM",
          "mode": "list",
          "cachedResultName": "[L070824] - Dashboard de leads do lançamento",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k8O9LuVh888Ppim9wSSzDyiPQI_55W_Dvwp48Vm-ywM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads inscritos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k8O9LuVh888Ppim9wSSzDyiPQI_55W_Dvwp48Vm-ywM/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d8d18741-907f-4bb3-b98e-9c942af591eb",
      "name": "busca_planilha_leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        2440,
        560
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GkwdOuW9sYg3j9Px",
          "name": "[SHEETS] - apoiowaldrich7@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "793d5083-f531-4652-87db-57a3a9f73005",
              "leftValue": "={{ $node[\"busca_planilha_leads\"].json[\"ID Lead Pipedrive\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "db7bdbe6-3b73-456e-b78d-d2a8ff9c0d7d",
      "name": "lead_existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2680,
        560
      ]
    },
    {
      "parameters": {
        "resource": "lead",
        "operation": "update",
        "leadId": "={{ $node[\"busca_planilha_leads\"].json[\"ID Lead Pipedrive\"] }}",
        "updateFields": {}
      },
      "id": "839d5e19-8692-49d5-ba99-267ac1ef0296",
      "name": "atualiza_lead",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        2900,
        380
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "39J8KZF1iPy2gjSt",
          "name": "[PIPEDRIVE] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dealId": "={{ $node[\"busca_planilha_leads\"].json[\"ID Deal Pipedrive\"] }}",
        "updateFields": {
          "currency": "BRL",
          "user_id": "={{ $node[\"procura_closer_da_vez\"].json[\"id CRM\"] }}",
          "person_id": "={{   $node[\"cria_pessoa\"].runIndex >= 0        ? $node[\"cria_pessoa\"].json[\"id\"] : $node[\"procura_pessoa\"].runIndex >= 0      ? $node[\"procura_pessoa\"].json[\"id\"]     : null }}"
        }
      },
      "id": "32995d6e-8891-452a-8a9e-44466e4fbccc",
      "name": "atualiza_deal",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        3380,
        400
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "39J8KZF1iPy2gjSt",
          "name": "[PIPEDRIVE] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "title": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"fullname\"].trim() }}",
        "associateWith": "person",
        "person_id": "={{   $node[\"cria_pessoa\"].runIndex >= 0        ? $node[\"cria_pessoa\"].json[\"id\"] : $node[\"procura_pessoa\"].runIndex >= 0      ? $node[\"procura_pessoa\"].json[\"id\"]     : null }}",
        "additionalFields": {}
      },
      "id": "d10dfe75-a83d-44ce-a98e-50b61cc9da1a",
      "name": "cria_lead",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        2900,
        720
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "39J8KZF1iPy2gjSt",
          "name": "[PIPEDRIVE] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "title": "=[L070824] - {{ $node[\"chega_da_fila\"].json[\"content\"][\"fullname\"].trim() }}",
        "associateWith": "person",
        "person_id": "={{   $node[\"cria_pessoa\"].runIndex >= 0        ? $node[\"cria_pessoa\"].json[\"id\"] : $node[\"procura_pessoa\"].runIndex >= 0      ? $node[\"procura_pessoa\"].json[\"id\"]     : null }}",
        "additionalFields": {
          "currency": "BRL",
          "customProperties": {
            "property": [
              {
                "name": "19f75e0d64ec323764a616acb08e6de525fee5a4",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data do cadastro\"] }}"
              },
              {
                "name": "240b86c3727374674186111aff57e48c1f546b83",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
              },
              {
                "name": "ccfbc50fbd8dd3470eebfdb1bd4eab171e46ad78",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
              },
              {
                "name": "3edb25c8227aa018c8bb8c1dbff99ff37a86064f",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
              },
              {
                "name": "fc10082a9760b75370a50a5c4397b1f34edbe295",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
              },
              {
                "name": "84525393044084d7b382d86519a5325a9cc39b3e",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
              }
            ]
          },
          "stage_id": 35,
          "status": "open",
          "user_id": "={{ $node[\"procura_closer_da_vez\"].json[\"id CRM\"] }}"
        }
      },
      "id": "a752c4fb-afb9-4f59-b20e-6af9baab5460",
      "name": "cria_deal",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        3380,
        700
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "39J8KZF1iPy2gjSt",
          "name": "[PIPEDRIVE] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "793d5083-f531-4652-87db-57a3a9f73005",
              "leftValue": "={{ $node[\"busca_planilha_leads\"].json[\"ID Deal Pipedrive\"].toString() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5cd85390-d2a6-4810-b157-bcb035faab12",
      "name": "deal_existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3160,
        560
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1k8O9LuVh888Ppim9wSSzDyiPQI_55W_Dvwp48Vm-ywM",
          "mode": "list",
          "cachedResultName": "[L070824] - Dashboard de leads do lançamento",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k8O9LuVh888Ppim9wSSzDyiPQI_55W_Dvwp48Vm-ywM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1780670846,
          "mode": "list",
          "cachedResultName": "Banco de emails + CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k8O9LuVh888Ppim9wSSzDyiPQI_55W_Dvwp48Vm-ywM/edit#gid=1780670846"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}",
            "Nome": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"fullname\"] }}",
            "ID Lead Pipedrive": "={{   $node[\"cria_lead\"].runIndex >= 0        ? $node[\"cria_lead\"].json[\"id\"] : $node[\"atualiza_lead\"].runIndex >= 0      ? $node[\"atualiza_lead\"].json[\"id\"]     : null }}",
            "ID Deal Pipedrive": "={{   $node[\"cria_deal\"].runIndex >= 0        ? $node[\"cria_deal\"].json[\"id\"] : $node[\"atualiza_deal\"].runIndex >= 0      ? $node[\"atualiza_deal\"].json[\"id\"]     : null }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Lead Pipedrive",
              "displayName": "ID Lead Pipedrive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Deal Pipedrive",
              "displayName": "ID Deal Pipedrive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "8e490fd7-177e-4eb0-b6b8-66f539ac277c",
      "name": "insere_planilha_leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        3800,
        360
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GkwdOuW9sYg3j9Px",
          "name": "[SHEETS] - apoiowaldrich7@gmail.com"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "search",
        "term": "=[L070824]",
        "additionalFields": {
          "personId": "={{ $node[\"procura_pessoa\"].json[\"id\"] }}"
        }
      },
      "id": "3d36518d-fc46-4684-9eb9-a1d97478b298",
      "name": "pesquisa_deal",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        2840,
        -20
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "39J8KZF1iPy2gjSt",
          "name": "[PIPEDRIVE] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dealId": "={{ $node[\"deal_existe?1\"].json[\"id\"] }}",
        "updateFields": {
          "currency": "BRL",
          "user_id": "={{ $node[\"procura_closer_da_vez\"].json[\"id CRM\"] }}",
          "person_id": "={{ $node[\"procura_pessoa\"].json[\"id\"] }}"
        }
      },
      "id": "628a4450-43cc-4c8d-9c28-a61dc027bdba",
      "name": "atualiza_deal1",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        3340,
        -180
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "39J8KZF1iPy2gjSt",
          "name": "[PIPEDRIVE] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "title": "=[L070824] - {{ $node[\"chega_da_fila\"].json[\"content\"][\"fullname\"].trim() }}",
        "associateWith": "person",
        "person_id": "={{ $node[\"procura_pessoa\"].json[\"id\"] }}",
        "additionalFields": {
          "currency": "BRL",
          "customProperties": {
            "property": [
              {
                "name": "19f75e0d64ec323764a616acb08e6de525fee5a4",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data do cadastro\"] }}"
              },
              {
                "name": "240b86c3727374674186111aff57e48c1f546b83",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
              },
              {
                "name": "ccfbc50fbd8dd3470eebfdb1bd4eab171e46ad78",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
              },
              {
                "name": "3edb25c8227aa018c8bb8c1dbff99ff37a86064f",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
              },
              {
                "name": "fc10082a9760b75370a50a5c4397b1f34edbe295",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
              },
              {
                "name": "84525393044084d7b382d86519a5325a9cc39b3e",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
              }
            ]
          },
          "stage_id": 35,
          "status": "open",
          "user_id": "={{ $node[\"procura_closer_da_vez\"].json[\"id CRM\"] }}"
        }
      },
      "id": "e416d37f-73fc-41e7-a083-947e4922535a",
      "name": "cria_deal1",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        3340,
        120
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "39J8KZF1iPy2gjSt",
          "name": "[PIPEDRIVE] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "793d5083-f531-4652-87db-57a3a9f73005",
              "leftValue": "={{ $node[\"pesquisa_deal\"].json[\"id\"].toString() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a2e246f8-fad8-479a-9429-b0343d3c7496",
      "name": "deal_existe?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3120,
        -20
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "saveExecutionProgress": false,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 600,
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-08-24T17:43:36.741Z",
      "updatedAt": "2024-08-24T17:43:36.741Z",
      "id": "i7SuC2TpFzNLFI9r",
      "name": "Pipedrive"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-08-24T17:51:11.408Z",
  "versionId": "d1079b7b-2567-4d28-ad0a-21c8801a271d"
}