workflows/[L070824] [APA] - Compra aprovada - Parte 2.json
{
  "active": true,
  "connections": {
    "pesquisa_deal": {
      "main": [
        [
          {
            "node": "ja_fez_call?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ja_fez_call?": {
      "main": [
        [
          {
            "node": "distribui_closer1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "fecha_negocio_sem_comissao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "distribui_closer1": {
      "main": [
        [
          {
            "node": "fecha_negocio_comissao_rayane",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "fecha_negocio_comissao_jessica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca_tags_pessoa": {
      "main": [
        [
          {
            "node": "nao_tem_tags?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_tem_tags?": {
      "main": [
        [
          {
            "node": "adicionar_tag_APA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "adicionar_tag_APA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "adicionar_tag_APA": {
      "main": [
        [
          {
            "node": "pesquisa_deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "adicionar_tag_APA1": {
      "main": [
        [
          {
            "node": "pesquisa_deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "procura_pessoa": {
      "main": [
        [
          {
            "node": "pessoa_existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chega_da_fila": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "procura_pessoa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pessoa_existe?": {
      "main": [
        [
          {
            "node": "busca_tags_pessoa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "nao_encontrou_pessoa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-24T17:44:11.306Z",
  "id": "VdcUf4aQhu1D8u8l",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[L070824] [APA] - Compra aprovada - Parte 2",
  "nodes": [
    {
      "parameters": {
        "queue": "[APA] - Compra aprovada",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "jsonParseBody": true,
          "parallelMessages": 1
        }
      },
      "id": "0496e896-7677-49d7-9a1b-7792eecf4d62",
      "name": "chega_da_fila",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        140,
        220
      ],
      "credentials": {
        "rabbitmq": {
          "id": "EpGcMDPOCNYbhT3V",
          "name": "[RABBIT] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "term": "=[L070824]",
        "additionalFields": {
          "personId": "={{ $node[\"procura_pessoa\"].json[\"id\"] }}"
        }
      },
      "id": "3d36518d-fc46-4684-9eb9-a1d97478b298",
      "name": "pesquisa_deal",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        2260,
        60
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "39J8KZF1iPy2gjSt",
          "name": "[PIPEDRIVE] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "16b7cbfd-ba1e-487a-9fcb-10808820e341",
              "leftValue": "={{ $json[\"stage\"][\"name\"] }}",
              "rightValue": "Fiz Call - Avisar abertura do carrinho",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "8418dc00-cfbf-4347-be5b-93c002086f29",
              "leftValue": "={{ $json[\"stage\"][\"name\"] }}",
              "rightValue": "Fiz Call - Avisar Aula 3",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "c3d3b511-0170-411d-8971-8de077eb843a",
              "leftValue": "={{ $json[\"stage\"][\"name\"] }}",
              "rightValue": "Fiz Call - Avisar Aula 1",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "0d22772d-7f76-40c4-a412-bc3aa0a661ee",
      "name": "ja_fez_call?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2560,
        -60
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dealId": "={{ $node[\"pesquisa_deal\"].json[\"id\"] }}",
        "updateFields": {
          "currency": "BRL",
          "person_id": "={{ $node[\"procura_pessoa\"].json[\"id\"] }}",
          "status": "won"
        }
      },
      "id": "628a4450-43cc-4c8d-9c28-a61dc027bdba",
      "name": "fecha_negocio_sem_comissao",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        2840,
        200
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "39J8KZF1iPy2gjSt",
          "name": "[PIPEDRIVE] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dealId": "={{ $node[\"pesquisa_deal\"].json[\"id\"] }}",
        "updateFields": {
          "currency": "BRL",
          "label": 90,
          "person_id": "={{ $node[\"procura_pessoa\"].json[\"id\"] }}",
          "status": "won"
        }
      },
      "id": "0a458ddf-6cb4-4b13-97f1-4e7ca49d732a",
      "name": "fecha_negocio_comissao_rayane",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        3100,
        -540
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "39J8KZF1iPy2gjSt",
          "name": "[PIPEDRIVE] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dealId": "={{ $node[\"pesquisa_deal\"].json[\"id\"] }}",
        "updateFields": {
          "currency": "BRL",
          "label": 47,
          "person_id": "={{ $node[\"procura_pessoa\"].json[\"id\"] }}",
          "status": "won"
        }
      },
      "id": "d8c61dcc-35f3-4bfe-b872-937562e216df",
      "name": "fecha_negocio_comissao_jessica",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        3100,
        -260
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "39J8KZF1iPy2gjSt",
          "name": "[PIPEDRIVE] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json[\"owner\"][\"id\"] }}",
                    "rightValue": 21963603,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rayane"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "a98b5745-a7bc-4995-8bf7-13b47a22f487",
                    "leftValue": "={{ $json[\"owner\"][\"id\"] }}",
                    "rightValue": 21330817,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Jéssica"
            }
          ]
        },
        "options": {}
      },
      "id": "0fc07374-55c3-428f-86ed-6d8a435ee0ae",
      "name": "distribui_closer1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2840,
        -400
      ]
    },
    {
      "parameters": {
        "resource": "person",
        "operation": "get",
        "personId": "={{ $node[\"procura_pessoa\"].json[\"id\"] }}"
      },
      "id": "c4e9da1d-4fc7-4c56-a0b0-8929f04900ea",
      "name": "busca_tags_pessoa",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1400,
        60
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "39J8KZF1iPy2gjSt",
          "name": "[PIPEDRIVE] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a912e2aa-c09c-4124-87eb-c7ac2728f4ae",
              "leftValue": "={{ $node[\"busca_tags_pessoa\"].json[\"label_ids\"] }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2be3fdf4-7d09-4a70-aa9f-4d20eaedf49a",
      "name": "nao_tem_tags?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1660,
        60
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.pipedrive.com/v1/persons/{{ $node[\"procura_pessoa\"].json[\"id\"] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pipedriveApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"label_ids\": [91]\n}",
        "options": {}
      },
      "id": "11613e69-54a1-4fae-8c18-414781d1660e",
      "name": "adicionar_tag_APA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        -100
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "39J8KZF1iPy2gjSt",
          "name": "[PIPEDRIVE] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.pipedrive.com/v1/persons/{{ $node[\"procura_pessoa\"].json[\"id\"] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pipedriveApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"label_ids\": [{{ $json[\"label_ids\"] }}, 91]\n}",
        "options": {}
      },
      "id": "68fd62a2-02ae-435c-b27d-d9abd5c823da",
      "name": "adicionar_tag_APA1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        240
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "39J8KZF1iPy2gjSt",
          "name": "[PIPEDRIVE] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "resource": "person",
        "operation": "search",
        "term": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}",
        "additionalFields": {
          "fields": "email"
        }
      },
      "id": "f93bff7a-7aa0-426b-bab5-0c0abcde4103",
      "name": "procura_pessoa",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        760,
        220
      ],
      "alwaysOutputData": true,
      "credentials": {
        "pipedriveApi": {
          "id": "39J8KZF1iPy2gjSt",
          "name": "[PIPEDRIVE] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "516cea9b-11bb-49e9-91be-378896a79c02",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        360,
        220
      ]
    },
    {
      "parameters": {},
      "id": "16f070bc-0571-4bdd-b9d0-bb5a6e06cff3",
      "name": "Replace Me",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        920,
        440
      ]
    },
    {
      "parameters": {},
      "id": "431b346e-5300-4548-afae-cb2c8b278560",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        620,
        440
      ],
      "webhookId": "b68ea374-38f8-41d0-b665-6e42947ccd64"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "3ed818a7-58bd-4d1e-9b0e-2364585d1334",
              "leftValue": "={{ $node[\"procura_pessoa\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c57a3c79-52bc-4682-b2a1-b9ec87bfb871",
      "name": "pessoa_existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1060,
        220
      ]
    },
    {
      "parameters": {},
      "id": "29f52f19-ee10-4e98-b9cd-2047aba5eb6f",
      "name": "nao_encontrou_pessoa",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1420,
        360
      ]
    }
  ],
  "pinData": {
    "chega_da_fila": [
      {
        "json": {
          "fields": {
            "consumerTag": "amq.ctag-pF-K1ucVdkQyGwVzG40NcQ",
            "deliveryTag": 2,
            "redelivered": false,
            "exchange": "",
            "routingKey": "[APA] - Compra aprovada"
          },
          "properties": {
            "headers": {}
          },
          "content": {
            "name": "Leonardo Lacerda Freymuth",
            "email": "leonardo.freymuth@gmail.com",
            "phone": "51994696045",
            "produto": "Ação Para Aprovação"
          }
        }
      }
    ]
  },
  "settings": {
    "saveExecutionProgress": false,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 600,
    "executionOrder": "v1",
    "errorWorkflow": "Ppi2Q8rUEdph2WkT"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-08-24T17:43:36.741Z",
      "updatedAt": "2024-08-24T17:43:36.741Z",
      "id": "i7SuC2TpFzNLFI9r",
      "name": "Pipedrive"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-08-27T20:52:00.483Z",
  "versionId": "6fe83d12-d06d-4cc4-a7f9-fcb3911204bc"
}