workflows/[L070824] [AcessoEstendido_APA] - Compra aprovada - Parte 2.json
{
  "active": true,
  "connections": {
    "chega_da_fila": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "procura_pessoa": {
      "main": [
        [
          {
            "node": "pessoa_existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca_tags_pessoa": {
      "main": [
        [
          {
            "node": "nao_tem_tags?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_tem_tags?": {
      "main": [
        [
          {
            "node": "adicionar_tags",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "adicionar_tags1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "procura_pessoa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pessoa_existe?": {
      "main": [
        [
          {
            "node": "busca_tags_pessoa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "nao_encontrou_pessoa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-26T00:25:01.283Z",
  "id": "5YCSPeTZR8CzyslJ",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[L070824] [AcessoEstendido_APA] - Compra aprovada - Parte 2",
  "nodes": [
    {
      "parameters": {
        "queue": "[AcessoEstendido_APA] - Compra aprovada",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "jsonParseBody": true,
          "parallelMessages": 1
        }
      },
      "id": "0c15c333-986e-4a3e-a2b9-4653db6e198d",
      "name": "chega_da_fila",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        340,
        340
      ],
      "credentials": {
        "rabbitmq": {
          "id": "EpGcMDPOCNYbhT3V",
          "name": "[RABBIT] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "resource": "person",
        "operation": "search",
        "term": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}",
        "additionalFields": {
          "fields": "email"
        }
      },
      "id": "a0aa90e3-e200-46b3-bd6f-de97aa97e6ea",
      "name": "procura_pessoa",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        940,
        320
      ],
      "alwaysOutputData": true,
      "credentials": {
        "pipedriveApi": {
          "id": "39J8KZF1iPy2gjSt",
          "name": "[PIPEDRIVE] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "resource": "person",
        "operation": "get",
        "personId": "={{ $node[\"procura_pessoa\"].json[\"id\"] }}"
      },
      "id": "f9a4e1d7-1fae-4164-89f0-2ca3938b32bb",
      "name": "busca_tags_pessoa",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1420,
        140
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "39J8KZF1iPy2gjSt",
          "name": "[PIPEDRIVE] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.pipedrive.com/v1/persons/{{ $node[\"procura_pessoa\"].json[\"id\"] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pipedriveApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"label_ids\": [93]\n}",
        "options": {}
      },
      "id": "0ae15136-f2d6-45b9-ab33-d3a79de2d7b8",
      "name": "adicionar_tags",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1940,
        -40
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "39J8KZF1iPy2gjSt",
          "name": "[PIPEDRIVE] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.pipedrive.com/v1/persons/{{ $node[\"procura_pessoa\"].json[\"id\"] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pipedriveApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"label_ids\": [{{ $json[\"label_ids\"] }}, 93]\n}",
        "options": {}
      },
      "id": "e99549b9-6b61-461f-a240-b90a73e3071c",
      "name": "adicionar_tags1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1940,
        300
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "39J8KZF1iPy2gjSt",
          "name": "[PIPEDRIVE] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a912e2aa-c09c-4124-87eb-c7ac2728f4ae",
              "leftValue": "={{ $node[\"busca_tags_pessoa\"].json[\"label_ids\"] }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a0fce985-07ef-4027-97e1-f0f1a1c07804",
      "name": "nao_tem_tags?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1680,
        140
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f882fcfc-9bc2-4e40-a7c4-9d7226862c18",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        560,
        340
      ]
    },
    {
      "parameters": {},
      "id": "721884a4-e43d-45af-988c-330af9970c92",
      "name": "Replace Me",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1020,
        560
      ]
    },
    {
      "parameters": {},
      "id": "b53b0ab1-7555-4879-8949-40e02e705234",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        780,
        560
      ],
      "webhookId": "1d595974-4505-4768-bbeb-8775feb46530"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "3ed818a7-58bd-4d1e-9b0e-2364585d1334",
              "leftValue": "={{ $node[\"procura_pessoa\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d359b2f6-e428-4b58-8c00-54055d690c0e",
      "name": "pessoa_existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1160,
        320
      ]
    },
    {
      "parameters": {},
      "id": "2176b1ce-89e2-45b6-8595-1dd265862ab7",
      "name": "nao_encontrou_pessoa",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1420,
        520
      ]
    }
  ],
  "pinData": {
    "chega_da_fila": [
      {
        "json": {
          "fields": {
            "consumerTag": "amq.ctag-AjytXb9U-5FSDZdgGrmVZQ",
            "deliveryTag": 2,
            "redelivered": false,
            "exchange": "",
            "routingKey": "[AcessoEstendido_APA] - Compra aprovada"
          },
          "properties": {
            "headers": {}
          },
          "content": {
            "name": "Leonardo Freymuth",
            "email": "leonardo.freymuth@gmail.com",
            "phone": "51994696045",
            "produto": "Acesso Estendido - 2 anos de APA com 70% de desconto"
          }
        }
      }
    ]
  },
  "settings": {
    "saveExecutionProgress": false,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 600,
    "executionOrder": "v1",
    "errorWorkflow": "Ppi2Q8rUEdph2WkT"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-08-24T17:43:36.741Z",
      "updatedAt": "2024-08-24T17:43:36.741Z",
      "id": "i7SuC2TpFzNLFI9r",
      "name": "Pipedrive"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-08-26T22:28:35.546Z",
  "versionId": "d645b524-8a56-4b30-ad3a-bb6e12d72bf6"
}