workflows/[L070824] [EPT] - Compra aprovada - Parte 2.json
{
  "active": true,
  "connections": {
    "procura_pessoa": {
      "main": [
        [
          {
            "node": "pessoa_existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chega_da_fila": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca_tags_pessoa": {
      "main": [
        [
          {
            "node": "nao_tem_tags?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_tem_tags?": {
      "main": [
        [
          {
            "node": "adicionar_tags",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "adicionar_tags1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "procura_pessoa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pessoa_existe?": {
      "main": [
        [
          {
            "node": "busca_tags_pessoa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "nao_encontrou_pessoa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-26T00:31:23.316Z",
  "id": "EUcl0R3utlfyVNSg",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[L070824] [EPT] - Compra aprovada - Parte 2",
  "nodes": [
    {
      "parameters": {
        "queue": "[EPT] - Compra aprovada",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "jsonParseBody": true,
          "parallelMessages": 1
        }
      },
      "id": "8e126f7a-2a00-4ef6-9ded-d5ae0db4c74d",
      "name": "chega_da_fila",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        1240,
        200
      ],
      "credentials": {
        "rabbitmq": {
          "id": "EpGcMDPOCNYbhT3V",
          "name": "[RABBIT] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "resource": "person",
        "operation": "search",
        "term": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"email\"] }}",
        "additionalFields": {
          "fields": "email"
        }
      },
      "id": "756cc49c-205f-4b8b-820c-e2a652e712f6",
      "name": "procura_pessoa",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1860,
        140
      ],
      "alwaysOutputData": true,
      "credentials": {
        "pipedriveApi": {
          "id": "39J8KZF1iPy2gjSt",
          "name": "[PIPEDRIVE] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "resource": "person",
        "operation": "get",
        "personId": "={{ $node[\"procura_pessoa\"].json[\"id\"] }}"
      },
      "id": "0ac64a8b-6f61-4365-a8b2-90c92ef0e30c",
      "name": "busca_tags_pessoa",
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        2440,
        -20
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "39J8KZF1iPy2gjSt",
          "name": "[PIPEDRIVE] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.pipedrive.com/v1/persons/{{ $node[\"procura_pessoa\"].json[\"id\"] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pipedriveApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"label_ids\": [92]\n}",
        "options": {}
      },
      "id": "6db3ba8b-fffe-443d-9993-4d27a7f059a6",
      "name": "adicionar_tags",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2960,
        -220
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "39J8KZF1iPy2gjSt",
          "name": "[PIPEDRIVE] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.pipedrive.com/v1/persons/{{ $node[\"procura_pessoa\"].json[\"id\"] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pipedriveApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"label_ids\": [{{ $json[\"label_ids\"] }}, 92]\n}",
        "options": {}
      },
      "id": "ac0398d0-c7b7-488d-a1af-a6876ff9a5ae",
      "name": "adicionar_tags1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2960,
        140
      ],
      "credentials": {
        "pipedriveApi": {
          "id": "39J8KZF1iPy2gjSt",
          "name": "[PIPEDRIVE] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a912e2aa-c09c-4124-87eb-c7ac2728f4ae",
              "leftValue": "={{ $node[\"busca_tags_pessoa\"].json[\"label_ids\"] }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1612361f-468b-471f-a23d-69351c2335ad",
      "name": "nao_tem_tags?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2660,
        -20
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a3b1bc03-7edc-459a-9a87-aaa47bca9c58",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1460,
        200
      ]
    },
    {
      "parameters": {},
      "id": "4110f10d-84f5-4836-bb8c-029549f1ba25",
      "name": "Replace Me",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1900,
        400
      ]
    },
    {
      "parameters": {},
      "id": "88a0c646-2fd7-499e-ba8b-0282fbda2095",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1660,
        400
      ],
      "webhookId": "c5096f8c-6f0f-4401-b486-bf69bf7d0192"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "3ed818a7-58bd-4d1e-9b0e-2364585d1334",
              "leftValue": "={{ $node[\"procura_pessoa\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6fdb68e0-1121-4511-975b-46eb01dcb751",
      "name": "pessoa_existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2100,
        140
      ]
    },
    {
      "parameters": {},
      "id": "f0b172b0-bd24-4bf2-9198-c01d84a2598d",
      "name": "nao_encontrou_pessoa",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2440,
        340
      ]
    }
  ],
  "pinData": {
    "chega_da_fila": [
      {
        "json": {
          "fields": {
            "consumerTag": "amq.ctag-JZgJocJqYu-mhsJnQQ7NSg",
            "deliveryTag": 1,
            "redelivered": false,
            "exchange": "",
            "routingKey": "[EPT] - Compra aprovada"
          },
          "properties": {
            "headers": {}
          },
          "content": {
            "name": "Leonardo Freymuth",
            "email": "leonardo.freymuth@gmail.com",
            "phone": "51994696045",
            "produto": "Exatas Para Todos - Combo Acesso Completo"
          }
        }
      }
    ]
  },
  "settings": {
    "saveExecutionProgress": false,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 600,
    "executionOrder": "v1",
    "errorWorkflow": "Ppi2Q8rUEdph2WkT"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-08-24T17:43:36.741Z",
      "updatedAt": "2024-08-24T17:43:36.741Z",
      "id": "i7SuC2TpFzNLFI9r",
      "name": "Pipedrive"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-08-27T20:52:28.870Z",
  "versionId": "e2b3c726-4c07-4675-a29f-d576ca8fbb51"
}