workflows/[L070824] [EPT] - Compra aprovada - Parte 1.json
{
  "active": true,
  "connections": {
    "dados_da_compra": {
      "main": [
        [
          {
            "node": "entra_na_fila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chamada_guru": {
      "main": [
        [
          {
            "node": "dados_da_compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-24T17:32:02.159Z",
  "id": "uWOLtjwhgk2SJsE9",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[L070824] [EPT] - Compra aprovada - Parte 1",
  "nodes": [
    {
      "parameters": {
        "queue": "[EPT] - Compra aprovada",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "b08b474f-96af-4e58-bb55-0d3db857fec1",
      "name": "entra_na_fila",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        1220,
        440
      ],
      "credentials": {
        "rabbitmq": {
          "id": "EpGcMDPOCNYbhT3V",
          "name": "[RABBIT] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1018099c-70c4-43ad-9276-9b2de01bc2f1",
              "name": "name",
              "value": "={{ $node[\"chamada_guru\"].json[\"body\"][\"contact\"][\"name\"] }}",
              "type": "string"
            },
            {
              "id": "e9a85442-d886-4319-9dd9-602ffeffb34b",
              "name": "email",
              "value": "={{ $node[\"chamada_guru\"].json[\"body\"][\"contact\"][\"email\"] }}",
              "type": "string"
            },
            {
              "id": "5c71bc9b-15c8-40f9-a27e-a3072dbac44f",
              "name": "phone",
              "value": "={{ $node[\"chamada_guru\"].json[\"body\"][\"contact\"][\"phone_number\"] }}",
              "type": "string"
            },
            {
              "id": "e772e919-be80-43e7-baa1-14ceaed3f3db",
              "name": "produto",
              "value": "={{ $node[\"chamada_guru\"].json[\"body\"][\"items\"][\"0\"][\"name\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5813af8f-cb12-4450-a697-390800453a62",
      "name": "dados_da_compra",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1000,
        440
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6fd0620a-570e-471c-a945-0b071b1c3600",
        "options": {}
      },
      "id": "03520a8f-55d1-4609-ae33-0ec3b2fdd83c",
      "name": "chamada_guru",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        800,
        440
      ],
      "webhookId": "6fd0620a-570e-471c-a945-0b071b1c3600"
    }
  ],
  "pinData": {
    "chamada_guru": [
      {
        "json": {
          "headers": {
            "host": "n8nwebhook.karinewaldrich.com.br",
            "user-agent": "digitalmanager.guru (dev@digitalmanager.guru)",
            "content-length": "3591",
            "content-type": "application/json",
            "x-forwarded-for": "35.196.29.143",
            "x-forwarded-host": "n8nwebhook.karinewaldrich.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "cadf6fe75461",
            "x-real-ip": "35.196.29.143",
            "x-request-id": "9cda9f74-0a7d-4d94-b152-dbd272546feb",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "affiliations": [],
            "api_token": "mZE0DQ7Z07Wgb679D5cvUctdbJnfbKv8aHEjP4SE",
            "checkout_url": "https://clkdmg.site/pay/71264010-6c38-4e94-8403-96fc697704fc",
            "contact": {
              "id": "9ccfd441-83bc-463f-8df3-e0cff378e5e7",
              "name": "Leonardo Freymuth",
              "company_name": "",
              "email": "leonardo.freymuth@gmail.com",
              "doc": "01279061006",
              "phone_number": "51994696045",
              "phone_local_code": "55",
              "address": "Rua Felizardo Furtado",
              "address_number": "415",
              "address_comp": "",
              "address_district": "Petrópolis",
              "address_city": "Porto Alegre",
              "address_state": "RS",
              "address_state_full_name": "RS",
              "address_country": "BR",
              "address_zip_code": "90670090",
              "lead": []
            },
            "contracts": [],
            "dates": {
              "canceled_at": null,
              "confirmed_at": null,
              "created_at": "2024-08-25T23:18:18Z",
              "expires_at": null,
              "ordered_at": "2024-08-25T23:17:56Z",
              "unavailable_until": null,
              "updated_at": "2024-08-25T23:18:39Z",
              "warranty_until": null
            },
            "ecommerces": [],
            "id": "9cda9f32-648a-4c01-bf3c-3105281a108f",
            "infrastructure": {
              "user_agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/128.0.0.0 Safari/537.36",
              "ip": "2804:7f4:c2b4:d19b:1091:a051:bf52:ab48",
              "country": "BR",
              "region": "rs",
              "city": "porto alegre",
              "city_lat_long": "-30.036818,-51.208989",
              "host": "clkdmg.site"
            },
            "invoice": [],
            "items": [
              {
                "id": "1724330791",
                "image_url": "https://storage.googleapis.com/disk.clkdmg.site/clients/9cc06a29-1c65-4438-8b99-74648646f77d/images/products/9cd3ba4e-83c2-40e2-9b0d-44941b9e7e23.png",
                "internal_id": "9cd3b4a7-b594-4e09-ac64-de51137da200",
                "marketplace_id": "1724330791",
                "marketplace_name": "pagarme2",
                "name": "Exatas Para Todos - Combo Acesso Completo",
                "offer": {
                  "id": "9cda94ff-5716-453e-88ac-8e295e9f36a1",
                  "name": "Teste"
                },
                "producer": {
                  "contact_email": null,
                  "marketplace_id": "1723502287",
                  "name": "Cdw Treinamentos"
                },
                "qty": 1,
                "total_value": 1,
                "type": "product",
                "unit_value": 1
              }
            ],
            "last_transaction": [],
            "payment": {
              "affiliate_value": 0,
              "acquirer": {
                "code": "0000",
                "message": "Transação aprovada com sucesso",
                "name": "pagarme",
                "nsu": "3163222659",
                "tid": "3163222659"
              },
              "can_try_again": 1,
              "coupon": null,
              "currency": "BRL",
              "discount_value": 0,
              "gross": 1,
              "installments": {
                "value": 1,
                "qty": 1,
                "interest": 0
              },
              "marketplace_id": "ch_dJmEwbyUjUr4kyvA",
              "marketplace_name": "pagarme2",
              "marketplace_value": 0,
              "method": "credit_card",
              "net": 1,
              "processing_times": {
                "started_at": "2024-08-25T23:18:37.709Z",
                "finished_at": "2024-08-25T23:18:39.671Z",
                "delay_in_seconds": 1
              },
              "refund_reason": "",
              "refuse_reason": "Transação aprovada com sucesso (0000)",
              "tax": {
                "value": 0,
                "rate": 0
              },
              "total": 1,
              "credit_card": {
                "brand": "mastercard",
                "expiration_month": "10",
                "expiration_year": "2031",
                "first_digits": "538164",
                "id": "card_z3JOK6esL0iaXY0X",
                "last_digits": "7443"
              }
            },
            "product": {
              "id": "1724330791",
              "image_url": "https://storage.googleapis.com/disk.clkdmg.site/clients/9cc06a29-1c65-4438-8b99-74648646f77d/images/products/9cd3ba4e-83c2-40e2-9b0d-44941b9e7e23.png",
              "internal_id": "9cd3b4a7-b594-4e09-ac64-de51137da200",
              "marketplace_id": "1724330791",
              "marketplace_name": "pagarme2",
              "name": "Exatas Para Todos - Combo Acesso Completo",
              "offer": {
                "id": "9cda94ff-5716-453e-88ac-8e295e9f36a1",
                "name": "Teste"
              },
              "producer": {
                "marketplace_id": "1723502287",
                "name": "Cdw Treinamentos",
                "contact_email": ""
              },
              "qty": 1,
              "total_value": 1,
              "type": "product",
              "unit_value": 1
            },
            "shipment": {
              "carrier": "",
              "service": "",
              "tracking": "",
              "value": 0,
              "status": "",
              "delivery_time": ""
            },
            "shipping": {
              "name": "Standard",
              "value": 0
            },
            "source": {
              "source": null,
              "checkout_source": null,
              "utm_source": null,
              "utm_campaign": null,
              "utm_medium": null,
              "utm_content": null,
              "utm_term": null,
              "pptc": []
            },
            "status": "approved",
            "subscription": [],
            "type": "producer"
          },
          "webhookUrl": "https://n8nwebhook.karinewaldrich.com.br/webhook/6fd0620a-570e-471c-a945-0b071b1c3600",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 600,
    "executionOrder": "v1",
    "errorWorkflow": "Ppi2Q8rUEdph2WkT"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-08-24T17:31:48.598Z",
      "updatedAt": "2024-08-24T17:31:48.598Z",
      "id": "zOVZsdbcnQeq7WWW",
      "name": "Digital Manager Guru"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-08-25T23:36:50.764Z",
  "versionId": "96679f15-d6d9-4ae4-a7e3-a16f189bc797"
}