workflows/[N8N] - Backup de workflows.json
{
  "active": true,
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "github_status": {
      "main": [
        [
          {
            "node": "same",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "same": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "different": {
      "main": [
        [
          {
            "node": "GitHub Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new": {
      "main": [
        [
          {
            "node": "GitHub Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Edit": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneAtATime": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 12 hours": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "github_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-23T00:40:14.779Z",
  "id": "x0J7MGgCW4J0GIst",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[N8N] - Backup de workflows",
  "nodes": [
    {
      "parameters": {},
      "id": "ef1ecdc9-de9b-48e5-861c-883a17391ea2",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "position": [
        -1065,
        535
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "c0d31bde-fe56-4269-a6e2-8f8ce6ffa228",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        -220,
        500
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "zQ3WTvR12PQkhKsn",
          "name": "[GITHUB] - KarineWaldrich"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"github_status\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "1d7b6a18-16c4-4c73-a1ad-4f5865e7489c",
      "name": "github_status",
      "type": "n8n-nodes-base.switch",
      "position": [
        420,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "6056d159-a186-46b9-ab27-3406283408e6",
      "name": "same",
      "type": "n8n-nodes-base.noOp",
      "position": [
        660,
        440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "e5e3a08e-37f9-4d06-9f3e-a87695c357f1",
      "name": "different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        660,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "fbfe815d-14ea-4119-8b67-5ee346c3c24d",
      "name": "new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        660,
        820
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "fd4468c6-a129-4f24-b1ef-4cd025cb3cee",
      "name": "GitHub Edit",
      "type": "n8n-nodes-base.github",
      "position": [
        840,
        640
      ],
      "typeVersion": 1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "zQ3WTvR12PQkhKsn",
          "name": "[GITHUB] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "5e437c63-4427-42f7-a5de-f6c5a7c48d7e",
      "name": "GitHub Create",
      "type": "n8n-nodes-base.github",
      "position": [
        840,
        820
      ],
      "typeVersion": 1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "zQ3WTvR12PQkhKsn",
          "name": "[GITHUB] - KarineWaldrich"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "e2660213-a8b5-448f-a1aa-9bdda4d2451d",
      "name": "OneAtATime",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -440,
        660
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "leofreymuth"
            },
            {
              "name": "repo.name",
              "value": "n8n-karinewaldrich"
            },
            {
              "name": "repo.path",
              "value": "workflows/"
            }
          ]
        },
        "options": {}
      },
      "id": "6d491d96-65d8-4273-834e-9078dd914302",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        -880,
        660
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 12
            }
          ]
        }
      },
      "id": "31dda9ea-23dc-427b-94ca-878b41253dbe",
      "name": "Every 12 hours",
      "type": "n8n-nodes-base.cron",
      "position": [
        -1065,
        795
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Workflow Backups\nThis workflow will automatically backup your workflows to your Github account every 12 hours.\n\n### Setup\nOpen Globals and update the values below\n**repo.owner:** This is your Github username\n**repo.name:** This is the name of your repository\n**repo.path:** This is the folder to use within the repository, If it doesn't exist it will be created.\n\nIf your username was `n8n-io` and your repository was called `n8n-backups` and you wanted the workflows to go into a `workflows` folder you would set:\n\nrepo.owner - n8n-io\nrepo.name - n8n-backups\nrepo.path - workflows",
        "height": 464.79920462713443,
        "width": 389.78906250000017
      },
      "id": "e09c1f8e-e624-4ef1-a9ff-30e819539fe9",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1520,
        440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Single Item Loop\nWe process each workflow item one at a time, We first check Github to see if a file exists then we merge the Github Data and the API item so we can check if the values match in the function node `isDiffOrNew` we then set a status of `same`, `different` or `new`",
        "height": 424.04333333333386,
        "width": 755.2349999999991
      },
      "id": "0f3903df-15b1-499f-b7b2-97924efc8355",
      "name": "Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -460,
        380
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Save the data\nUsing the switch node we work out what to do based on the previous status,  If it is the same we do nothing, If it is different we update the file in Github and if it is new we create a new file. After this is done we loop back to the Split in Batches node (OneAtAtTime) to start the process again.",
        "height": 693.9283333333326,
        "width": 666.4416666666662
      },
      "id": "7794a4d4-e169-456d-9e1a-f4dd9b057646",
      "name": "Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "9981070f-8a5d-461c-aef8-7ac80dfbbff6",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -680,
        660
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "3rQ6f3UMFkfdUCPT",
          "name": "[N8N] - KarineWaldrich (novo)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// File Returned with Content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64'));\n  var n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    $input.all()[0].json.github_status = \"same\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = ($input.all()[1].json);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn $input.all();"
      },
      "id": "09c8c3e7-8f54-4f54-a0c2-df150e0d6b16",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        180,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "72d23edc-f203-4c70-8aed-a78cfef417b1",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        0,
        640
      ],
      "typeVersion": 2
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-08-23T00:41:55.541Z",
  "versionId": "e119e1c2-5807-4d88-a31d-161e2eba1009"
}